/* ------------------------------------------------
 * RESUME PAGE STYLES
 * --------------------------------------------- */
.resume-wrap {}
.resume-title {
	font-size: 36px;
	font-weight: bold;
	margin: 0 0 10px 0;
}
.resume-desc {
	font-size: 20px;
	font-style: italic;
}
.resume-item {
	margin: 20px 0;
}
.resume-item a {
	color: #999;
	font-weight: normal;
}
.resume-item-title {
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 10px 0;
}
.resume-obj {}
.resume-item-date {
	font-weight: bold;
}
.resume-item-location,
.resume-item-contact,
.resume-item-link {
	font-size: 14px;
	margin: 0 0 5px 0;
}
.resume-item-location a {
	border-bottom: 1px dotted #333;
}
.resume-item-location a:hover,
.resume-item-location a:active,
.resume-item-contact a:hover,
.resume-item-contact a:active {
	color: #fff;
}
.resume-item-achievement {
	font-style: italic;
	margin: 10px 0 15px 0;
}

.resume-download {
	padding: 5px;
}
.resume-download:hover,
.resume-download:active {
	background: #000;
}


/* ------------------------------------------------
 * TABLET STYLES
 * --------------------------------------------- */
@media all and (min-width: 641px) and (max-width: 1024px) {

}

/* ------------------------------------------------
 * MOBILE STYLES
 * --------------------------------------------- */
@media all and (max-width: 640px) {

}

/* ------------------------------------------------
 * MOBILE STYLES (landscape)
 * --------------------------------------------- */
@media all and (min-width: 480px) and (max-width: 640px) {

}