/* =Reset
-------------------------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles!
:focus {
  outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =Generic HTML
-------------------------------------------------------------- */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Poly', serif;
  font-size: 20px;
  line-height: 1.5em;
}

h1 {
  font-size: 2.4em;
  text-decoration: none;
  color: #507090;
  line-height: 1.2em;
  margin-bottom: .6em;
}

h2 {
  font-size: 1.3em;
  margin-bottom: .2em;
  color: #333;
}

h3 {
  font-size: 1.3em;
  margin: 2em 0 1em;
  color: #507090;
}

a {
  text-decoration: none;
  color: #507090;
}

blockquote {
  font-style: italic;
  position: relative;
  padding: 0 2em;
  margin-top: 2em;
}

cite {
  margin-left: 1.9em;
  font-size: .8em;
  color: #666;
}

/* =Header
-------------------------------------------------------------- */

header {
  background: #ddd;
  color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 32000;
}

header div {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

#logo a {
  font-size: 1.3em;
  padding: .2em 0 .4em;
  display: block;
  float: left;
}

header a {
  color: #507090;
  text-decoration: none;
}

header a:hover {
  color: #000;
  text-decoration: none;
}

header nav {
  float: right;
}

.forkme {
  position:fixed;top:0;right:0; border:0;z-index:100000;
}

@media (max-width: 480px) {
  header {
    position: static;
  }
  .forkme {
    position: absolute;
  }
  #logo,
  #logo a {
    float: none;
    display: block;
    width: 100%;
    margin-left: 5px;
  }
  header nav {
    float: none;
    display: block;
    width: 100%;
  }
}

header nav li {
  float: left;
}

header nav a {
  text-transform: uppercase;
  font-size: .9em;
  display: block;
  padding: .45em 0 .45em 1em;
}

/* =Footer
-------------------------------------------------------------- */

footer  {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  font-size: .8em;
  color: #666;
  text-align: left;
  padding: .3em 40px;
  clear: both;
}

/* =Content
-------------------------------------------------------------- */

#content {
  width: 100%;
  max-width: 768px;
  padding: 0 40px;
  margin: 5em auto 3em;
  text-align: justify;
  -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;
}

#content p, #content ul, #content ol {
  margin-bottom: 1em;
}

#content em {
  text-decoration: underline;
  font-style: italic;
}

#content ol {
  list-style-type: decimal;
  padding-left: 2em;
}

#content a:hover {
  color: #000;
}

.baseline {
  font-size: 1.2em;
  font-style: italic;
  color: #222;
}

figure {
  width: 100%;
  margin-bottom: 15px;
}
figure img {
  width: 100%;
}
figure figcaption {
  font-size: 12px;
}

/* =Featured
-------------------------------------------------------------- */

#featured {
  clear: both;
}

#featured article {
  margin-bottom: 1em;
}

/* =Posts
-------------------------------------------------------------- */

#posts {
  margin-bottom: 1.5em;
  line-height: 1.2em;
}

#posts dd {
  margin-bottom: .7em;
  padding-bottom: .7em;
}

/* =Home
-------------------------------------------------------------- */

#home {
  text-align: left;
}

#home #posts {
  width: 100%;
  float: left;
}

#home #intro {
  width: 100%;
  float: right;
  margin-bottom: 1.4em;
}

/* =Quotes
-------------------------------------------------------------- */

blockquote span {
  font-style: italic;
  color: #999;
  display: block;
  position: absolute;
}

.open {
  font-size: 4em;
  top: .1em;
  left: -.02em;
}

.close {
  font-size: 2.5em;
  bottom: -.7em;
  right: .2em;
}

/* =Gists
-------------------------------------------------------------- */

.gist, pre {
  font: normal normal normal .6em Arial, DejaVuSansMono, Consolas, monospace;
  margin-bottom: 1em;
}

.gist  pre {
  font-size: 1em;
}

.linenos {
  background-color: #ECECEC;
  border-right: 1px solid #DDDDDD;
  color: #AAAAAA;
  text-align: right;
}
.line-numbers {
  display: none;
}
.linenos pre {
  color: #AAAAAA;
  font-family: sans-serif !important;
  font-size: 20px !important;
  width: 28px;
}
.highlight {
  background: #F8F8FF;
  overflow: auto;
  border: 1px solid #ddd;
  padding: 5px;
}
.gist-file .highlight {
  border: none;
}
.highlighttable {
  overflow: scroll;
}
.highlight code,
.highlight pre {
  font-family: 'Poly', serif !important;
  font-size: 20px !important;
}