---
layout: default
title: Bytes
description: Byte size snippets.
category: bytes
route: bytes
---
{% include site_header.html %}

{% comment %}
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}
{% assign rawtags = "" %}
{% for post in site.categories.[page.category] %}
    {% assign ttags = post.tags | join:'|' | append:'|' %}
    {% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% comment %}
=======================
The following part removes dulpicated tags and invalid tags like blank tag.
=======================
{% endcomment %}
{% assign tags = "" %}
{% for tag in rawtags %}
    {% if tag != "" %}
        {% if tags == "" %}
            {% assign tags = tag | split:'|' %}
        {% endif %}
        {% unless tags contains tag %}
            {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
        {% endunless %}
    {% endif %}
{% endfor %}
{% comment %}
=======================
The purpose of this snippet is to list all the tags you have in your site.
=======================
{% endcomment %}

{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
{% endcomment %}

<section class="content">
  <div class="byte-posts row">
    <div class="column">
      <dl class="tags-list">
        {% for tag in tags %}
          <dd>
            <dt><h2 id="{{ tag | slugify }}">{{ tag }}</h2></dt>
              <dl class="posts-list">
              {% for post in site.categories.[page.category] %}
                  {% if post.tags contains tag %}
                    {% include byte_summary.html %}
                  {% endif %}
              {% endfor %}
            </dl>
          </dd>
        {% endfor %}
      </dl>
    </div>
  </div>
</section>

<script>
    var disqus_shortname = '{{ site.disqus_shortname }}';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
