---
layout: default
title: Archive &#8212;
---
<h1 class='title'>Miguel<span class='mota'>Mota</span><span class='slash'>/</span><span class='sub'>Archive</span></h1>
<section class='content archive'>
	<ul>
		{% for post in site.posts %}
	    	{% unless post.next %}
	    		<strong>{{ post.date | date: '%Y' }}</strong>
	    	{% else %}
	      		{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
	     		{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
	      		{% if year != nyear %}
	       			<strong>{{ post.date | date: '%Y' }}</strong>
	      		{% endif %}
	    	{% endunless %}
	    	<li>{{ post.date | date:"%B" }} <a href='{{ post.url }}'>{{ post.title }}</a></li>
		{% endfor %}
	</ul>
</section>