---
layout: default
title: Archive
---
<h1 class='title'>{% include title.html %}<span class='sub'><a href='/archive'>archive</a></span></h1>
<section class='content blog archive'>

		{% for post in site.posts %}
			<div class='blog-post-list'>
	    	{% unless post.next %}
	    		<strong>{{ post.date | date: '%Y' }}</strong>
	    	{% else %}
	      		{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
	     		{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
	      		{% if year != nyear %}
	       			<strong>{{ post.date | date: '%Y' }}</strong>
	      		{% endif %}
	    	{% endunless %}
	    	{{ post.date | date:"%B" }}<h1><a class='content-item blog-post-item' href='{{ post.url }}'><img class='blog-post-thumb-list' src='/images/blog/thumbs/{{ post.thumbnail }}' alt='' /> {{ post.title }} 
	    	<time class='blog-post-list-date'><span class='icon icon-clock-16'></span> {{ post.date | date_to_string }}</time></a></h1><div class='clear'></div>
	    	<div class='clear'></div>
			</div>
		{% endfor %}


</section>