---
layout: default
---
<section class='content blog'>
	{% include header.html %}
	<div class='posti'>
		{% for post in site.posts %}
			<h3><a href='{{ post.url }}'>{{ post.title }}</a></h3>
			{{ post.content }}
			<div class='post_footer'>
				<p>posted <a href='{{ post.url }}'>{{ post.date | date_to_string }}</a></p>
		 			</div>
			<br /><a class='dsq-comment-count' href="{{ post.url }}#disqus_thread">comments</a>
		{% endfor %}
		<div class='pagination'>
			<a href='/page{{ paginator.previous_page }}'>previous</a> | <a href='/page{{ paginator.next_page }}'>next</a>
		</div>
		
		
		
		

  <ul id="examples">
    <li><a href="/about">first</a></li>
    <li><a href="/contact">second</a></li>
    <li><a href="/portfolio">third</a></li>
    <li><a href="/stream">fourth</a></li>
  </ul>
  <div id="output"></div>

	
		
	</div>
	
<script src='http://html5demos.com/js/h5utils.js'></script>
	<script>
var $ = function (s) { return document.getElementById(s); },
    examples = $('examples'),
    output = $('output'),
    template = '<p>URL: <strong>{url}</strong>, name: <strong>{name}</strong>, location: <strong>{location}</strong></p>',
    data = { // imagine these are ajax requests :)
      first : {
        name: "Remy",
        location: "Brighton, UK"
      },
      second: {
        name: "John",
        location: "San Francisco, USA"
      },
      third: {
        name: "Jeff",
        location: "Vancover, Canada"
      },
      fourth: {
        name: "Simon",
        location: "London, UK"
      }
    }
 ;
function reportData(data) {
  output.innerHTML = template.replace(/(:?\{(.*?)\})/g, function (a,b,c) {
    return data[c];
  });
}

addEvent(examples, 'click', function (event) {
  var title;
  event.preventDefault();
  if (event.target.nodeName == 'A') {
    title = event.target.innerHTML;
    data[title].url = event.target.getAttribute('href'); // slightly hacky (the setting), using getAttribute to keep it short
    history.pushState(data[title], title, event.target.href);
    reportData(data[title]);
  }
  $('#output').load(event.target.getAttribute('href')+' section.content');
});



</script>


</section>