---
layout: default
title: Blog
---
<h1 class='title'>{% include title.html %}<span class='sub'><a href='/blog'>Blog</a></span></h1>
<section class='content blog'>

		<div class='post-sort-wrap'>
			<a class='icon icon-grid-16 icon-no-hover icon-no-opacity post-sort-grid' href='javascript:void(0);'></a> 
			<a class='icon icon-list-16 post-sort-list' href='javascript:void(0);'></a>
		</div>

		{% for post in site.posts %}
			<div class='content-item blog-post-item'>
				<h1><a href='{{ post.url }}'>{{ post.title }}</a></h1>
	 			<div class='post-text'>
					{{ post.content }}
				</div>
				<div class='view-post-wrap'>&#8230; <a href='{{ post.url }}'>view full post &#187;</a></div>
				<div class='post-tags'>
					<span class='icon icon-tags-16 icon-no-hover'></span>
					{% for category in post.categories %}
						<span name='{{ category | first }}'>[{{ category | first }}]</span>
					{% endfor %}
				</div>
				<div class='post-footer'>
					<a href='{{ post.url }}'><span class='icon icon-clock-16'></span> {{ post.date | date_to_string }}</a> 
					<span class='dsq-comment-count-wrap'><a class='icon icon-comments-16' href='{{ post.url }}'></a> <a class='dsq-comment-count' href='{{ post.url }}#disqus_thread' data-disqus-identifier='{{ page.url }}'></a></span>
					<div class='clear'></div>
				</div>
				<div class='share-wrap'>
					<g:plusone class='plus-one-button' href='http://www.miguelmota.com{{ post.url }}' size='medium'></g:plusone>
					<a class='twitter-share-button' href='http://twitter.com/share' data-text='{{ page.title }}' data-url='http://www.miguelmota.com{{ post.url }}' data-via='miguel_mota' data-count='horizontal'>Tweet</a>
					<div class='addthis_toolbox addthis_default_style' addthis:url='{{ post.url }}' addthis:url='{{ post.title }}'><a class='addthis_counter addthis_pill_style'></a></div>
					<input class='short-url' type='text' value='http://www.miguelmota.com{{ post.url }}' />
				</div>
			</div>
		{% endfor %}

		<!-- Pagination links -->
		<!-- 
		<div class="pagination">
		  {% if paginator.previous_page %}
		    <a href="/page{{paginator.previous_page}}" class="previous">Previous</a>
		  {% else %}
		    <span class="previous">Previous</span>
		  {% endif %}
		  <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
		  {% if paginator.next_page %}
		    <a href="/page{{paginator.next_page}}" class="next ">Next</a>
		  {% else %}
		    <span class="next ">Next</span>
		  {% endif %}
		</div> 
		-->
		
		<div class='pagination hide'><a href='/archive'>view archive &#187;</a></div>
		<!-- <a class='twitter-follow-button' href='https://twitter.com/miguel_mota' data-show-count='false' data-button='grey' data-link-color='{color:Link}'>Follow @miguel_mota</a> -->
		<script>
		    var disqus_shortname = 'miguelmota';
		    (function () {
		        var s = document.createElement('script'); s.async = true;
		        s.type = 'text/javascript';
		        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
		        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		    }());
		</script>
</section>