/* =Row mixin
-------------------------------------------------------------- */

@mixin div-max-width() {
  max-width: $row-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* =Global
-------------------------------------------------------------- */

* {
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
  outline: none;
}

details.polyfill summary::-webkit-details-marker { display:none; }
details.polyfill > * { position: absolute; visibility: hidden; }
details.polyfill > summary, details[open] > * { position: static; visibility: visible; }
details.polyfill > summary { display: block; }
details.polyfill > summary:before { content: "►"; padding-right: 5px; font-size: 11px; }
details.polyfill[open] > summary:before { content:"▼"; }
details:focus { outline: none; }
details > summary:focus { outline: none; }

.hidden {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10000em;
  color: transparent;
  background: transparent;
  cursor: default;
  border: none;
  text-indent: -100000em;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

details summary {
  cursor: pointer;
}

details a + small a {
  color: $small-link-color;
  border-bottom: 1px dotted $small-link-border-color;
}

a {
  text-decoration: none;
  color: $primary-color;
  @include transition(all .25s ease-out);

  &:hover {
    color: $primary-hover-color;
  }
}

p {
  line-height: 1.8;
  margin-bottom: 25px;
  font-size: $body-font-size;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0.2em 0 0.5em 0;
  line-height: 1.4em;
}

h1 {
  font-size: 26px;

  @include respond-to(mobile) {
    font-size: 22px;
  }
}

h2 {
  font-size: 24px;

  @include respond-to(mobile) {
    font-size: 18px
  }
}

h3 {
  line-height: 1.4;
  font-size: 22px;

  @include respond-to(mobile) {
    font-size: 16px
  }
}

h4 {
  line-height: 1.4;
  font-size: 20px;

  @include respond-to(mobile) {
    font-size: 14px
  }
}

h2 small,
h3 small {
  font-size: 75%;
  line-height: 0;
}

dl dd {
  margin-bottom: 0.6em;
}

ul,
ol {
  list-style-position: inside;
  margin-bottom: 25px;

  li {
    line-height: 1.8;
  }
}

noscript {
  text-align: center;
  width: 100%;
  display: block;
  color: $noscript-color !important;

  a {
    border: none !important;
    text-decoration: underline !important;
    color: $noscript-color !important;

    &:hover {
      border: none !important;
      text-decoration: underline !important;
      color: $noscript-color !important;
    }
  }
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
  @include appearance(none);
  padding: 10px;
  height: 100%;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  background: $input-background-color;
  border: 1px solid $input-border-color;
  border-radius: 2px;
  color: $body-font-color;
  @include transition(all .2s ease-out);

  &:focus {
    border-color: $input-focus-border-color;
    outline: none;
    box-shadow: none;
  }

  @include placeholder() {
    color: $input-placeholder-color;
  }
}

.row {
  width: 100%;
  margin: 0 auto;
  max-width: $row-width;
  @include clearfix();
}

.panel {
  padding: .4em;
  font-size: 12px;
  background: $code-highlight-background;
  border: 1px solid $code-highlight-border;
}

.panel-tiny {
  padding: 0;
}

.forkme {
  position: fixed;
  top: 0px;
  right: 0;
  width: 149px;
  height: 149px;
  background: transparent $forkme-background-image no-repeat 0 0;
  background-size: contain;
  z-index: 10000;

  @include respond-to(mobile-tablet) {
    display: none;
  }
}

// span used for alt text
.fa > * {
  position: absolute;
  left: -100000em;
  bottom: -100000em;
  color: transparent;
  font-size: 0;
  line-height: 0;
}

/* =Body
-------------------------------------------------------------- */

body {
  position: relative;
  background: $body-background-color $body-background-image repeat 0 0;
  min-width: 280px;
  color: $body-font-color;
  padding: 0;
  margin: 0;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-style: $body-font-style;
  font-size: $body-font-size;
  line-height: 1;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $scrollbar-track-background-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-background-color;
    border: 1px solid $scrollbar-thumb-border-color;
    @include transition(all .2s ease-out);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $scrollbar-thumb-hover-background-color;
  }
}

.bg-upper {
  display: block;
  width: 100%;
  height: 635px;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent $body-upper-background-image no-repeat fixed left top;
  z-index: -1;
}

.bg-lower {
  display: block;
  width: 100%;
  height: 635px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: transparent $body-lower-background-image no-repeat fixed right bottom;
  z-index: -1;
}

/* =Top bar
-------------------------------------------------------------- */

.header {
  height: $topbar-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 0 0 10px;
  background-color: $header-background-color;
  z-index: 10000;
  box-shadow: $header-box-shadow;

  ul {
    width: 100%;
    @include clearfix();
    min-width: $header-list-min-width;

    li {
      position: relative;
      display: inline-block;
      float: left;
      border-top: 2px solid transparent;
      line-height: 1.4;
      @include transition(all .25s ease-out);

      a {
        color: $body-font-color;
      }

      &:hover {
        border-top: 2px dotted $header-list-item-hover-border-color;
        background-color: $header-list-item-hover-background-color;

        a {
          color: $primary-color;
        }
      }

      &.active {
        border-top: 2px solid $header-list-item-active-border-color;
        background-color: $header-list-item-active-background-color;

        &:hover {
          border-top-color: 2px solid $header-list-item-active-border-color;
          background-color: $header-list-item-active-background-color;

          a {
            color: $body-font-color;
          }
        }
      }
    }
  }

  a {
    display: inline-block;
    padding: 20px;
    padding: 15px 20px;
    color: $body-font-color;
    @include transition(all .25s ease-out);

    &:hover {
      color: $primary-hover-color;
    }
  }

  .name {
    width: $header-logo-size;
    height: $topbar-height;

    &:hover {
      border: none;
    }
  }

  .top-bar {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    .name a {
      display: inline-block;
      width: $header-logo-size;
      height: $header-logo-size;
      font-size: 18px;
      font-weight: bold;
      margin: 0;
      padding: 0;
      background: transparent url("../images/miguel-mota-m-logo-blue-100x100.png") no-repeat 0 0;
      background-size: auto 100%;
      text-indent: -1000000em;
      position: absolute;
      left: 0;
      top: 50%;
      @include transform(translate(0, -50%));
    }
  }
}

.top-bar-section {
  margin: 0 auto;
  max-width: $row-width;
}

/* =Content Header
-------------------------------------------------------------- */

.content-header {
  position: relative;
  padding: 50px 0;
  overflow: hidden;

  @include respond-to(mobile) {
    padding: 10px;
  }

  > .row {
    @include div-max-width();
  }

  &__hgroup {
    display: block;
  }

  &__description {
    font-style: italic;
  }
}

.home .content-header,
.blog .content-header,
.archive .content-header,
.resume .content-header {
  padding-top: 0;
  height: 600px;
  @include respond-to(mobile) {
    height: 400px;
    padding: 0 10px 25px 0;
  }
}

.about .content-header,
.work .content-header,
.contact .content-header {
  padding-top: 0;
  @include respond-to(mobile) {
    padding: 0 10px 25px 0;
  }
}

.home .content-header .row,
.blog .content-header .row,
.archive .content-header .row,
.resume .content-header .row,
.about .content-header .row,
.work .content-header .row,
.contact .content-header .row {
  padding-top: 50px;
  @include respond-to(mobile) {
    padding-top: 25px;
  }
}

.blog .content-header {
  height: 200px;
}

.home .content-header {
  height: 430px;

  @include respond-to(mobile) {
    height: 320px;
  }

  p:nth-child(2) {
    @include respond-to(mobile) {
      margin-bottom: 30px;
    }
  }
}

.about .content-header {
  height: 610px;
  background: transparent url(../images/about/miguel-mota-instagram.jpg) no-repeat fixed;
  background-size: 100% auto;
  background-position: center -300px;
  @include respond-to(tablet-small) {
    height: 360px;
    background-position: center -250px;
  }
  @include respond-to(tablet) {
    height: 410px;
  }
  @include respond-to(desktop-large) {
    background-position: center -400px;
  }
  @include respond-to(mobile) {
    background: $about-content-header-background-color url(../images/about/miguel-mota-instagram-small.jpg) no-repeat fixed;
    background-size: 100% auto;
    background-position: center 0;
    height: 260px;
  }
}

.archive .content-header,
.work .content-header,
.resume .content-header {
  height: 150px;

  @include respond-to(mobile) {
    height: 100px;
  }
}

.contact .content-header {
  height: 400px;
  @include respond-to(mobile) {
    height: 300px;
  }
}

/* =Content
-------------------------------------------------------------- */

@mixin tags($marginBottom: false) {
  .tags {
    @if ($marginBottom == true) {
      margin-bottom: 25px;
    }
  }

  .tags a,
  .tags span,
  .tags i {
    font-size: 12px;
    color: $tag-color;
    border: none;
  }

  .tags a:hover {
    color: $tag-hover-color;
    cursor: pointer;
  }

  .tags span:last-child {
    display: none;
  }

}

.main {
  display: block;
  margin: 0;
  padding: $topbar-height 0 100px 0;
  background: $body-overlay-background-color;

  a {
    border-bottom: 1px dotted $primary-color;

    &:hover {
      border-bottom-color: $primary-hover-color;
    }
  }

  a:has(> img) {
    border-bottom: none;
  }

  h1,h2,h3,h4,h5,h6 {
    a {
      border: none;
    }
  }

  datetime small a,
  h2 small a,
  h3 small a {
    font-size: 75%;
    color: $body-font-color;
    border: none;
  }

  img {
    max-width: 100%;
  }
}

.content {
  padding: 50px 0 25px 0;
  position: relative;

  .baseline {
    margin: 0 0 10px 0;
  }

  .row {
    @include div-max-width();
  }
}

.lead {
  padding-top: 60px !important;
  @include respond-to(mobile) {
    padding-top: 25px !important;
  }


  h1 {
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: normal;

    @include respond-to(mobile) {
      font-size: 22px;
      margin-bottom: 10px;
    }

  }
  p:nth-child(2) {
    font-size: 24px;

    @include respond-to(mobile) {
      font-size: $body-font-size;
      margin-bottom: 10px;
    }

  }
  p:nth-child(3) {
    padding-bottom: 25px;
    a {
      font-weight: bold;
    }
  }
  p:last-child {
    @include respond-to(mobile) {
      font-size: 14px;
    }
  }
}

.featured {
  @include div-max-width();
  @include tags(true);
  margin-bottom: 50px;

  h2 {
    margin: 0 0 10px 0;
    font-size: 34px;

    @include respond-to(mobile) {
      font-size: 22px
    }

  }

  datetime {
    font-size: 26px;
    font-weight: bold;

    @include respond-to(mobile) {
      font-size: 22px
    }
  }

}

.posts-list {
  margin-bottom: 50px;

  datetime {
    font-size: 20px;
    font-weight: bold;
  }

  dd p {
    margin-bottom: 5px;
  }

}

.older-posts {
  @include div-max-width();
}

.related-posts {
  padding-top: 50px;

  .posts-list {
    datetime {
      font-size: $body-font-size;
    }
  }

  h2, h3 {
    padding: 0 !important;
  }

}

.byte-posts {
  margin-bottom: 50px;

  .tags-list {
    margin-bottom: 50px;
  }

  .posts-list {
    h3 {
      margin-bottom: 0;
    }

    dd {
      margin-bottom: 5px;
    }

    dd p {
      font-size: 12px;
    }

    datetime {
      margin: 0 0 0 10px;
      font-size: 12px;
      font-weight: normal;
    }
  }
}

.post {
  > .row {
    max-width: 100%;

    .column {
      padding: 0;
    }

    h1,h2,h3,h4,h5,h6,
    p,
    pre,
    table,
    ul,
    ol {
      @include div-max-width();
    }

  }

  figure {
    @include div-max-width();
  }

  blockquote {
    @include div-max-width();
    font-style: italic;
    border: none;
    background: none;

    p {
      padding-left: 10px;
      border-left: 5px solid $blockquote-border-color;
      line-height: 1.8;
    }
  }

  hr {
    width: 80%;
    margin: 0 auto;
  }

  .tags,
  .related-posts,
  .comments {
    @include div-max-width();
  }

  .comments {
    max-width: 600px;
  }

  > .column {
    padding: 0;
  }
}

.post,
.content-header {
  padding-top: 50px;

  datetime {
    display: block;
    width: 100%;
    font-size: 24px;
    font-weight: bold;

    @include respond-to(mobile) {
      font-size: 18px;

      small {
        display: inline-block;
      }
    }
  }

}

.about,
.contact,
.work {
  h1 {
    line-height: 1;
  }
}

.about {
  .content-header {
    &__title {
      color: $about-title-color;
    }

    &__description {
      font-style: italic;
      color: $about-title-color;
    }
  }
}

.comments {
  margin: 50px auto 0 auto;
}

figure {
  width: 100%;
  margin-bottom: 15px;
}

figcaption {
  padding: 5px 0 0 0;
  font-size: 12px;
}

[data-last-update] {
  color: $last-updated-color;
  font-size: 12px;
}

[data-demo],
[data-download],
[data-site],
[type="submit"] {
  @include appearance(none);
  @include button-style();

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.twitter-share-button {
  float: right;
  width: 105px !important;
  font-size: 12px;
  color: transparent;
}

.typekit-badge {
  display: none !important;
}

/* =Home
-------------------------------------------------------------- */

@mixin social-icon($width: 32px, $height: 32px, $background-color: transparent, $background-image:null) {
  @include hide-text;
  display: inline-block;
  width: $width;
  height: $height;
  @include respond-to(mobile) {
    width: $social-icon-width-mobile;
    height: $social-icon-height-mobile;
  }
  background: $social-icon-default-background-color url($background-image) no-repeat center center;
  background-size: $social-icon-background-width auto;
  @include transition(background-color .25s ease-out);
  opacity: 0.5;
  border-radius: 2px;

  &:hover,
  &:active {
    background-color: lighten($background-color, 10%);
    opacity: 1;
  }
}

.home {
  .learn-more-button {
    @include button-style();
  }

  .social-list {
    height: $social-icon-height;
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;

    @include respond-to(mobile) {
      height: $social-icon-height-mobile;
    }

    li {
      display: inline-block;
      float: left;
      margin: 0;
      padding: 0;
      width: auto;
      height: $social-icon-height;
      @include respond-to(mobile) {
        height: $social-icon-height-mobile;
      }

      a {
        border: none;
        float: left;
        margin: 0 5px 0 0;
      }
    }
  }

  .twitter {
    @include social-icon($social-icon-width, $social-icon-height, #00ACED, "../images/social/twitter.svg");
  }

  .gplus {
    @include social-icon($social-icon-width, $social-icon-height, #D14836, "../images/social/googleplus.svg");
  }

  .github {
    @include social-icon($social-icon-width, $social-icon-height, #4183C4, "../images/social/github.svg");
  }

  .stackoverflow {
    @include social-icon($social-icon-width, $social-icon-height, #F47920, "../images/social/stackoverflow.svg");
  }

  .linkedin {
    @include social-icon($social-icon-width, $social-icon-height, #007FB1, "../images/social/linkedin.svg");
  }

  .delicious {
    @include social-icon($social-icon-width, $social-icon-height, #3274D1, "../images/social/delicious-32.png");
  }

  .facebook {
    @include social-icon($social-icon-width, $social-icon-height, #3B5998, "../images/social/facebook-32.png");
  }

  .instagram {
    @include social-icon($social-icon-width, $social-icon-height, #3F729B, "../images/social/instagram-32.png");
  }

  .tumblr {
    @include social-icon($social-icon-width, $social-icon-height, #2C4762, "../images/social/tumblr-32.png");
  }

  .reddit {
    @include social-icon($social-icon-width, $social-icon-height, #FF4500, "../images/social/reddit-32.png");
  }

  .foursquare {
    @include social-icon($social-icon-width, $social-icon-height, #2398C9, "../images/social/foursquare-32.png");
  }

  .youtube {
    @include social-icon($social-icon-width, $social-icon-height, #CD332D, "../images/social/youtube-32.png");
  }

  .yelp {
    @include social-icon($social-icon-width, $social-icon-height, #C93C27, "../images/social/yelp-32.png");
  }

  .lastfm {
    @include social-icon($social-icon-width, $social-icon-height, #D51007, "../images/social/lastfm-32.png");
  }

  .stumbleupon {
    @include social-icon($social-icon-width, $social-icon-height, #EB4924, "../images/social/stumbleupon-32.png");
  }

  .dribbble {
    @include social-icon($social-icon-width, $social-icon-height, #EA4C89, "../images/social/dribbble-32.png");
  }

  .moogs {
    @include social-icon($social-icon-width, $social-icon-height, #0088CC, "../images/social/moogs-32.png");
  }

  .zazzle {
    @include social-icon($social-icon-width, $social-icon-height, #676767, "../images/social/zazzle-32.png");
  }

  .pandora {
    @include social-icon($social-icon-width, $social-icon-height, #336699, "../images/social/pandora-32.png");
  }

  .vine {
    @include social-icon($social-icon-width, $social-icon-height, #00A47A, "../images/social/vine-32.png");
  }

  .goodreads {
    @include social-icon($social-icon-width, $social-icon-height, #5A471B, "../images/social/goodreads-32.png");
  }

  .archive-button {
    @include button-style();
  }
}

.home .posts-list,
.blog .posts-list,
.archive .posts-list {
  @include tags(true);
}

/* =Blog
-------------------------------------------------------------- */

.blog,
.bytes {
  @include tags();

  .twitter-share-button {
    @include respond-to(mobile) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .archive-button {
    @include button-style();
  }
}

/* =Bytes
-------------------------------------------------------------- */

.bytes {

}

/* =About
-------------------------------------------------------------- */

.about {
  .resume-button {
    @include button-style();
  }

  .about-moogs-logo {
    vertical-align: middle;
  }
}

/* =Resume
-------------------------------------------------------------- */

.resume {
  h3 + p {
    margin: 0 0 40px 0;
  }

  .resume-list {
    margin: 0 0 50px 0;
  }

  dl {
    display: block;
    margin: 0 0 40px 0;

    dt {
      display: block;
      margin: 0 0 10px 0;
      line-height: 1.4;
      font-weight: bold;
    }

    dd {
      display: block;
      margin: 0 0 20px 0;
      line-height: 1.4;
    }
  }

  details {
    margin: 10px 0 0 0;

    summary {
      display: inline-block;
      padding: 2px;
      border: 1px solid transparent;
      @include transition(all .2s ease-out);

      &:hover {
        border-color: $resume-details-summary-hover-border-color;
      }
    }

    ul,
    ol {
      margin: 0 0 0 20px;

      li {
        color: $resume-list-item-color;
      }
    }
  }

  .linkedin-button {
    @include button-style();
  }

  .bottom {
    text-align: center;
  }

  h4 {
    padding: 0 0 5px 0;
    border-bottom: 1px solid $resume-section-title-border-color;
  }
}

/* =Contact
-------------------------------------------------------------- */

.contact {
  main {
    [class*="icon-"] {
      display: inline-block;
      width: 24px;
      vertical-align: middle;
    }
    .icon-mobile-phone {
      font-size: 25px;
    }
  }

  .content-header__hgroup {
    position: absolute;
    z-index: 1;
  }

  .map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    // A little taller to hide bottom labels
    height: 430px;
    background: $contact-map-background-color;

    @include respond-to(mobile) {
      height: 330px;
    }

    noscript {
      position: absolute;
      top: 50%;
      @include transform(translate(0, -50%));
    }
  }

  .row > .column {
    width: 50%;
    float: left;

    @include respond-to(mobile) {
      width: 100%;
      float: none;
    }
  }

  .contact-info {
    padding: 0 15px 0 0;

    label {
      margin: 0;
      color: $contact-info-label-color;
    }
  }

  .phone {
    @include respond-to(gt-mobile) {
      color: $body-font-color;
      border: none;
    }

    @include respond-to(mobile) {
      cursor: pointer;
    }

    &:hover {
      text-decoration: none;
      cursor: text;
    }
  }

  fieldset {
    padding: 15px;
    border: 1px solid $contact-fieldset-border-color;
    border-radius: 2px;
    background: $contact-fieldset-background-color;

    @include respond-to(mobile) {
      margin: 20px 0 0 0;
    }
  }

  .alert-box {
    display: none;
    position: relative;
    margin: 0 0 10px 0;
    padding: 5px;
    border-radius: 2px;
    background: $contact-alert-background-color;
    color: white;

    &.success {
      background: $contact-alert-success-background-color;
    }

    .close {
      position: absolute;
      top: 2px;
      right: 5px;
      border: none;
      font-size: 14px;
      color: $contact-alert-close-color;
    }
  }

  .contact-form {
    label {
      display: block;
      margin: 0 0 10px 0;
    }

    input,
    textarea {
      margin: 0 0 10px 0;
    }
  }

  small.error {
    display: none;
    margin-bottom: 10px;
    color: $contact-error-color;
  }

  textarea {
    height: auto;
    overflow: hidden;
    resize: vertical;
  }

  [type="submit"] {
    float: right;
  }

  summary {
    + div {
      margin: 10px 0 0 0;
    }
  }
}

.infoBox {
  background: transparent url("/assets/images/map/map-tipbox-top.gif") no-repeat center 0 !important;
}

.info-window-content {
  display: none;
}

.info-window-inner {
  @include primary-font;
  border: 1px solid $contact-info-window-border-color;
  margin-top: 8px;
  background: $contact-info-window-background-color;
  color: $contact-info-window-color;
  font-size: 12px;
  padding: .5em 1em;
  text-shadow: 0 -1px $contact-info-window-text-shadow;
  @include box-shadow(0 0 8px $contact-info-window-box-shadow-color);
}

.info-window-inner a {
  color: $contact-info-window-link-color;
  text-decoration: none;
  border: none;
}

.info-window-inner a:hover {
  color: $contact-info-window-link-color;
  text-decoration: underline;
  border: none;
}

/* =Work
-------------------------------------------------------------- */

.work-list {
  h2 small {
    font-weight: normal;
    a {
      font-weight: normal;
    }
  }
}

.work {
  .icon-heart {
    color: $work-heart-color;
  }
}

.github-button,
.gists-button,
.resume-work-button {
  @include button-style();
  i {
    line-height: 0;
  }
}

.github-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.gists-button {
  @include button-alt-style();
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* =Social
-------------------------------------------------------------- */

.social {
  li img {
    max-height: 32px;
  }
}

/* =Loader
-------------------------------------------------------------- */

.loader {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 128px;
  height: 128px;
  margin: -64px 0 0 -64px;
  padding: 100px;
  background: $loader-background-color url(../images/ajax-loader-128x128-gray.gif) no-repeat 50% 50%;
}

.social .loader {
  display: inline-block;
  position: static;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  padding: 0;
  background: transparent url(../images/ajax-loader.gif) no-repeat center center;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $loader-overlay-background-color;
}

/* =Footer
-------------------------------------------------------------- */

.footer {
  > .row {
    @include div-max-width();
  }

  padding: 10px 0;
  border-top: 1px solid $footer-border-color;
  color: $footer-color;
  background: $footer-background-color;

  @include respond-to(mobile) {
    font-size: 14px;
  }

  .icon-heart {
    color: $footer-heart-color;
  }

  .break {
    display: inline-block;
    @include respond-to(mobile) {
      width: 50%;
      float: left;
    }
  }

  .break span {
    @include respond-to(mobile) {
      display: block;
    }
  }
}

.twitter-follow-button {
  float: right;
  font-size: 12px;
  color: transparent;
}

/* =Code
-------------------------------------------------------------- */

p > code {
  background: $code-highlight-background;
  border: $code-highlight-border;
  padding: 2px;
  color: $code-highlight-color;
}

.highlight {
  padding: 30px 10px;
  margin-bottom: 20px;
  border: $code-highlight-border;
  line-height: 1.2;
  font-size: $code-highlight-font-size;
  background: $code-highlight-background;
  overflow: auto;
  @include box-shadow(none);
}

.gist .highlight {
  border: none;
}

.gist .line-numbers {
  display: none;
}

.gist-syntax .s1 {
  background: none;
}

.gist .gist-file .gist-data .line-pre {
  @include respond-to(tablet-desktop) {
    font-size: $body-font-size !important;
    line-height: 1.2 !important;
  }
}

