@import "compass";

/* =Variables Inverted
-------------------------------------------------------------- */

$primary-color: rgba(65, 125, 157, 1);
$primary-hover-color: rgba(78, 149, 187, 1);
$primary-alt-color: rgba(116, 129, 135, 1);

$button-background-color: rgba(65, 125, 157, 1);
$button-alt-background-color:  rgba(94, 156, 189, 1);
$button-hover-background-color: rgba(88, 159, 197, 1);
$button-alt-hover-background-color:  rgba(123, 187, 221, 1);
$button-color: rgba(255, 255, 255, 1);
$button-alt-color: rgba(255, 255, 255, 1);
$button-hover-color: rgba(255, 255, 255, 1);
$button-alt-hover-color: rgba(255, 255, 255, 1);
$button-border-color: rgba(50, 96, 121, 1);
$button-alt-border-color: rgba(50, 96, 121, 1);

$body-background-color: rgba(255, 255, 255, 1);
$body-background-image: url(../images/site/stars-light.png);
$body-overlay-background-color: rgba(255, 255, 255, 0.15);
$body-font-color: rgba(88, 96, 106, 1);
$body-upper-background-image: url(../images/site/upper-nebula-light.png);
$body-lower-background-image: url(../images/site/lower-nebula-light.png);

$input-placeholder-color: rgba(204, 204, 204, 1);
$input-background-color: rgba(255, 255, 255, 1);
$input-border-color: rgba(218, 218, 218, 1);
$input-focus-border-color: rgba(193, 193, 193, 1);

$code-highlight-background: rgba(228, 228, 228, 0.25);
$code-highlight-border: none;
$code-highlight-color: $body-font-color;

$scrollbar-track-background-color: rgba(255, 255, 255, 1);
$scrollbar-thumb-background-color: rgba(238, 238, 238, 1);
$scrollbar-thumb-hover-background-color: rgba(187, 187, 187, 1);
$scrollbar-thumb-border-color: rgba(187, 187, 187, 1);

$header-background-color: rgba(255, 255, 255, 0.95);
$header-box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);
$header-list-item-hover-border-color: rgba(112, 164, 177, 1);
$header-list-item-hover-background-color: rgba(246, 253, 255, 1);
$header-list-item-active-border-color: rgba(112, 164, 177, 1);
$header-list-item-active-background-color: rgba(240, 249, 255, 1);

$forkme-background-image: url(/assets/images/site/forkme-right-white.png);

$content-header-border: 1px solid rgba(0,0,0,0.5) !default;

$blockquote-border-color: rgba(112, 164, 177, 0.29);

$tag-color: rgba(153, 153, 153, 1);
$tag-hover-color: rgba(170, 170, 170, 1);

$small-link-color: rgba(119, 119, 119, 1);
$small-link-border-color: rgba(119, 119, 119, 1);

$footer-color: rgba(150, 150, 150, 1);
$footer-border-color: rgba(255, 255, 255, 0.4);
$footer-background-color: rgba(255, 255, 255, 0.4);
$footer-heart-color: rgba(255, 0, 0, 0.9);

$about-title-color: rgba(43, 43, 43, 0.8);
$about-content-header-background-color: rgba(223, 223, 223, 1);

$resume-details-summary-hover-border-color: rgba(112,164,177,0.2);
$resume-list-item-color: rgba(255, 255, 255, 0.25);
$resume-section-title-border-color: rgba(112,164,177,0.2);

$last-updated-color: rgba(187, 187, 187, 1);

$work-heart-color: rgba(255, 0, 0, 0.9);

$contact-map-background-color: rgba(0,0,0,0.3);
$contact-info-label-color: rgba(153, 153, 153, 1);
$contact-error-color: rgba(255, 0, 0, 0.7);
$contact-fieldset-border-color: rgba(218, 218, 218, 1);
$contact-fieldset-background-color: rgba(247, 248, 249, 1);
$contact-alert-background-color: rgba(255, 0, 0, 0.7);
$contact-alert-success-background-color: rgba(51, 224, 64, 0.7);
$contact-alert-close-color: rgba(255, 255, 255, 1);
$contact-info-window-border-color: rgba(0, 0, 0, 1);;
$contact-info-window-background-color: rgba(34, 32, 32, 0.75);
$contact-info-window-color: rgba(255,255,255,0.8);
$contact-info-window-text-shadow: rgba(0, 0, 0, 0.7);
$contact-info-window-box-shadow-color: rgba(0, 0, 0, 0.4);
$contact-info-window-link-color: rgba(255, 255, 255, 1);

$loader-overlay-background-color: rgba(0, 0, 0, 0.2);
$loader-background-color: rgba(51, 51, 51, 1);

$noscript-color: rgba(255, 0, 0, 1);

$social-icon-default-background-color: rgba(76, 110, 125, 1);
