@import "compass";

/* =Variables
-------------------------------------------------------------- */

$primary-color: rgba(65, 125, 157, 0.8);
$primary-hover-color: rgba(78, 149, 187, 0.8);
$primary-alt-color: rgba(116, 129, 135, 0.2);

$button-background-color: rgba(65, 125, 157, 0.2);
$button-alt-background-color: rgba(35, 90, 119, 0.2);
$button-hover-background-color: rgba(113, 173, 205, 0.2);
$button-alt-hover-background-color: rgba(105, 154, 180, 0.2);
$button-color: rgba(255, 255, 255, 0.7);
$button-alt-color: rgba(255, 255, 255, 0.7);
$button-hover-color: rgba(255, 255, 255, 0.7);
$button-alt-hover-color: rgba(255, 255, 255, 0.7);
$button-border-color: rgba(50, 96, 121, 0.2);
$button-alt-border-color: rgba(50, 96, 121, 0.2);

$body-background-color: rgba(0, 0, 0, 1);
$body-background-image: url(../images/site/stars.png);
$body-overlay-background-color: rgba(96, 122, 158, 0.15);
$body-font-color: rgba(177, 201, 208, 0.8);
$body-font-family: "Play", "Helvetica Neue", "Helvetica", Arial, sans-serif;
$body-font-size: 15px;
$body-font-weight: normal;
$body-font-style: normal;
$body-upper-background-image: url(../images/site/upper-nebula.png);
$body-lower-background-image: url(../images/site/lower-nebula.png);

$input-placeholder-color: rgba(112, 164, 177, 0.2);
$input-background-color: rgba(63, 110, 154, 0.2);
$input-border-color: rgba(0, 0, 0, 0.8);
$input-focus-border-color: rgba(112, 164, 177, 0.24);

$row-width: 700px;
$topbar-height: 54px;

$code-highlight-background: rgba(0, 0, 0, 0.25);
$code-highlight-border: 1px solid rgba(0, 0, 0, 0.5);
$code-highlight-color: $body-font-color;
$code-highlight-font-size: 14px;

$scrollbar-track-background-color: rgba(0, 0, 0, 1);
$scrollbar-thumb-background-color: rgba(112, 164, 177, 0.2);
$scrollbar-thumb-hover-background-color: $body-font-color;
$scrollbar-thumb-border-color: $body-font-color;

$header-logo-size: 45px;
$header-background-color: rgba(0, 0, 0, 0.75);
$header-box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);
$header-list-min-width: 585px;
$header-list-item-hover-border-color: rgba(112, 164, 177, 0.8);
$header-list-item-hover-background-color: rgba(50, 96, 113, 0.07);
$header-list-item-active-border-color: rgba(112, 164, 177, 0.8);
$header-list-item-active-background-color: rgba(50, 96, 113, 0.15);

$forkme-background-image: url(/assets/images/site/forkme-right-darkblue.png);

$content-header-border: 1px solid rgba(0, 0, 0, 0.5) !default;

$blockquote-border-color: rgba(112, 164, 177, 0.29);

$tag-color: rgba(153, 153, 153, 1);
$tag-hover-color: rgba(170, 170, 170, 1);

$small-link-color: rgba(119, 119, 119, 1);
$small-link-border-color: rgba(119, 119, 119, 1);

$footer-color: rgba(119, 119, 119, 0.5);
$footer-border-color: rgba(0, 0, 0, 0.7);
$footer-background-color: rgba(0, 0, 0, 0);
$footer-heart-color: rgba(255, 0, 0, 0.9);

$about-title-color: rgba(43, 43, 43, 0.8);
$about-content-header-background-color: rgba(223, 223, 223, 1);

$resume-details-summary-hover-border-color: rgba(112, 164, 177, 0.2);
$resume-list-item-color: rgba(255, 255, 255, 0.25);
$resume-section-title-border-color: rgba(112, 164, 177, 0.2);

$last-updated-color: rgba(255, 255, 255, 0.3);

$work-heart-color: rgba(255, 0, 0, 0.9);

$contact-map-background-color: rgba(0, 0, 0, 0.3);
$contact-info-label-color: rgba(153, 153, 153, 1);
$contact-error-color: rgba(255, 0, 0, 0.7);
$contact-fieldset-border-color: rgba(0, 0, 0, 0.8);
$contact-fieldset-background-color: rgba(0, 0, 0, 0.2);
$contact-alert-background-color: rgba(255, 0, 0, 0.7);
$contact-alert-success-background-color: rgba(51, 224, 64, 0.7);
$contact-alert-close-color: rgba(255, 255, 255, 1);
$contact-info-window-border-color: rgba(0, 0, 0, 1);;
$contact-info-window-background-color: rgba(34, 32, 32, 0.75);
$contact-info-window-color: rgba(255, 255, 255, 0.8);
$contact-info-window-text-shadow: rgba(0, 0, 0, 0.7);
$contact-info-window-box-shadow-color: rgba(0, 0, 0, 0.4);
$contact-info-window-link-color: rgba(255, 255, 255, 1);

$loader-overlay-background-color: rgba(0, 0, 0, 0.2);
$loader-background-color: rgba(51, 51, 51, 1);

$noscript-color: rgba(255, 0, 0, 1);

$social-icon-width: 36px;
$social-icon-height: 36px;
$social-icon-width-mobile: 36px;
$social-icon-height-mobile: 36px;
$social-icon-background-width: 26px;
$social-icon-default-background-color: rgba(0, 0, 0, 0.6);
