@import url(https://fonts.googleapis.com/css?family=Play);
@import "compass";
@import "config";
@import "./foundation/scss/foundation";
@import "./fontawesome/scss/font-awesome.scss";
@import "./solarized-dark";
@import "./glitch";

/* =Variables
-------------------------------------------------------------- */

$content-header-border: 1px solid rgba(0,0,0,0.5) !default;
$content-header-triangle-width: 24px !default;

$code-highlight-background: rgba(26, 26, 26, 0.6);
$code-highlight-border: 1px solid rgba(0, 0, 0, 0.5);

$footer-color: rgba(119, 119, 119, 0.5);

$last-updated-color: rgba(255, 255, 255, 0.3);

/* =Mixins
-------------------------------------------------------------- */

@mixin div-max-width() {
  max-width: $row-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* =Global
-------------------------------------------------------------- */

details.polyfill summary::-webkit-details-marker { display:none; }
details.polyfill > * { position: absolute; visibility: hidden; }
details.polyfill > summary, details[open] > * { position: static; visibility: visible; }
details.polyfill > summary { display: block; }
details.polyfill > summary:before { content: "►"; padding-right: 5px; font-size: 11px; }
details.polyfill[open] > summary:before { content:"▼"; }
details:focus { outline: none; }
details > summary:focus { outline: none; }

.hidden {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10000em;
  color: transparent;
  background: transparent;
  cursor: default;
  border: none;
  text-indent: -100000em;
}

h2 {

}

ul {
  list-style-type: square;
}

details summary {
  cursor: pointer;
}

details a + small a {
  color: #777;
  border-bottom: 1px dotted #777;
}

#forkme {
  position: fixed;
  top: 0px;
  right: 0;
  z-index: 10000;

  @include respond-to(mobile-tablet) {
    display: none;
  }

}

.panel-tiny {
  padding: 0;
}

/* =Body
-------------------------------------------------------------- */

$body-background: $body-bg url(../images/site/stars.gif) repeat 0 0;

body {
  background: $body-background;
  min-width: 280px;
  color: $body-font-color;
  padding: 0;
  margin: 0;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-style: $body-font-style;
  line-height: 1;
  position: relative;
}

.bg-upper {
  display: block;
  width: 100%;
  height: 635px;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent url(../images/site/upper-nebula.png) no-repeat fixed left top;
}

.bg-lower {
  display: block;
  width: 100%;
  height: 635px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: transparent url(../images/site/lower-nebula.png) no-repeat fixed right bottom;
}

/* =Content Header
-------------------------------------------------------------- */

#bg-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#content-header {
  position: relative;
  padding: 50px 0;
  overflow: hidden;
  background: rgba(0,0,0,0.8) url(../images/site/diagmonds.png) repeat fixed 0 0;

  @include respond-to(mobile) {
    padding: 10px;
  }

  > .row {
    @include div-max-width();
  }

  h1 {
    //@include textGlitch('title', 25, $header-font-color, rgba(0,0,0,0.5), lighten($primary-color, 10%), darken($primary-color, 10%), 1200, 400);
  }
}

#content-header-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: transparent;
  text-align: center;
}

#content-header-bottom .triangle {
  @include triangle($content-header-triangle-width, $body-bg, down, true, true);
  margin: 0 0 -2px 0;
}

#content-header-bottom .triangle:before {
  content: "";
  display: block;
  height: 100%;
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 0 (-$content-header-triangle-width);
  background: $body-background;
  border-top: $content-header-border;
}

#content-header-bottom .triangle:after {
  content: "";
  display: block;
  height: 100%;
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 (-$content-header-triangle-width) 0 0;
  background: $body-background;
  border-top: $content-header-border;
}

#home #content-header,
#blog #content-header,
#archive #content-header,
#resume #content-header {
  padding-top: 0;
  height: 600px;
  @include respond-to(mobile) {
    height: 400px;
    padding: 0 10px 25px 0;
  }
}

#about #content-header,
#work #content-header,
#contact #content-header {
  padding-top: 0;
  @include respond-to(mobile) {
    padding: 0 10px 25px 0;
  }
}

#home #content-header .row,
#blog #content-header .row,
#archive #content-header .row,
#resume #content-header .row,
#about #content-header .row,
#work #content-header .row,
#contact #content-header .row {
  padding-top: 25px;
  @include respond-to(mobile) {
    padding-top: 25px;
  }
}

#home #content-header {
  @include respond-to(mobile) {
    height: 500px;
  }
}

#home #content-header p:nth-child(2) {
  @include respond-to(mobile) {
    margin-bottom: 30px;
  }
}

#about #content-header {
  height: 610px;
  background: transparent url(../images/about/miguel-mota-instagram.jpg) no-repeat fixed;
  background-size: 100% auto;
  background-position: center -300px;
  @include respond-to(tablet-small) {
    height: 360px;
    background-position: center -250px;
  }
  @include respond-to(tablet) {
    height: 410px;
  }
  @include respond-to(desktop-large) {
    background-position: center -400px;
  }
  @include respond-to(mobile) {
    background: #dfdfdf url(../images/about/miguel-mota-instagram-small.jpg) no-repeat fixed;
    background-size: 100% auto;
    background-position: center 0;
    height: 260px;
  }
}

#work #content-header {
  height: 410px;
  background: transparent url(../images/work/miguel-mota-sublime-text-solarized-dark-high-res.png) no-repeat fixed;
  background-size: 100% auto;
  background-position: center 0;
  @include respond-to(tablet) {
    background: #dfdfdf url(../images/work/miguel-mota-sublime-text-solarized-dark-medium.png) no-repeat fixed;
    background-size: 100% auto;
    background-position: center 0;
  }
  @include respond-to(mobile) {
    background: #dfdfdf url(../images/work/miguel-mota-sublime-text-solarized-dark-small.png) no-repeat fixed;
    background-size: 100% auto;
    background-position: center 0;
    height: 260px;
  }
}

#contact #content-header {
  height: 600px;
  @include respond-to(mobile) {
    height: 400px;
  }
}

/* =Content
-------------------------------------------------------------- */


@mixin tags($marginBottom: false) {

  .tags {
    @if ($marginBottom == true) {
      margin-bottom: 25px;
    }
  }

  .tags a,
  .tags span,
  .tags i {
    font-size: 12px;
    color: #999;
  }

  .tags a:hover {
    color: #aaa;
    cursor: text;
  }

  .tags span:last-child {
    display: none;
  }

}

#main {
  display: block;
  margin: 0;
  padding: $topbar-height 0 100px 0;
}

#content {
  padding: 25px 10px;
  position: relative;
}

#lead {
  padding-top: 120px !important;
  @include respond-to(mobile) {
    padding-top: 25px !important;
  }


  h1 {
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: normal;

    @include respond-to(mobile) {
      font-size: 22px;
      margin-bottom: 10px;
    }

  }
  p:nth-child(2) {
    font-size: 24px;

    @include respond-to(mobile) {
      font-size: 16px;
      margin-bottom: 10px;
    }

  }
  p:nth-child(3) {
    padding-bottom: 25px;
    a {
      font-weight: bold;
    }
  }
  p:last-child {
    @include respond-to(mobile) {
      font-size: 14px;
    }
  }
}

#featured {
  margin-bottom: 50px;
  @include div-max-width();
  @include tags(true);

  h2 {
    font-size: 34px;

    @include respond-to(mobile) {
      font-size: 26px
    }

  }

  datetime {
    font-size: 26px;
    font-weight: bold;
  }

}

#older-posts {
  @include div-max-width();
}

.posts-list {

  margin-bottom: 50px;

  datetime {
    font-size: 20px;
    font-weight: bold;
  }

  h2 {
    font-size: 26px;

    @include respond-to(mobile) {
      font-size: 20px
    }

  }

  dd p {
    margin-bottom: 5px;
  }

}

#related-posts {

  padding-top: 50px;

  .posts-list {

    datetime {
      font-size: 16px;
    }

    h2 {
      font-size: 20px;
    }

  }

}

#post {
  > .row {
    max-width: 100%;

    .column {
      padding: 0;
    }

    h1,h2,h3,h4,h5,h6,
    p,
    pre,
    table,
    ul {
      @include div-max-width();
    }

  }

  figure {
    @include div-max-width();
  }

  blockquote {
    @include div-max-width();
    font-family: "Courier New", Courier, monospace;
    border: none;
    background: none;
    p {
      padding-left: 10px;
      border-left: 1px solid rgba(255, 255, 255, 0.25);
      line-height: 1.4;
    }
  }

  hr {
    width: 80%;
    margin: 0 auto;
  }

  .tags,
  #related-posts,
  #comments {
    @include div-max-width();
  }

  #comments {
    max-width: 600px;
  }
}


#post > .column {
  padding: 0;
}

#post,
#content-header {

  padding-top: 50px;

  datetime {
    display: block;
    width: 100%;
    font-size: 26px;
    font-weight: bold;
  }

}

#about,
#contact,
#work {
  h1 {
    line-height: 1;
  }
}

#about,
#post {

}

#about {
  h1 {
    color: rgba(43, 43, 43, 0.8);
  }
}

#work {
  h1 {
    color: #bbb;
  }
}

#comments {
  margin: 50px auto 0 auto;
}

figure {
  width: 100%;
  margin-bottom: 15px;
}

figcaption {
  padding: 5px 0 0 0;
  font-size: 12px;
}

[data-last-update] {
  color: $last-updated-color;
  font-size: 12px;
}

[data-demo],
[data-download],
[data-site],
[type="submit"] {
  -webkit-appearance: none;
  @extend .button;
  @extend .button.large;
}

.input-short-url {
  padding: 0 10px;
  text-align: right;
  color: #999;
  font-size: 14px;

  input {
    margin: 0 0 0 10px;
    padding: 0;
    height: 100%;
    display: inline-block;
    width: 100px !important;
    padding: 2px;
    font-size: 14px;
  }

}

.twitter-share-button {
  float: right;
  width: 105px !important;
  font-size: 12px;
  color: transparent;
}

.typekit-badge {
  display: none !important;
}

/* =Home
-------------------------------------------------------------- */

$social-icon-width: 24px;
$social-icon-height: 24px;
$social-icon-width-mobile: 36px;
$social-icon-height-mobile: 36px;
$social-icon-default-background-color: rgba(0,0,0,.2);

@mixin social-icon($width: 32px, $height: 32px, $background-color: transparent, $background-image:null) {
  @include hide-text;
  display: inline-block;
  width: $width;
  height: $height;
  @include respond-to(mobile) {
    width: $social-icon-width-mobile;
    height: $social-icon-height-mobile;
  }
  background: $social-icon-default-background-color url($background-image) no-repeat 0 0;
  background-size: 100% auto;
  @include transition(background-color .25s linear);

  &:hover,
  &:active {
    background-color: lighten($background-color, 10%);
  }
}

#home .learn-more-button {
  @extend .button;
  @extend .button.large;
}

#home #social {
  height: $social-icon-height;
  @include respond-to(mobile) {
    height: $social-icon-height-mobile;
  }
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

#home #social li {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  width: auto;
  height: $social-icon-height;
  @include respond-to(mobile) {
    height: $social-icon-height-mobile;
  }
}

#home #social li > * {
  float: left;
  margin: 0 5px 0 0;
}

#home .twitter {
  @include social-icon($social-icon-width, $social-icon-height, #00ACED, '../images/social/twitter-32.png');
}

#home .gplus {
  @include social-icon($social-icon-width, $social-icon-height, #D14836, '../images/social/googleplus-32.png');
}

#home .github {
  @include social-icon($social-icon-width, $social-icon-height, #4183C4, '../images/social/github-32.png');
}

#home .stackoverflow {
  @include social-icon($social-icon-width, $social-icon-height, #F47920, '../images/social/stackoverflow-32.png');
}

#home .linkedin {
  @include social-icon($social-icon-width, $social-icon-height, #007FB1, '../images/social/linkedin-32.png');
}

#home .delicious {
  @include social-icon($social-icon-width, $social-icon-height, #3274D1, '../images/social/delicious-32.png');
}

#home .facebook {
  @include social-icon($social-icon-width, $social-icon-height, #3B5998, '../images/social/facebook-32.png');
}

#home .instagram {
  @include social-icon($social-icon-width, $social-icon-height, #3F729B, '../images/social/instagram-32.png');
}

#home .tumblr {
  @include social-icon($social-icon-width, $social-icon-height, #2C4762, '../images/social/tumblr-32.png');
}

#home .reddit {
  @include social-icon($social-icon-width, $social-icon-height, #FF4500, '../images/social/reddit-32.png');
}

#home .foursquare {
  @include social-icon($social-icon-width, $social-icon-height, #2398C9, '../images/social/foursquare-32.png');
}

#home .youtube {
  @include social-icon($social-icon-width, $social-icon-height, #CD332D, '../images/social/youtube-32.png');
}

#home .yelp {
  @include social-icon($social-icon-width, $social-icon-height, #C93C27, '../images/social/yelp-32.png');
}

#home .lastfm {
  @include social-icon($social-icon-width, $social-icon-height, #D51007, '../images/social/lastfm-32.png');
}

#home .stumbleupon {
  @include social-icon($social-icon-width, $social-icon-height, #EB4924, '../images/social/stumbleupon-32.png');
}

#home .dribbble {
  @include social-icon($social-icon-width, $social-icon-height, #EA4C89, '../images/social/dribbble-32.png');
}

#home .moogs {
  @include social-icon($social-icon-width, $social-icon-height, #0088CC, '../images/social/moogs-32.png');
}

#home .zazzle {
  @include social-icon($social-icon-width, $social-icon-height, #676767, '../images/social/zazzle-32.png');
}

#home .archive-button {
  @extend .button;
}

#home .posts-list {
  @include tags(true);
}

#swipe {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index:1;

  width: 100%;
  height: $social-icon-height;
  @include respond-to(mobile) {
    height: $social-icon-height-mobile;
  }
}

#swipe .swipe-wrapper {
  position:relative;
  width: 820px;
  -webkit-transition-property:-webkit-transform, left, top;
  -webkit-transition-duration:0s;
  -webkit-transform:translate3d(0px,0,0);
  -webkit-transition-timing-function:ease;

  -moz-transition-property:-moz-transform, left, top;
  -moz-transition-duration:0s;
  -moz-transform:translate3d(0px,0,0);
  -moz-transition-timing-function:ease;

  -o-transition-property:-o-transform, left, top;
  -o-transition-duration:0s;
  -o-transform:translate3d(0px,0,0);
  -o-transition-timing-function:ease;
  -o-transform:translate(0px,0px);

  -ms-transition-property:-ms-transform, left, top;
  -ms-transition-duration:0s;
  -ms-transform:translate3d(0px,0,0);
  -ms-transition-timing-function:ease;

  transition-property:transform, left, top;
  transition-duration:0s;
  transform:translate3d(0px,0,0);
  transition-timing-function:ease;
}

#swipe .swiper-slide {
  float: left;
}

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

/* =Blog
-------------------------------------------------------------- */

#blog datetime small {
  @include respond-to(mobile) {
    display: block;
  }
}

#blog datetime small i,
#blog datetime small a{
  color: rgba(255,255,255,.5);
}

#blog .twitter-share-button {
  @include respond-to(mobile) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

#blog {
  @include tags();
}

#blog .archive-button {
  @extend .button;
}

/* =About
-------------------------------------------------------------- */

#about .resume-button {
  @extend .button;
  @extend .button.large;
}

#about-moogs-logo {
  vertical-align: middle;
}

/* =Resume
-------------------------------------------------------------- */

#resume h3 + p {
  margin: 0 0 40px 0;
}

#resume .resume-list {
  margin: 0 0 50px 0;
}

#resume dl {
  margin: 0 0 40px 0;
}

#resume dl dd {
  margin: 0 0 20px 0;
}

#resume details ul {
  margin: 0 0 0 20px;
}

#resume details ul li {
  color: rgba(255, 255, 255, 0.25);
}

#resume .linkedin-button {
  @extend .button;
  @extend .button.large;
}

#resume .bottom {
  text-align: center;
}

/* =Contact
-------------------------------------------------------------- */

#contact main {
  [class*="icon-"] {
    display: inline-block;
    width: 24px;
    vertical-align: middle;
  }
  .icon-mobile-phone {
    font-size: 25px;
  }
}

#contact #map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 600px;
  @include respond-to(mobile) {
    height: 400px;
  }
}

#contact #contact-info label {
  margin: 0;
  color: #999;
}

#contact [data-location] {
  @extend .alt;
}

#contact .phone,
#contact .phone:hover {
  color: $body-font-color;
  text-decoration: none;
  cursor: text;
}

#contact fieldset {
  @include respond-to(mobile) {
    margin: 20px 0 0 0;
  }
}

#contact [data-alert] {
  display: none;
}

#contact small.error {
  display: none;
}

#contact textarea {
  height: auto;
  overflow: hidden;
  resize: vertical;
}

#contact [type="submit"] {
  float: right;
}

.infoBox {
  background: transparent url('/assets/images/map-tipbox-top.gif') no-repeat center 0 !important;
}

.info-window-content {
  display: none;
}

.info-window-inner {
  @include primary-font;
  border: 1px solid #000;
  margin-top: 8px;
  background: rgba(34, 32, 32, 0.75);
  color: rgba(255,255,255,0.8);
  font-size: 12px;
  padding: .5em 1em;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.7);
  @include box-shadow(0 0 8px rgba(0, 0, 0, 0.4));
}

.info-window-inner a {
  color: #fff;
  text-decoration: none;
}

.info-window-inner a:hover {
  color: #fff;
  text-decoration: underline;
}

/* =Work
-------------------------------------------------------------- */


@mixin slider-nav($side) {
  position: absolute;
  width: 100px;
  height: 100px;
  display: inline-block;
  top: 50%;
  @if $side == right {
    right: 0;
    text-align: right;
  }
  @else if $side == left {
    left: 0;
    text-align: left;
  }
  margin: -50px 0 0 0;
  font-size: 34px;
  z-index: 1;

  &.disabled,
  &.disabled:hover {
    color: #ddd;
    cursor: text;
  }
}

#work-desc {
  text-align: center;
}

#work-slider {
  width: 100%;
  height: 540px;
  position: relative;
  left: 0;
  top: 0;
  margin: 0 auto 40px auto;
  overflow: hidden;
  border: none;
  background-color: transparent;
  @include respond-to(mobile) {
    height: 340px;
  }
  @include respond-to(mobile-landscape) {
    height: 450px;
  }
}

#work-slider .slider {
  width: 100%;
  height: 100%;
}

#work-slider .slide {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  text-align: center;
}

#work-slider img {
  margin: 0 auto;
}

#work-slider #dots {
  position: absolute;
  bottom: 0;
  border: 0;
  width: 100%;
  height: auto;
  border: none;
  text-align: center;
}

#work-slider .dot {
  display: inline-block;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border: none;
  background: #999;
}

#work-slider .dot.active {
  background-color: #0077aa;
}

#work-slider .slide img{
  position: absolute;
  width: 100%;
}

#work-slider .devices {
  position: relative;
  margin: -100px 0 0 0;
  height: 100%;
  @include respond-to(mobile) {
    margin: -120px 0 0 0;
  }
}

#work-slider .desktop {
  left: -100px;
  bottom: 0;
}

#work-slider .laptop {
  left: -100px;
  bottom: 0;
}

#work-slider .tablet {
  right: -100px;
  bottom: 0;
}

#work-slider .mobile {
  right: -100px;
  bottom: 0;
}

#work-slider #slide-next {
  @include slider-nav(right);
}

#work-slider #slide-prev {
  @include slider-nav(left);
}

#work-slider .caption {
  width: 100%;
  position: absolute;
  top: -10px;
  left: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 28px;
  @include respond-to(tablet) {
    font-size: 22px;
  }
  @include respond-to(mobile) {
    font-size: 18px;
  }
}

#work-slider .site {
  text-align: center;
  @include respond-to(mobile) {
    padding: 25px 0 0 0;
  }
}

#work-slider .site a {
  @extend .button;
  @extend .button.large;
}

#work-slider datetime {
  display: block;
  position: relative;
  top: -5px;
  font-size: 12px;
  color: #999;
}

#work-list h2 small,
#work-list h2 small a {
  font-weight: normal;
}

#work-bottom-section {
  text-align: center;
}

#github-button,
#gists-button,
#resume-work-button {
  @extend .button;
  @extend .button.large;
  i {
    line-height: 0;
  }
}

#gists-button {
  @include button-style($primary-alt-color);
}

/* =Social
-------------------------------------------------------------- */

#social dl dt {

}

#social dl dd {

}

#social li img {
  max-height: 32px;
}

/* =Loader
-------------------------------------------------------------- */

#loader,
.loader {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 128px;
  height: 128px;
  margin: -64px 0 0 -64px;
  padding: 100px;
  background: #333 url(../images/ajax-loader-128x128-gray.gif) no-repeat 50% 50%;
}

#work-slider .loader {
  position: absolute;
  padding: 0;
  background: transparent url(../images/ajax-loader-128x128-white.gif) no-repeat 50% 50%;
}

#social .loader {
  display: inline-block;
  position: static;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  padding: 0;
  background: transparent url(../images/ajax-loader.gif) no-repeat center center;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.2);
}

.bubbling {
  text-align: center;
  width:200px;
  height:125px;
}

.bubbling span {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin: 63px auto;
  background: #0077aa;
  -moz-border-radius: 125px;
  -moz-animation: bubbling 1.3s infinite alternate;
  -webkit-border-radius: 125px;
  -webkit-animation: bubbling 1.3s infinite alternate;
  -ms-border-radius: 125px;
  -ms-animation: bubbling 1.3s infinite alternate;
  -o-border-radius: 125px;
  -o-animation: bubbling 1.3s infinite alternate;
  border-radius: 125px;
  animation: bubbling 1.3s infinite alternate;
}

#bubbling-1 {
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

#bubbling-2 {
  -moz-animation-delay: 0.39s;
  -webkit-animation-delay: 0.39s;
  -ms-animation-delay: 0.39s;
  -o-animation-delay: 0.39s;
  animation-delay: 0.39s;
}

#bubbling-3 {
  -moz-animation-delay: 0.78s;
  -webkit-animation-delay: 0.78s;
  -ms-animation-delay: 0.78s;
  -o-animation-delay: 0.78s;
  animation-delay: 0.78s;
}

@-moz-keyframes bubbling {
  0% {
    width: 25px;
    height: 25px;
    background-color:#0077aa;
    -moz-transform: translateY(0);
  }

  100% {
    width: 60px;
    height: 60px;
    background-color:#FFFFFF;
    -moz-transform: translateY(-53px);
  }

}

@-webkit-keyframes bubbling {
  0% {
    width: 25px;
    height: 25px;
    background-color:#0077aa;
    -webkit-transform: translateY(0);
  }

  100% {
    width: 60px;
    height: 60px;
    background-color:#FFFFFF;
    -webkit-transform: translateY(-53px);
  }

}

@-ms-keyframes bubbling {
  0% {
    width: 25px;
    height: 25px;
    background-color:#0077aa;
    -ms-transform: translateY(0);
  }

  100% {
    width: 60px;
    height: 60px;
    background-color:#FFFFFF;
    -ms-transform: translateY(-53px);
  }

}

@-o-keyframes bubbling {
  0% {
    width: 25px;
    height: 25px;
    background-color:#0077aa;
    -o-transform: translateY(0);
  }

  100% {
    width: 60px;
    height: 60px;
    background-color:#FFFFFF;
    -o-transform: translateY(-53px);
  }

}

@keyframes bubbling {
  0% {
    width: 25px;
    height: 25px;
    background-color:#0077aa;
    transform: translateY(0);
  }

  100% {
    width: 60px;
    height: 60px;
    background-color:#FFFFFF;
    transform: translateY(-53px);
  }

}

/* =Footer
-------------------------------------------------------------- */

#footer {
  > .row {
    @include div-max-width();
  }

  padding: 10px 0;
  border-top: 1px solid rgba(0,0,0,0.7);
  color: $footer-color;
  @include respond-to(mobile) {
    font-size: 14px;
  }
}

#footer .icon-heart {
  color: #ff0000;
}

#footer .break {
  display: inline-block;
  @include respond-to(mobile) {
    width: 50%;
    float: left;
  }
}

#footer .break span {
  @include respond-to(mobile) {
    display: block;
  }
}

.twitter-follow-button {
  float: right;
  font-size: 12px;
  color: transparent;
}

/* =Code
-------------------------------------------------------------- */

p > code {
  background: $code-highlight-background;
  border: $code-highlight-border;
  padding: 2px;
  color: #208090;
}

.highlight {
  background: $code-highlight-background;
  overflow: auto;
  border: $code-highlight-border;
  padding: 30px 10px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.gist .highlight {
  border: none;
}

.gist .line-numbers {
  display: none;
}

.gist-syntax .s1 {
  background: none;
}

.gist .gist-file .gist-data .line-pre {
  @include respond-to(tablet-desktop) {
    font-size: 16px !important;
    line-height: 1.2 !important;
  }
}

