@charset 'utf-8';




/*
body, div.content {
	background-color: #434349;
}



div.content li.arrow {
	font-size: 12px;
}

div#portfolio div.content li.arrow,
div#about div.content li.arrow {
	background-image: none;
}
div#contact div.content li.arrow {
	background-image: url('../themes/jqt/img/chevron.png');
}
div#contact div.content li.arrow a {
	font-size: 18px;
}
div.content li.arrow span.date {
	font-size: 10px;
}

*/
.highlight {
	margin: 5px 0;
	padding: 5px;
	font-size: 12px;
	background-color: #111;
}
.highlight code {
	word-wrap: break-word;
}
img.logo {
	height: 32px;
	width: auto;
    position: absolute;
    left: 50%;
    margin: -4px 0 0 -95px;
}
div.content img {
	width: 100%;
	height: auto;	
}
h1.title {
	display: none;
}
div.content span.sub {
	color: #555;
}
div.content p {
	padding: 5px 0;
	line-height: 120%;
	font-size: 12px;
	color: #999;
}
ul.nav li {
	padding: 10px !important;
}
div#stream li.arrow a,
div#about li.arrow a,
div#portfolio li.arrow a,
div#blog li.arrow a {
	display: inline;
	font-size: 12px;
	color: #007799;
}
a#standard_view {
	display: block;
	float: right;
	padding: 5px 10px 5px 5px;
	font-size: 12px;
	color: #007799;
}
/* STREAM_PAGE ============================================================ */
span.mtip {
	display: none;
}
div.content img.loader {
	display: none;
	width: 16px;
	height: 16px;	
	clear: both;
}
div#stream a.social {
	font-size: 14px !important;
}
div#stream ul {
    color: #999;
    font: bold 18px "Helvetica Neue", Helvetica;
    padding: 0;
    margin: 0 0 30px 0;
}
div#stream ul:last-child {
	 margin-bottom: 10px;;
}
div#stream ul li {
    color: #999;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    border-top: none;
    background-color: #fff;
    font-size: 12px;
}
div#stream ul li span.date {
	float: right;
	font-size: 10px !important;
}
div#stream ul li span.date a {
	font-size: 10px !important;
}

div#stream div.latitude {
	display: none;	
}
/* /STREAM_PAGE ============================================================ */
/* PORTFOLIO_PAGE ============================================================ */
div#portfolio div.sort {
	display: none;
}
div#portfolio div.work {
	margin-bottom: 45px;
	padding-top: 5px;
	border-top: 1px solid #000;
}
div#portfolio div.work:last-child {
	margin-bottom: 0;
}
div#portfolio div.container {
	position: relative;
	height: 120px;
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
}
div#portfolio div.container img {
	position: absolute;
}
div#portfolio p.description {
	position: relative;
}
div#portfolio span.date {
	float: right;
	color: #555;
	font-size: 10px !important;
}
/* /PORTFOLIO_PAGE =========================================================== */

/* BLOG_PAGE ================================================================= */
div.post h1 {
	margin: 0 !important;
	word-wrap: break-word !important;
}
div.post h1 a {
	font-size: 24px !important;
}
/* BLOG_PAGE ================================================================= */
/*
#fancybox-left, #fancybox-right {
	
}
#fancybox-wrap {
}
#fancybox-outer {
	background: none !important;
}
#fancybox-content {
	border: 0 !important;
	background: none !important;
	width: 50% !important;
	height: auto !important;
}

.fancybox-title-inside {
	background: none !important;
}

.fancybox-bg,
#fancybox-bg-n,
#fancybox-bg-ne,
#fancybox-bg-e,
#fancybox-bg-se,
#fancybox-bg-s,
#fancybox-bg-sw,
#fancybox-bg-w,
#fancybox-bg-nw {
	position: absolute !important;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	width: 0 !important;
	height: 0 !important;
	z-index: 1001 !important;
	background: none !important;
}
*/