@charset 'utf-8';
/*
body, div.content {
	background-color: #434349;
}
img {
	width: 100%;
	height: auto;	
}

img.loader {
	display: none;
	width: 16px;
	height: 16px;	
	clear: both;
}
div.content li.arrow {
	font-size: 12px;
}

div.content li.arrow p {
	font-size: 12px;
}

div#portfolio div.content li.arrow,
div#about div.content li.arrow {
	background-image: none;
}
div#contact div.content li.arrow {
	background-image: url('../themes/jqt/img/chevron.png');
}
div#contact div.content li.arrow a {
	font-size: 18px;
}
div.content li.arrow span.date {
	font-size: 10px;
}
li.view a {
	font-size: 10px;
}
*/

img {
	width: 100%;
	height: auto;	
}
h1.title {
	display: none;
}
div.content span.sub {
	color: #555;
}
p {
	margin-bottom: 10px;
}
div#about li.arrow a,
div#portfolio li.arrow a {
	display: inline;
}
/* PORTFOLIO_PAGE ============================================================ */
div#portfolio div.sort {
	display: none;
}
div#portfolio div.container {
	position: relative;
	height: 100px;
	overflow: hidden;
}
div#portfolio div.container img {
	position: absolute;
}
div#portfolio p.description {
	position: relative;
	margin: 10px 0 45px 0;
}
div#portfolio span.date {
	float: right;
	color: #aaa;
}
/* /PORTFOLIO_PAGE =========================================================== */