<div class='cse-search-form-wrap'><div id='cse-search-form'></div></div>
<div class='blog-info hide'>
	<div class='blog-description'><p><em>A blog on code, design and some other stuff.</em></p></div>
	<div class='follow-container'>
		<g:plusone class='plus-one-button' href='http://www.miguelmota.com' count='false' size='medium'></g:plusone> 
		<a class='twitter-follow-button' href='https://twitter.com/miguel_mota' data-show-count='false' data-button='grey' data-link-color='#007299'>Follow @miguel_mota</a>
		<a class='subscribe-button' href='http://feeds.feedburner.com/miguelmota'><span class='rss-icon'></span> subscribe</a>
	</div>
</div>
<div class='cse-wrap'><div id='cse'></div></div>