<div id="lead" class="row">
  <div class="large-12 column">
    <h1 data-text="Howdy, I am Miguel Mota">Howdy, I am <strong>Miguel Mota</strong>.</h1>
    <p>A web developer from the always sunny Southern California.</p>
    <p><a class="learn-more-button" href="/about">Learn more »</a></p>
    <div id="swipe">
      <ul id="social" class="swipe-wrapper">
        <li class="swipe-slide"><a class="twitter" href="https://twitter.com/_moogs" target="_blank" data-ga-label="Home - Social - Twitter">@_moogs</a></li>
        <li class="swipe-slide"><a class="gplus" href="https://plus.google.com/u/1/102174577273194387652" target="_blank" data-ga-label="Home - Social - Google+">Google+</a></li>
        <li class="swipe-slide"><a class="github" href="https://github.com/miguelmota" target="_blank" data-ga-label="Home - Social - Github">Github</a></li>
        <li class="swipe-slide"><a class="stackoverflow" href="http://stackoverflow.com/users/1439168/moogs" target="_blank" data-ga-label="Home - Social - Stack Overflow">Stack Overflow</a></li>
        <li class="swipe-slide"><a class="linkedin" href="http://www.linkedin.com/in/miguelmota" target="_blank" data-ga-label="Home - Social - LinkedIn">LinkedIn</a></li>
        <li class="swipe-slide"><a class="facebook" href="https://www.facebook.com/miguel.mota2" target="_blank" data-ga-label="Home - Social - Facebook">Facebook</a></li>
        <li class="swipe-slide"><a class="instagram" href="http://instagram.com/__moogs" target="_blank" data-ga-label="Home - Social - Instagram">Instagram</a></li>
        <li class="swipe-slide"><a class="tumblr" href="http://miguelmota.tumblr.com/" target="_blank" data-ga-label="Home - Social - Tumblr">Tumblr</a></li>
        <li class="swipe-slide"><a class="reddit" href="http://www.reddit.com/user/mooogs/" target="_blank" data-ga-label="Home - Social - Reddit">Reddit</a></li>
        <li class="swipe-slide"><a class="delicious" href="https://delicious.com/miguelmota" target="_blank" data-ga-label="Home - Social - Delicious">Delicious</a></li>
        <li class="swipe-slide"><a class="stumbleupon" href="http://www.stumbleupon.com/stumbler/miguelmota/" target="_blank" data-ga-label="Home - Social - StumbleUpon">StumbleUpon</a></li>
        <li class="swipe-slide"><a class="lastfm" href="http://www.last.fm/user/miguel_mota" target="_blank" data-ga-label="Home - Social - Last.fm">Last.fm</a></li>
        <li class="swipe-slide"><a class="pandora" href="http://www.pandora.com/profile/miguelmota" target="_blank" data-ga-label="Home - Social - Pandora">Pandora</a></li>
        <li class="swipe-slide"><a class="youtube" href="http://www.youtube.com/user/mooooogs" target="_blank" data-ga-label="Home - Social - YouTube">YouTube</a></li>
        <li class="swipe-slide"><a class="vine" href="https://vine.co/u/915934756309438464" target="_blank" data-ga-label="Home - Social - Vine">Vine</a></li>
        <li class="swipe-slide"><a class="foursquare" href="https://foursquare.com/_moogs" target="_blank" data-ga-label="Home - Social - Foursquare">Foursquare</a></li>
        <li class="swipe-slide"><a class="yelp" href="http://miguelmota.yelp.com" target="_blank" data-ga-label="Home - Social - Yelp">Yelp</a></li>
        <li class="swipe-slide"><a class="goodreads" href="https://www.goodreads.com/user/show/42231779-miguel-mota" target="_blank" data-ga-label="Home - Social - Goodreads">Goodreads</a></li>
        <li class="swipe-slide"><a class="dribbble" href="http://dribbble.com/miguelmota" target="_blank" data-ga-label="Home - Social - Dribbble">Yelp</a></li>
        <li class="swipe-slide"><a class="zazzle" href="http://www.zazzle.com/miguelmota" target="_blank" data-ga-label="Home - Social - Zazzle Social">Moogs</a></li>
        <li class="swipe-slide"><a class="moogs" href="/social/" data-ga-label="Home - Social - Moogs Social">Moogs</a></li>
      </ul>
    </div>
  </div>
</div>
