<div id="lead" class="row">
	<div class="large-12 column">
		<p>Howdy, I am <strong>Miguel Mota.</strong></p>
		<p>A web developer from the always sunny Southern California.</p>
		<p><a href="/about">Learn more »</a></p>
		<p><a href="https://twitter.com/_moogs" target="_blank" rel="nofollow">@_moogs</a> / <a href="https://plus.google.com/u/1/102174577273194387652" target="_blank" rel="nofollow">Google+</a> / <a href="http://instagram.com/miguelmota_" target="_blank" rel="nofollow">Instagram</a></p>
	</div>
</div>