<div class="lead row">
  <div class="column">
    <h1 title="Howdy, I am Miguel Mota"><div class="avatar" aria-hidden="true"></div> Howdy, I am <strong>Miguel Mota</strong>.</h1>
    <p>A software developer from the always sunny Southern California.</p>
    <p><a class="learn-more-button" href="/about">Learn more »</a></p>
    <div class="social">
      <ul class="social-list">
        <li class="social-item"><a class="twitter" href="https://twitter.com/miguelmotah" target="_blank" data-ga-label="Home - Social - Twitter" title="Twitter @miguelmotah">@miguelmotah</a></li>
        <li class="social-item"><a class="gplus" href="https://plus.google.com/+MiguelMota1" target="_blank" data-ga-label="Home - Social - Google+" title="Google+ @MiguelMota1">Google+</a></li>
        <li class="social-item"><a class="github" href="https://github.com/miguelmota" target="_blank" data-ga-label="Home - Social - Github" title="Github @miguelmota">Github</a></li>
        <li class="social-item"><a class="stackoverflow" href="http://stackoverflow.com/users/1439168/moogs" target="_blank" data-ga-label="Home - Social - Stack Overflow" title="StackOverflow">Stack Overflow</a></li>
        <li class="social-item"><a class="linkedin" href="http://www.linkedin.com/in/miguelmota" target="_blank" data-ga-label="Home - Social - LinkedIn" title="LinkedIn @miguelmota">LinkedIn</a></li>
      </ul>
    </div>
  </div>
</div>
