<dt><datetime>{{ post.date | date_to_string }}</datetime></dt>
<dd><h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}
  {% for tag in post.tags %}
    {% if tag == "demo" %}
      [Demo]
    {% endif %}
  {% endfor %}
</a> <!--<small><i class="fa fa-comment-o"></i> <a href="http://www.miguelmota.com{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}" title="Comments"></a></small>--></h2>
<p>{{ post.description }}</p>
{% include post_tags.html tags=post.tags %}
</dd>
