<article>
  <datetime>{{ post.date | date_to_string }}</datetime>
  <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}
    {% for tag in post.tags %}
      {% if tag == "demo" %}
        [Demo]
      {% endif %}
    {% endfor %}
  </a> <small><i class="fa fa-comment-o"></i> <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}" title="Comments"></a></small></h2>
  <div class="baseline">
    <p>{{ post.content | strip_html | truncatewords: site.theme.featured_wordcount }}</p>
  </div>
  {% include post_tags.html tags=post.tags %}
  <div><a href="{{ post.url }}" class="more" title="Read more">Read more »</a></div>
</article>