{% if page.previous.category == "blog" %}
    {% if page.previous.url  %}

    <h3>Previous post</h3>

      <dl class="posts-list">
        <dt><datetime>{{ page.previous.date | date_to_string }}</datetime></dt>
        <dd><h2><a href="{{ page.previous.url }}" title="{{ page.previous.title }}">{{ page.previous.title }}</a> <!--<small><i class="icon-comment-alt"></i> <a href="{{ page.previous.url }}#disqus_thread" data-disqus-identifier="{{ page.previous.url }}" title="Comments"></a></small>--></h2></dd>
      </dl>

    {% endif %}
{% endif %}

{% if page.next.category == "blog" %}
    {% if page.next.url %}

      <h3>Next post</h3>

      <dl class="posts-list">
        <dt><datetime>{{ page.next.date | date_to_string }}</datetime></dt>
        <dd><h2><a href="{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}</a> <!--<small><i class="icon-comment-alt"></i> <a href="{{ page.next.url }}#disqus_thread" data-disqus-identifier="{{ page.next.url }}" title="Comments"></a></small>--></h2></dd>
      </dl>

    {% endif %}
{% endif %}