<header class="content-header">
    {% if page.route == "contact" %}
      <div id="map"></div>
    {% endif %}
    <div class="row">
        <div class="column">
          {% if page.route == "home" %}
            {% include home.html %}
          {% else %}
            {% if include.route == "blog-post" %}
              <datetime>{{ page.date | date_to_string }} <small><i class="fa
                fa-comment-o"></i> <a href="{{ page.url }}#disqus_thread"
                data-disqus-identifier="{{ page.url }}"></a></small></datetime>
            {% endif %}
          {% endif %}

          <h1>{{ page.title }}

          {% if page.route == "contact" %}
            <div class="map"></div>
          {% endif %}
        </div>
    </div>
</header>
