<header class="content-header">
    <div class="row">
        <div class="column">
          {% if page.route == "home" %}
            {% include home.html %}
          {% else %}
            {% if include.route == "blog-post" %}
              <datetime>{{ page.date | date_to_string }} <small><i class="fa
                fa-comment-o"></i> <a href="{{ page.url }}#disqus_thread"
                data-disqus-identifier="{{ page.url }}" title="Comments"></a></small></datetime>
            {% endif %}
          {% endif %}

          <h1 title="{{ page.title }}">{{ page.title }}</h1>

          {% if page.route == "contact" %}
            <div class="map">
              <noscript><a href="http://www.enable-javascript.com/" title="Enable JavaScript" target="_blank">Enable JavaScript</a> to view map.</noscript>
            </div>
          {% endif %}
        </div>
    </div>
</header>
