---
layout: default
style: portfolio
---
<section class='content portfolio'>
	{{ content }}
	<div class='pagination project-pagination'>
		{% if page.previous %} 
		    {% if page.previous.url  %} 
				<a class='pagination-previous' href='{{ page.previous.url }}'>&#171; {{ page.previous.title | truncatewords: 15 }}</a>
		    {% endif %}
		{% endif %}
		{% if page.next %} 
		    {% if page.next.url %}
			    <a class='pagination-next' href='{{ page.next.url }}'>{{ page.next.title | truncatewords: 15 }} &#187;</a>
		    {% endif %}
		{% endif %}
	</div>
</section>