* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
  font-size: 16px;
}

p {
  margin-bottom: 1em;
}

main {
  padding: 1em;
}

h1 {
  margin-bottom: 0.2em;
  font-size: 1.4em;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0.2em;
}

h1 a {

}

main header div {
  margin-bottom: 0.5em;
}

main header {
  margin-bottom: 1em;
}

article {
  margin-bottom: 2em;
}

pre {
  overflow-x: auto;
}

ul {
  list-style-position: inside;
  margin-bottom: 1em;
}

.site-header {
  padding: 1em 1em 0 1em;
}

.site-header .index {
  margin-right: 1em;
}

nav {
  display: inline-block;
}

nav ul {
  display: inline-block;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  margin-right: 1em;
}

.highlight {
  margin-bottom: 1em;
}

.tags {
  display: inline-block;
  font-size: 0.8em;
}

.pagination {

}

footer {
  padding: 1em;
}

details {
  margin-bottom: 1em;
}

details summary:hover {
  cursor: pointer;
}
