* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  color: #000;
}

a {
  color: #00e;
}

a:visited {
  color: #551a8b;
}

p {
  margin-bottom: 1em;
}

main {
  padding: 1em;
  max-width: 728px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 0.2em;
  font-size: 1.4em;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0.2em;
}

h1 a {

}

article {
  display: block;
  margin-bottom: 2em;
}

section {
  display: block;
}

pre {
  overflow-x: auto;
}

ul {
  list-style-position: inside;
  margin-bottom: 1em;
}

figure {
  margin-bottom: 1em;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 0.8em;
}

code {
  background: #f0f0f0;
}

blockquote {
  display: block;
  font-style: italic;
  border-left: 4px solid #00000014;
  padding-left: 1em;
  margin-bottom: 1em;
}

article img {
  max-width: 100%;
}

details {
  margin-bottom: 1em;
}

header {
  display: block;
}

hgroup {
  display: block;
}

details summary:hover {
  cursor: pointer;
}

article ul li {
  margin-bottom: 0.5em;
}

main header {
  margin-bottom: 1em;
}

.site-header {
  padding: 1em 1em 0 1em;
  max-width: 728px;
  margin: 0 auto;
}

.site-header nav {
  display: inline-block;
}

.site-header nav ul {
  display: inline-block;
}

.site-header ul li {
  display: inline-block;
  margin-bottom: 0.5em;
}

.site-header nav ul li a {
  margin-right: 1em;
}

.highlight {
  margin-bottom: 1em;
}

.tags {
  display: inline-block;
  font-size: 0.8em;
}

.tags ul {
  list-style: none;
  margin-bottom: 0;
}

.tags ul li {
  display: inline-block;
  text-transform: lowercase;
  margin: 0 0.5em 0 0;
}

.pagination {
  margin-bottom: 2em;
}

.summary {
  margin-bottom: 0.5em;
}

.related {
  margin-bottom: 2em;
}

.subscribe {
  margin-bottom: 2em;
}

.subscribe p {
  margin-bottom: 0.5em;
}

.subscribe label {
  display: block;
  font-size: 0.8em;
}

.subscribe input[type="email"] {
  min-width: 16em;
  padding: 0.2em;
}

.site-footer {
  max-width: 728px;
  margin: 0 auto;
  padding: 1em;
}
