---
layout: default
title: Thoughts
description: A blog on all things web.
route: blog
---
{% include site_header.html %}

<section class="content">
  <div class="featured row">
    <div class="large-12 column">
    <h3>Latest</h3>
      {% for post in site.categories.blog offset: 0 limit: site.theme.homepage_featured %}
        {% include post_featured.html %}
      {% endfor %}
    </div>
  </div>

  <div class="older-posts" class="row">
    <div class="large-12 column">
      <h3>Older thoughts</h3>

      <dl class="posts-list">
        {% for post in site.categories.blog offset: site.theme.homepage_featured limit: site.theme.homepage_posts %}
          {% include post_summary.html %}
        {% endfor %}
      </dl>
      <p><a class="archive-button" href="/archive">View all posts »</a></p>
    </div>
  </div>

  <script>
      var disqus_shortname = '{{ site.disqus_shortname }}';

      (function () {
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = '//' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
  </script>

</section>
