@CHARSET "UTF-8";

body {
	font-family: Helvetica;
	font-size: 18px;
	background: #c3c8cb;
	color: #aaa;
}
div#wrap {
	margin: 0 auto;
	width: 760px;
	height: 100%;
	border: 1px solid #aaa;
}
nav.main {
	margin: 0 auto;
}
ul.nav ul {
	width: 100%;
	border: 1px solid #aaa;
}
ul.nav ul li {
	display: inline;
}
ul.nav a {
	float: left;
	width: 100px;
	padding: 10px;
	color: #555;
	border: 1px solid #aaa;
}
img.logo {
	width: 248px;
	height: auto;
}