---
layout: blog-post
title: Getting Started with Backbone.js
category: blog
tags: [JavaScript, backbone.js]
short_url: mig.gs/MDyO
description: Getting cozy with Backbone.js Models, Collections, Views, and Routes.
---
<p>In this tutorial I will go over <a href="http://backbonejs.org/" target="_blank">Backbone.js</a> main components:  Models, Collections, Views, and Routes. We will not be building an application but instead we will be going over a number of simple examples of each Backbone compoment, that hopefully after we are done you will have a firm understanding of Backbone.js and be able to put it all together.</p>

<h2>Models</h2>

<p>Models are a key component of Backbone applications. With model objects you can easily keep track of your data and update as needed. A strength of Backbone models is that you can synchronize your model data to the server which we will go over later.</p>

<h3>Model basics</h3>

<h4>Creating models</h4>

<p>Creating a Backbone model:</p>

{% highlight javascript %}
var TodoItem = Backbone.Model.extend({});
{% endhighlight %}

<p>Creating a Backbone model with default attributes (properties):</p>

{% highlight javascript %}
var TodoItem = Backbone.Model.extend({
  defaults: {
    description: 'Empty todo...',
    done: false
  }
});
{% endhighlight %}

<p>Creating an instance of a Backbone model:</p>

{% highlight javascript %}
var todoItem = new TodoItem({});
{% endhighlight %}

<p>Creating an instance of a Backbone model with attributes:</p>

{% highlight javascript %}
var todoItem = new TodoItem({
  description: 'Pick up milk'
});
{% endhighlight %}

<p>Doing something when a model instance gets created:</p>

{% highlight javascript %}
var TodoItem = Backbone.Model.extend({
  initialize: function() {
    console.log('Welcome, new model.');
  }
});

var todoItem = new TodoItem();
{% endhighlight %}

<h4>Setting model data</h4>

<p>Setting attributes on a model:</p>

{% highlight javascript %}
todoItem.set({description: 'Pick up eggs'});
{% endhighlight %}

<h4>Getting model data</h4>


<p>Retrieving an attribute:</p>

{% highlight javascript %}
var description = todoItem.get('description');
{% endhighlight %}

<p>Retrieving all attributes in JSON format:</p>

{% highlight javascript %}
var attributes = todoItem.attributes;
{% endhighlight %}

<h4>Destroying model</h4>

<p>Destroying a model:</p>

{% highlight javascript %}
todoItem.destroy({
  success: function() {
    console.log('Todo item destroyed');
  },
  error: function(model, xhr, options) {
    console.log('Destroy error');
  }
});
{% endhighlight %}

<h3>Model methods</h3>

<p>Adding custom model methods:</p>

{% highlight javascript %}
var TodoItem = Backbone.Model.extend({
  priority: function(level) {
    this.set({priority: level});
  }
});

var todoItem = new TodoItem();
todoItem.priority('high');
{% endhighlight %}

<h3>Synchronizing model with server</h3>

<p>Backbone gives us the ability maintain the same state of the model on the server and vice versa.</p>

<h4>Setting sync url</h4>

<p>To get sync going we need to tell our model what url to fetch from.</p>

{% highlight javascript %}
var TodoItem = Backbone.Model.extend({
  urlRoot: '/todo'
});
{% endhighlight %}

<p>In this example, the RESTful <code>/todo</code> url will return a todo item in JSON format. For the server to know which todo item to fetch from the database an <code>id</code> parameter is required when doing the request. Let's just say that the server responds with the following JSON:</p>

{% highlight javascript %}
{
  id: 1,
  description: 'Pick up milk',
  done: false
}
{% endhighlight %}

<h4>Fetching from server</h4>

<p>To pull the server data into a Backbone model, we call the <code>fetch</code> method:</p>

{% highlight javascript %}
var todoItem = new TodoItem({id: 1});

todoItem.fetch({
  success: function(model) {
    model.get('description'); // Pick up milk
  },
  error: function(model, xhr, options) {
    console.log('Fetch error');
  }
});

{% endhighlight %}

<h4>Parsing response from server</h4>

<p>If the response from the server is formatted differently than our model, for example it looks like:</p>

{% highlight javascript %}
{
  todo: {
    id: 1,
    desc: 'Pick up milk',
    done: false
  }
};
{% endhighlight %}

<p>We can easily parse the response from the server:</p>

{% highlight javascript %}
var TodoItem = Backbone.Model.extend({
  parse: function(response) {
    response = response.todo;
    response.description = response.desc;    
    delete response.desc;
    return response;
  }
});

var todoItem = new TodoItem(data, {parse: true});
{% endhighlight %}

<h4>Posting to server</h4>

<p>After we have done some change to the model we can do a PUT request to the server to persist the changes:</p>

{% highlight javascript %}
todoItem.save({description: 'Pick up eggs'}, {
  success: function(model) {
   console.log('Todo item saved'); 
  },
  error: function(model, xhr, options) {
   console.log('Save error'); 
  }
});
{% endhighlight %}

<h4>Parsing request to server</h4>

<p>Once again we can format the data before we send it if the server is expecting it in a different format:</p>

{% highlight javascript %}
var TodoItem = Backbone.Model.extend({
  toJSON: function() {
    var attrs = _.clone(this.attributes);
    attrs.desc = attrs.description;
    attrs = _.pick(attrs, 'desc', 'status'); // Pick out only object properties we want
    return { todo: attrs };
  }
});

...

todoItem.save();
{% endhighlight %}

<p>Retrieving model formatted JSON:</p>

{% highlight javascript %}
var json = todoItem.toJSON();
{% endhighlight %}

<h4>Model unique identifier</h4>

<p>By default Backbone models use <code>id</code> as a unique identifier. If your server is expecting a different id we can easily change it:</p> 

{% highlight javascript %}
var TodoItem = Backbone.Model.extend({
  idAttribute: '_id' 
});

var todoItem = new TodoItem({id: 1});

todoItem.fetch(); // Fetches _id 1 from server
{% endhighlight %}

<h3>Model validation</h3>

<p>Performing validation before data is stored on the model:</p>

{% highlight javascript %}
var TodoItem = Backbone.Model.extend({
  validate: function(attributes, options) {
    if (attributes.description.length === 0) {
      return 'Description cannot be empty';
    } 
  },
  initialize: function() {
    this.on('invalid', function(model, error) {
      console.log('Validation error:', error);
    });
  }
});

var todoItem = new TodoItem({description: ''});
todoItem.save(); // Triggers an error
{% endhighlight %}

<h3>Model events</h3>

<p>Backbone models can listen to events and fire a callback. For example when a todoItem model gets destroyed you might want to remove the todo list item from the view with having to think about it. We'll go over views shortly.</p>

<h4>Common events</h4>

<p>Listen to the destory event:</p>

{% highlight javascript %}
todoItem.on('destroy', function(model, collection, options) {
  console.log('todoItem destroyed');
});
{% endhighlight %}

<p>Listening to attribute changes:</p>

{% highlight javascript %}
todoItem.on('change', function(model, options) {
  console.log('todoItem was changed');
});
{% endhighlight %}

<p>Listening to changes on a specific attribute:</p>

{% highlight javascript %}
todoItem.on('change:description', function(model, options) {
  console.log('todoItem description changed to %s', model.get('description'));
});
{% endhighlight %}

<p>Listening to the error event (when the model <code>save</code> call fails):</p>

{% highlight javascript %}
todoItem.on('error', function(model, error, options) {
  console.error('Error:', error);
});
{% endhighlight %}

<p>Listening to validation errors:</p>

{% highlight javascript %}
todoItem.on('invalid', function(model, error) {
  console.error('Validation error:', error);
});
{% endhighlight %}

<p>Listening to sync event:</p>

{% highlight javascript %}
todoItem.on('sync', function(model, resp, options) {
  console.log('Successfully synced to server');
});
todoItem.trigger('hello');
{% endhighlight %}

<p>Listening to all events:</p>

{% highlight javascript %}
todoItem.on('all', function(event) {
  console.log('The %s event got triggered', event);
});
{% endhighlight %}

<h4>Custom events</h4>

<p>Custom event:</p>

{% highlight javascript %}
todoItem.on('foo', function(model) {
  console.log('foo event triggered');
});

todoItem.trigger('foo');
{% endhighlight %}

<h4>Unbinding from an event</h4>

<p>Stop listening to an event</p>

{% highlight javascript %}
todoItem.off('change', function() {
  console.log('No longer listening to changes');
});
{% endhighlight %}

<p>If you don't want any events triggered on a model when you do something:</p>

{% highlight javascript %}
todoItem.set({description: 'Pick up eggs'}, {silent: true});
{% endhighlight %}

<h3>Overrding sync method</h3>

<h4>Models and local storage</h4>

<p>Instead of syncing our model to the server we can have it save to <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/API/DOM/Storage" target="_blank">local storage</a> To do this we must override the four syn methods: <code>read</code>, <code>create</code>, <code>update</code>, and <code>delete</code>.</p>

{% highlight javascript %}
var TodoItem = Backbone.Model.extend({
  // method = <read|create|update|delete>
  sync: function(method, model, options) {
    options || (options = {});
    switch(method) {
      case 'create':
        var key = 'TodoItem-' + model.id;
        localStorage.setItem(key, JSON.stringify(model)); 
      break;
      case 'read':
        var key = 'TodoItem-' + model.id;
        var result = localStorage.getItem(key);
        if (result) {
          result = JSON.parse(result);
          options.success && options.success(result);
        } else if (options.error) {
          options.error('Could not find TodoItem id=' + model.id);
        } 
      break;
      case 'update':
        var key = 'TodoItem-' + model.id;
        localStorage.setItem(key, JSON.stringify(model)); 
      break;
      case 'delete':
        var key = 'TodoItem-' + model.id;
        localStorage.removeItem(key); 
      break;
    }
  }
});

(new TodoItem({id: 1, description: 'Pick up milk'})).save(); // will store in local storage

var todoItem = new TodoItem({id: 1}); // will read from local storage
todoItem.fetch({
  error: function(msg) {
    console.log(msg};
  }
); 
{% endhighlight %}

<p>Luckily the <a href="https://github.com/jeromegn/Backbone.localStorage" target="_blank">Backbone.localStorage</a> adapter by <a href="https://github.com/jeromegn" target="_blank">Jerome Gravel-Niquest</a> takes care of all the messy work. Simply include the <code>backbone.localStorage.js</code> in your page and set the <code>localStorage</code> property on your Backbone collection:</p>

{% highlight javascript %}
var TodoItems = Backbone.Collection.extend({
  model: TodoItem,
  localStorage: new Backbone.LocalStorage('TodoItems')
});
{% endhighlight %}

<h4>Read-only model</h4>

<p>Overriding the sync method to make model <em>read-only</em>:</p>

{% highlight javascript %}
var TodoItem = Backbone.Model.extend({
  sync: function(method, model, options) {
    if (method === 'read') {
      Backbone.sync(method, model, options);
    } else {
      console.error('You can not ' + method + ' the TodoItem model');
    }
  }
});
{% endhighlight %}

<h4>Creating a base model</h4>

{% highlight javascript %}
var BaseModel = Backbone.Model.extend({
  foo: function() {
    return 'bar';
  }
});

var todoItem = new BaseModel.extend({});
todoItem.foo();
{% endhighlight %}

<h2>Collections</h2>

<p>A Backbone collection is simply put: a collection of Backbone models. Collections make it easy to iterate and filter a list models to get what we need.</p>

<h3>Collection basics</h3>

<h4>Creating a Collection</h4>

<p>Creating a Backbone TodoList collection that will hold TodoItem models.</p>

{% highlight javascript %}
var TodoList = Backbone.Collection.extend({
  model: TodoItem
});

var todoList = new TodoList();
{% endhighlight %}

<h4>Adding to collection</h4>

<p>Adding a todo item model to the todo list collection:</p>

{% highlight javascript %}
todoList.add(todoItem);
{% endhighlight %}

<p>Append model to end collection:</p>

{% highlight javascript %}
todoList.push(todoItem);
{% endhighlight %}

<p>Prepend model to beginning of collection:</p>

{% highlight javascript %}
todoList.unshift(todoItem);
{% endhighlight %}

<h4>Retrieving model from collection</h4>

<p>Getting a model from collection based on the model id:</p>

{% highlight javascript %}
var todoItemOne = todoList.get(1);
{% endhighlight %}

<p>Getting a model from collection by index:</p>

{% highlight javascript %}
var thirdTodoItem = todoList.at(2);
{% endhighlight %}

<p>Getting array of collection models:</p>

{% highlight javascript %}
var models = todoList.models;
{% endhighlight %}

<h4>Removing model from collection</h4>

<p>Removing model from collection:</p>

{% highlight javascript %}
todoList.remove(todoItem);
{% endhighlight %}

<p>Remove and return the last model from collection:</p>

{% highlight javascript %}
var lastTodo = todoList.pop();
{% endhighlight %}

<h4>Collection length</h4>

<p>Number of models in a collection:</p>

{% highlight javascript %}
todoList.length;
{% endhighlight %}

<h4>Collection sorting</h4>

<p>Backbone gives us a <a href="http://backbonejs.org/#Collection-comparator" target="_blank"><code>comparator</code></a> which we can utilize to sort the collection:</p>

{% highlight javascript %}
var TodoItems = Backbone.Collection.extend({
  comparator: 'description' // sort by "description" attribute
});
{% endhighlight %}

<p>We can define our own custom comparator method:</p>

{% highlight javascript %}
var TodoItems = Backbone.Collection.extend({
  comparator: function(todo1, todo2) {
    return todo1.get('done') < todo2.get('done') // sort by "done" attribute in reverse order            
  }
});
{% endhighlight %}

<h3>Collection methods</h3>

<p>Like with models we can add custom methods to our Backbone collection. Here we will create a method that returns the number fo completed todos:</p>

{% highlight javascript %}
var TodoItems = Backbone.Collection.extend({
  completedCount: function() {
    return this.where({done: true}).length                
  }
});

var completed = todoItems.completedCount();
{% endhighlight %}

<h3>Collection events</h3>

<p>Just like models, collection can have event listeners attached.</p>

<p>Listening for collection reset:</p>

{% highlight javascript %}
todoList.on('reset', function() {
  console.log('todoList reseted with data');
});
{% endhighlight %}

<p>Listening for when collection is fetch:</p>

{% highlight javascript %}
todoList.on('fetch', function() {
  console.log('todoList fetched from server');
});
{% endhighlight %}

<p>Listening for new models added to list:</p>

{% highlight javascript %}
todoList.on('add', function(todoItem) {
  console.log('New todo item added to list');
});
{% endhighlight %}

<p>Listening for model removal from list:</p>

{% highlight javascript %}
todoList.on('remove', function() {
  console.log('Todo item removed from list');
});
{% endhighlight %}

<p>Unbinding a listener:</p>

{% highlight javascript %}
todoList.off('reset', function() {
  console.log('No longer listening to reset event');
});
{% endhighlight %}

<h3>Collection bulk population</h3>

<p>Bulk populating a collection:</p>

{% highlight javascript %}
var TodoItem = Backbone.Model.extend({});

var TodoList = Backbone.Collection.extend({
  model: TodoItem
});

var todoItem1 = new TodoItem({description: 'Pick up milk'});
var todoItem2 = new TodoItem({description: 'Pick up eggs'});

var todoList = new TodoList([todoItem1, todoItem1]);
{% endhighlight %}

<p>Bulk populating a collection using reset:</p>

{% highlight javascript %}
var TodoList = Backbone.Collection.extend({
  model: TodoItem
});

var todoList = new TodoList();

var todos = [
  {description: 'Pick up milk'},
  {description: 'Pick up eggs'}
];

todoList.reset(todos);
{% endhighlight %}

<h3>Fetching collection from server</h3>

<p>Just like with models we can fetch a collection from the server into our collection instance. To do so the server should respond with an array of objects that our Backbone model can parse. For example:</p>

{% highlight javascript %}
[
  {id: 1, description: 'Pick up milk', done: false},
  {id: 2, description: 'Pick up eggs', done: false}
]
{% endhighlight %}

<p>We need to set the url property on our collection and do a fetch:</p>

{% highlight javascript %}
var TodoList = Backbone.Collection.extend({
  url: '/todos'
});

todoList.fetch();
{% endhighlight %}

<p>After fetch the todoList collection will contain an array of TodoItem instances loaded with attribute data from the server.</p>

<h4>Collection parsing</h4>

<p>Like with our models we can parse the response from the server if it differs than from what our collection is expecting. Let's say that the response from the server looks like this:</p>

{% highlight javascript %}
{
  "total": 25, "per_page": 10, "page": 2,
  "todos": [{"id": 1}, {"id": 2}]
}
{% endhighlight %}

<p>We can parse the response, as well keep additional meta data:</p>

{% highlight javascript %}
var TodoITems =  Backbone.Collection.extend({
  url: '/todos',
  parse: function(response) {
    this.perPage = response.per_page;
    this.page = resposne.page;
    this.total = response.total;    
    return response.todos;
  }
});
{% endhighlight %}

<p>When we do a fetch we can use that addional meta data to get specified results:</p>

{% highlight javascript %}
todoItems.fetch({data: {page: todoItems.page + 1}}); // GET /todos?page=3
{% endhighlight %}

<p>We can then incorporate simple pagination into our view:</p>

{% highlight javascript %}
var TodoListView = Backbone.View.extend({
  template: _.template('<a href="#/todos/p<%= page %>/pp<%= per_page %>">View Next</a>'),
  initialize: function(){
    this.collection.on('reset', this.render, this);
  },
  render: function(){
    this.$el.empty();
    this.collection.forEach(this.addOne, this);
    this.$el.append(this.template({page: this.collection.page + 1, per_page: this.collection.per_page}));
  },
  addOne: function(model){
    var todoListView = new TodoListView({model: model});
    todoListView.render();
    this.$el.append(todoListView.el);
  }
});
{% endhighlight %}

<h3>Collection iteration</h3>

<p>Iterarte over collection:</p>

{% highlight javascript %}
todoList.forEach(function(index, todoItem) {
  console.log(todoItem.get('description'));
});
{% endhighlight %}

<p>Build array of values mapped by iterator function:</p>

{% highlight javascript %}
var descriptions = todoList.map(function(todoItem, index) {
  return todoItem.get('description');
});
{% endhighlight %}

<p>Filter by some criteria and return an array with those models:</p>

{% highlight javascript %}
var doneTodoItems = todoList.filter(function(todoItem, index) {
  return todoItem.get('done') === true;
});
{% endhighlight %}

<p>These are just a few but the Underscore library provides many more <a href="http://documentcloud.github.io/backbone/#Collection-Underscore-Methods" target="_blank">collection iteration methods</a>.</p>

<h2>Views</h2>

<p>A view is an ouput representation of data. Views allows us to display dynamic model data to the user.</p>

<h3>Generating a view</h3>

<p>Here we are creating a simple view. We are an <a href="http://underscorejs.org/#template" target="_blank">Underscore template</a> and once the view render function gets called we will set the compiled template html to <code>el</code> property of the view. By default the <code>el</code> property is a div element. After we render the view we append the view html to our body.</p>

{% highlight javascript %}
var TodoView = Backbone.View.extend({
  template: _.template('<p>Pick up milk</p>'),
  render: function() {
    this.$el.html(this.template());
  }
});

var todoView = new TodoView();

todoView.render();

$('body').append(todoView.el);
{% endhighlight %}

<p>Now the DOM will look like this:</p>

{% highlight html %}
<body>
  <div>
    <p>Pick up milk</p>
  </div>
</body>
{% endhighlight %}

<p>Like I mentioned earlier the default view element is a <code>div</code> but we can easily change that:</p>

{% highlight javascript %}
var TodoView = Backbone.View.extend({
  tagName: 'section',
  id: 'todo-view',
  className: 'todo',
  template: _.template('<p>Pick up milk</p>'),
  render: function() {
    this.$el.html(this.template());
  }
});

var todoView = new TodoView();

todoView.render();

$('body').append(todoView.el);
{% endhighlight %}

<p>Generated DOM:</p>

{% highlight html %}
<body>
  <section id="todo-view" class="todo">
  <p>Pick up milk</p>
  </section>
</body>
{% endhighlight %}

<p>We can also use an existing element on the page to insert our view rather than append it everytime:</p>

{% highlight html %}
<body>
  <div id="todo"></div>
</body>
{% endhighlight %}

{% highlight javascript %}
var TodoView = Backbone.View.extend({
  el: '#todo',
  template: _.template('<p>Pick up milk</p>'),
  render: function() {
    this.$el.html(this.template());
  }
});

var todoView = new TodoView();

todoView.render();
{% endhighlight %}

<p>Generated DOM:</p>

{% highlight html %}
<body>
  <div id="todo">
    <p>Pick up milk</p>
  </div>
</body>
{% endhighlight %}

<p>Note that we can also specify the <code>el</code> element during view instantiation.</p>

{% highlight javascript %}
var todoView = new TodoView({el: $('#todo'});
{% endhighlight %}

<h3>Models and views</h3>

<p>With Underscore templates we can use variables, that once the view is compiled, will be replaced with our model data.</p>

{% highlight javascript %}
var TodoView = Backbone.View.extend({
  template: _.template('<p><%= description %></p>'),
  render: function() {
    this.$el.html(this.template(this.model.attributes));
  }
});

var todoView = new TodoView({
  model: todoItem
});

todoView.render();

$('body').append(todoView.el);
{% endhighlight %}

<p>Generated DOM:</p>

{% highlight html %}
<body>
  <div>
    <p>Pick up milk</p>
  </div>
</body>
{% endhighlight %}

<h3>Keeping templates seperate</h3>

<p>It is good practice to keep to templates seperate from our application logic. One way we can do this is by placing the template html into a script tag. By setting the <code>src</code> attribute to something other than <code>text/javascript</code> the document will ignore it and not try to execute the code.</p>

{% highlight html %}
<script src="text/template" id="todo-template">
  <p><%= description %>
</script>
{% endhighlight %}

{% highlight javascript %}
var TodoView = Backbone.View.extend({
  template: _.template($('#todo-template').html()),
  render: function() {
    this.$el.html(this.template(this.model.attributess));
  }
});
{% endhighlight %}

<h3>Using alternative templating libaries</h3>

<p>There are plenty of alternative templating libraries that you can use if you're not diggin' Underscore's ERB-style delimeters,  such as <a href="http://handlebarsjs.com/" target="_blank">Handlebars.js</a>, <a href="http://mustache.github.io/" target="_blank">Mustache.js</a>, and <a href="http://twitter.github.io/hogan.js/" target="_blank">Hogan.js</a>.</p>

<p>Example using Mustache.js templates:</p>

{% highlight javascript %}
var TodoItemView = BackboneView.extend({
  template: Mustache.compile('<p>{{ description }}</span>'),
  render: function() {
    this.$el.html(this.template(this.model.attributes));
  }
});
{% endhighlight %}

<h3>View events</h3>

<p>The neat thing about Backbone views is that we can bind events that attach to only the view's <code>el</code> and children elements. We first specify the event, then the optional selector, and lastly the method:</p>

{% highlight javascript %}
var TodoView = Backbone.View.extend({
  events: {
    'dblclick': 'open',
    'click .icon': 'select',
    'mouseover .title': 'showtooltip',
    'keypress input': 'autocomplete'
  },
  open: function(event) {
    console.log('You double clicked somewhere in the view');
  },
  select: function(event) {
    console.log('You click on .icon');
  },
  showtooltip: function(event) {
    console.log('You hovered over .title');
  },
  autocomplete: function(event) {
    console.log('You did a keypress in the input field');
  }
});
{% endhighlight %}

<h4>Form submission</h4>

<p>Here we are displaying a todo form which has an input field and a save button. When the form is submitted we are capturing the submit event and creating a new todo model with the description inputed:</p>

{% highlight javascript %}
var TodoForm = Backbone.View.extend({
  template: _.template('<form><input name="description" value="<%= description %>"><button>Save</button></form>'),
  events: {
    submit: 'save'
  },
  save: function(e) {
    e.preventDefault();
    var description = this.$('input[name="description"]').val();
    this.model.save({description: description}, {
      success: function(model, response, options) {
        console.log('Save successful');
      },
      error: function(model, xhr, options) {
        var errors = JSON.parse(xhr.response.text).errors;
        console.log('Save error:',  errors);
      }
    });
  },
  render: function() {
    this.$el.html(this.template(this.model.attributes));
    return this;
  }
});

var todoItem = new TodoItem();
var todoForm = new TodoForm({model: todoItem});
$('#app').html(todoForm.render().el);
{% endhighlight %}

<p>We can easily turn the form into an edit form:</p>

{% highlight javascript %}
var todoItem = todoItems.get(1);
var editTodoFrom = new TodoForm({model: todoItem});
$('#app').html(editTodoForm.render().el);
{% endhighlight %}

<h3>View options</h3>

<p>View options is extra data we can pass along to our view object.</p>

<p>For example we can a todo item model and user model on our view:</p>

{% highlight javascript %}
var todoView = new TodoView({
  model: todoItem,
  user: currentUser
});

var user = todoView.options.user;
{% endhighlight %}

<p>Another example:</p>

{% highlight javascript %}
var TodoView = Backbone.View.extend({
  initialize: function(options) {
    this.user = options.user;
  }
});

var todoView = new TodoView({user: currentUser});

var user = todoView.options.user;
{% endhighlight %}

<h3>Collections and views</h3>

<h4>Adding collection models to view</h4>

<p>Append all collection models to view on view initialization and listen to the add event on the collection to update view accordingly:</p>

{% highlight javascript %}
var TodoListView = Backbone.View.extend({
  initialize: function() {
    this.collection.on('add', this.addOne, this); // bind context to view
    this.collection.on('reset', this.addAll, this);
  },
  addOne: function(todoItem) {
    var todoView = new TodoView({model: todoItem});
    this.$el.append(todoView.render().el);
  },
  addAll: function() {
    this.collection.forEach(this.addOne, this);
  },
  render: function() {
    this.addAll();
  }
});

var newTodoItem = new TodoItem({
  description: 'Pick up milk'
});

todoList.add(newTodoItem);
{% endhighlight %}

<h4>Updating view when model deleted</h4>

<p>Listening to the remove event on the collection and updating view:</p>

{% highlight javascript %}
var TodoList = Backbone.Collection.extend({
  initialize: function() {
    this.on('remove', this.hideModel);
  },
  hideModel: function(model) {
    model.trigger('hide');
  }
});

var TodoItemView = Backbone.View.extend({
  initialize: function() {
    this.model.on('hide', this.remove, this);
  }
});

todoList.remove(todoItem);
{% endhighlight %}

<h3>Tying view events to models</h3>

<h4>Updating views on model change</h4>

<p>Update view when model changes and highlight corresponding view item.</p>

{% highlight javascript %}
var TodoView = Backbone.View.extend({
  template: _.template('<%= model.("description") %>'),
  initialize: function(options) {
    this.model.on('change:description', this.change, this);
  },
  render: function() {
    this.$el.html(this.template(this.model.attributes));
  },
  change: function(model, value, options) {
    this.$('span').html(value);
    if (options.highlight) {
      this.$el.effect('highlight', {}, 1000);
    }
  }
});

todoItem.set({description: 'Pick up eggs'}, {highlight: false});
{% endhighlight %}


<h4>Checkbox toggle example</h4>

<p>Update model when view checkbox changes and update view as well:</p>

{% highlight javascript %}
var TodoView = Backbone.View.extend({
  template: _.template(),
  events: {
    'change input': 'toggleStatus'
  },
  initialize: function() {
    this.model.on('change', this.render, this); // bind context to view
  },
  toggleStatus: function() {
    this.model.toggleStatus();
  },
  render: function() {
    this.$el.html(this.template(this.model.attributes));
  }
});

// Keeping checkbox model logic in model
var TodoItem = Backbone.Model.extend({
  toggleStatus: function() {
    if (this.get('status') === 'incomplete') {
      this.set({'status': 'complete'});
    } else {
      this.set({'status': 'incomplete'});
    }
  }
});
{% endhighlight %}

<h4>Removing view when model is destroyed</h4>

<p>Remove view on model destroy:</p>

{% highlight javascript %}
var TodoView = Backbone.View.extend({
  initialize: function() {
    this.model.on('change', this.render, this); // bind context to view
    this.model.on('destroy', this.remove, this);
  },
  render: function() {
    this.$el.html(this.template(this.model.attributes));
  },
  remove: function() {
    this.$el.remove();
  }
});
{% endhighlight %}


<h4>Removing view reference on model when view gets deleted</h4>

<p>Before a view gets removed we want to unbind all listeners:</p>

{% highlight javascript %}
todoView.stopListening();
todoView.remove();
{% endhighlight %}

<p>Backbone automatically calls <code>stopListening</code> when the <code>remove</code> method is executed.</p>

<h3>Preventing XSS attacks</h3>

<p><a href="http://en.wikipedia.org/wiki/Cross-site_scripting" target="_blank">Cross-site scripting</a> (XSS) attacks is when an end user inject malicious scripts into our application. One way to prevent this from happening to to escape script tags so that the script does not execute:</p>

{% highlight javascript %}
var TodoView = Backbone.View.extend({
  template: _.template('<p><%= model.escape("description") %></p>')
});
{% endhighlight %}

<h2>Routes</h2>

<p>Routes allows us to create pages and map them to actions and events. It makes bookmarkable urls possible.</p>

<h3>Router basics</h3>

<p>In Backbone we specify our routes in a Router object and map a function to each route. When a particular route is triggered the routes function will execute:</p>

{% highlight javascript %}
var TodoRouter = new (Backbone.Router.extend({
  routes: {
    '': 'index',
    'about': 'about'
  },
  index: function() {
    console.log('/ route'); 
  },
  about: function() {
    console.log('/about route');
  }
}));
{% endhighlight %}

<h4>Route paramaters</h4>

<p>We can set our router to have parameter parts in order to have dynamic routing. To do this we set a colon followed by the parameter name on the route and then pass the parameter name in the function to get the value:</p>

{% highlight javascript %}
var TodoRouter = new (Backbone.Router.extend({
  routes: {
    '': 'index',
    'todos/:id': 'todos'
  },
  index: function() {
    console.log('/'); 
  },
  todos: function(id) {
  }
}));
{% endhighlight %}

<p>Another way we can define route functions:</p>

{% highlight javascript %}
TodoRouter.on('route:index', function(id) {
  console.log('/'); 
});

TodoRouter.on('route:todos', function(id) {
  console.log('/todos/%s', id);
});
{% endhighlight %}

<p>To pass a parameter that can match any number of url components, for example a path to a file, we use a <em>splat</em>:</p>

{% highlight javascript %}
var TodoRouter = new (Backbone.Router.extend({
  routes: {
    '': 'home',
    'download/*file': 'file' // GET /download/http://example.com/path/file.png
  },
  download: function(file) {
    console.log('File:', file); // File: http://example.com/path/file.png
  }
}));
{% endhighlight %}

<h4>Default route</h4>

<p>Having the last route match any url can serve as the default route:</p>

{% highlight javascript %}
var TodoRouter = new (Backbone.Router.extend({
  routes: {
    // other routes here
    '*path': 'notFound'
  },
  notFound: function(path) {
    console.log('The %s was not found', path);
  }
}));
{% endhighlight %}

<h4>Trigger a route</h4>

<p>Calling the router's <code>navigate</code> method will update the current url to the specified route, but to call the corresponding route function we must set <code>trigger</code> to true:</p>

{% highlight javascript %}
TodoRouter.navigate('todo', {trigger: true});
{% endhighlight %}

<h4>Search route</h4>

<p>We can create a search route with an optional page parameter:</p>

{% highlight javascript %}
var TodoRouter = new (Backbone.Router.extend({
  routes: {
    'search/:query(/p:page)(/)': 'search' // page and last slash is optional
  },
  search: function(query, page) {
    page = page || 0;
    query = decodeURIComponent(query);
  }
});

TodoRouter.navigate('search/milk', {trigger: true});
TodoRouter.navigate('search/milk/p2', {trigger: true});
{% endhighlight %}

<h4>Regular expression routes</h4>

<p>Regular expression can be used to define routes. Note that we have to use the route method instead. In this example we are matching the route <code>/todos/&lt;id&gt;</code> where id must be a digit:</p>

{% highlight javascript %}
var TodoRouter = new (Backbone.Router.extend({
  initialize: function() {
    this.route(/^todos\/(\d+)$/, 'show');
  },
  show: function(id) {
   console.log('/todo/%d', id);
  }
}):
{% endhighlight %}

<h4>Handle links outside of views</h4>

{% highlight javascript %}
var App = new (Backbone.View.extend({
  events: {
    'click a[data-internal]': function(e) {
      e.preventDefault();
      Backbone.history.navigate(e.target.pathname, {trigger: true});
    }
  },
  start: function() {
    Backbone.history.start({pushState: true});
  }
})({el: document.body});

$(function() {
	App.start();
});
{% endhighlight %}

<h3>Backbone.history</h3>

<p>When initializing a Backbone router it's <em>really important</em> to start <code>Backbone.history</code> to begin monitoring <code>hashchange</code> events and dispatching routes. To use HTML5 <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/API/DOM/Manipulating_the_browser_history" target="_blank">pushState</a> we must set the <code>pushState</code> attribute to true within Backbone.history.start():</p>

{% highlight javascript %}
var TodoRouter = new (Backbone.Router.extend({
  routes: {
    '': 'index'
  },
  initialize: function() {
    Backbone.history.start({pushState: true});
  },
  index: function(index) {
    console.log('/ route');
  }
}));
{% endhighlight %}

<h3>Route history</h3>

<p>Store an array of route navigated:</p>

{% highlight javascript %}
var history = [];
this.listenTo(this, 'route', function (name, args) {
  history.push({
      name : name,
      args : args,
      fragment : Backbone.history.fragment
    });
  console.log(history);
});
{% endhighlight %}

<h3>Tying routes, views, and collections</h3>

<h4>Fetching collection on route</h4>

<p>On router initialization append the the todoView with todoList collection to the #app element and fetch the todo items on index route:</p>

{% highlight javascript %}
var TodoApp = new (Backbone.Router.extend({
  routes: {
    '': 'index',
    'todos/:id', 'show'
  },
  initialize: function() {
    this.todoList = new TodoList();
    this.todosView = new TodoListView({collection: this.todoList});
    $('#app').append(this.todosView.el);
  },
  start: function() {
    Backbone.history.start({pushState: true});
  },
  index: function() {
    this.todoList.fetch();
  },
  show: function(id) {
    this.todoList.focusOnTodoItem(id);
  }
}));

$(function() {
  TodoApp.start();
});
{% endhighlight %}

<p>Another example with routes for creating and editing a todo:</p>

{% highlight javascript %}
var TodoApp = new (Backbone.Router.extend({
  routes: {
    '': 'index',
    'todos/:id/edit': 'edit',
    'todos/new': 'newTodo'
  },
  initialize: function() {
    this.todoItems = new TodoItems();
    this.todosView = new TodosView({collection: this.todoItems});
  },
  index: function() {
    this.todoItems.fetch();
    $('#app').html(this.todosView.render().el);
  },
  newTodo: function() {
    var todoItem = new TodoItem();
    var todoForm = new TodoForm({model: todoItem});
    $('#app').append(toodForm.render().el);
  },
  edit: function(id) {
    var todoForm = new TodoForm({model: this.todoItems.get(id)});
    $('#app').html(todoForm.render().el);
  }
}));
{% endhighlight %}

<h4>Starting with initial data</h4>

<p>Starting our application with some initial HTML:</p>

{% highlight javascript %}
var App = new (Backbone.View.extend({
  template: _.template('<h1>ToDo List</h1><div id="app"></div>');
  render: function() {
    this.$el.html(this.template());
  },
  start: function() {
    console.log('App started'); 
  }
}))({el: document.body});

$(function() {
  App.render();
  App.start();
});
{% endhighlight %}

<p>Here we are passing bootstrap data to start our collection with and initializing our objects within a namespace:</p>

{% highlight javascript %}
var App = new (Backbone.View.extend({
  start: function(bootstrap) {
    var todos = new App.Collections.TodoItems(bootstrap.todos);
    var todoView = new App.Views.TodoItems({collection: todos});
    this.$el.append(todosView.render().el);
    todos.fetch();
  }
}))({el: document.body});

var bootstrap = {
  todos: [
    {id:1, description: "", done: false},
    {id:2, description: "", done: false}
  ]
};

$(function() {
  App.start(bootstrap);
});
{% endhighlight %}


<h2>Conclusion</h2>

<p>With Backbone.js we keep our application organized and structured which in a sense forces us to avoid writing messy <a href="http://en.wikipedia.org/wiki/Spaghetti_code" target="_blank">Spaghetti code</a>. I hope this tutorial gave you a decent understanding of Backbone principles and are now ready to give it a go. If the examples aren't too clear or if I made a mistake, leave your feedback in the comments below.</p>

<p>Helpful Backbone.js resources:</p>

<ul>
  <li><a href="http://documentcloud.github.io/backbone/examples/todos/index.html" target="_blank">Backbone Todos</a></li>
  <li><a href="http://addyosmani.github.io/backbone-fundamentals/" target="_blank">Developing Backbone.js Applications</a></li>
  <li><a href="http://ricostacruz.com/backbone-patterns/" target="_blank">Backbone patterns</a></li>
  <li><a href="https://github.com/backbone-boilerplate/backbone-boilerplate" target="_blank">Backbone Boilerplate</a></li>
</ul>
