<div class="subscribe" id="mc_embed_signup">
  <h3>Subscribe</h3>
  <p>Receive updates on new posts.</p>
  <form action="https://miguelmota.us5.list-manage.com/subscribe/post?u=af56e6e77bf25f7b8fe28f796&amp;id=161d332c54" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">

  <div class="mc-field-group">
    <label for="mce-EMAIL">Email Address:</label>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="alice@example.com" aria-label="email">
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
  </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_af56e6e77bf25f7b8fe28f796_161d332c54" tabindex="-1" value=""></div>
  </form>
</div>
