<!doctype html>
<html>
<head>
	<meta name='description' content='' />
	<title>{{ page.title }}</title>
	<script src='/scripts/jquery.min.js'></script>
	<script>
var c=document.getElementById("myCanvas");
var ctx=c.getContext("2d");
ctx.fillStyle="#FF0000";
ctx.fillRect(0,0,150,75);


		var canvas = document.getElementById("canvas");

		if(typeof G_vmlCanvasManager != 'undefined') {
			canvas = G_vmlCanvasManager.initElement(canvas);
		}
		var context = canvas.getContext("2d");
		$('#canvas').mousedown(function(e){
			var mouseX = e.pageX - this.offsetLeft;
			var mouseY = e.pageY - this.offsetTop;
			
			paint = true;
			addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop);
			redraw();
		});
		$('#canvas').mousemove(function(e){
			if(paint){
				addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop,true);
				redraw();
			}
		});
		$('#canvas').mouseup(function(e){
			paint = false;
		});
		$('#canvas').mouseleave(function(e){
			paint = false;
		});
		var clickX = new Array();
		var clickY = new Array();
		var clickDrag = new Array();
		var paint;

		function addClick(x, y, dragging)
		{
			clickX.push(x);
			clickY.push(y);
			clickDrag.push(dragging);
		}
		function redraw(){
			canvas.width = canvas.width; // clears canvas

			context.strokeStyle = '#000';
			context.lineJoin = 'round';
			context.lineWidth = 5;

			for(var i=0; i < clickX.length; i++)
			{
				context.beginPath();
				if(clickDrag[i] && i){
					context.moveTo(clickX[i-1], clickY[i-1]);
				} else {
					context.moveTo(clickX[i]-1, clickY[i]);
				}

				context.lineTo(clickX[i], clickY[i]);
				context.closePath();
				context.stroke();
			}
		}
	</script>
	<style>
	#canvas {
		border: 1px solid black;
		height: 300px;
		width: 490px;
	}
	</style>
</head>
<body>
	{{ content }}
	<canvas id='myCanvas'></canvas>
</body>
</html>