<!doctype html>
<html>
<head>
	<meta name='description' content='' />
	<title>{{ page.title }}</title>
	<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet'>
	<script src='/scripts/jquery.min.js'></script>
	<!--[if lt IE 9]>
		<script src='/scripts/html5.js'></script>
		<script src='/scripts/excanvas.js'></script>
	<![endif]-->
	<style>
	body {
		font-family: 'Shadows Into Light Two', cursive;
		margin: 0 auto;
		width: 452px;
	}
	.title {
		font-size: 28px;
	}
	#canvas {
		background: transparent url('/assets/amanda/amanda.jpg') no-repeat 0 0;
		border: 1px solid #ddd;
		clear: both;
		display: block;
		height: 603px;
	    width: 452px;
	}
	#canvas:hover {
		cursor: pointer;
	}
	#canvas:active {
		cursor: crosshair;
	}
	#canvasClearBtn {
		clear: both;
	}
	</style>
</head>
<body>
	{{ content }}
</body>
</html>