<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8' />
<!--
                                      ___                           __               
           __                        /\_ \                         /\ \__            
  ___ ___ /\_\     __   __  __     __\//\ \         ___ ___     ___\ \ ,_\    __     
/' __` __`\/\ \  /'_ `\/\ \/\ \  /'__`\\ \ \      /' __` __`\  / __`\ \ \/  /'__`\   
/\ \/\ \/\ \ \ \/\ \L\ \ \ \_\ \/\  __/ \_\ \_    /\ \/\ \/\ \/\ \L\ \ \ \_/\ \L\.\_ 
\ \_\ \_\ \_\ \_\ \____ \ \____/\ \____\/\____\   \ \_\ \_\ \_\ \____/\ \__\ \__/.\_\
 \/_/\/_/\/_/\/_/\/___L\ \/___/  \/____/\/____/    \/_/\/_/\/_/\/___/  \/__/\/__/\/_/
                   /\____/                                                           
                   \_/__/                                                                         
-->
	<meta name='description' content='Creative freelance web developer from the always sunny Southern California.' />	
	<meta name='keywords' content='miguel mota,creative,freelance,web developer,web design,blog' />
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1;' />
	<title>
	{% if page.title %}
		{{ page.title }} &#187; 
	{% endif %}
	Miguel Mota | Freelance Web Developer</title>

	<!-- <link rel='author' href='/humans.txt' /> -->
	<link rel='alternate' type='application/rss+xml' href='http://feeds.feedburner.com/miguelmota' />
	<link rel='shortcut icon' href='/favicon.ico' />
	<link rel='apple-touch-icon-precomposed' href='/images/apple-touch-icon.png' />
	<link rel='stylesheet' href='/styles/reset.css' />
	<link rel='stylesheet' href='/styles/pygment_friendly.css' />
	<link rel='stylesheet' href='/plugins/fancybox/jquery.fancybox.css' />
	<link rel='stylesheet' href='/styles/global.css' />
	<!-- <link rel='stylesheet' href='/styles/mobile.css' media='all and (max-width: 640px)' /> -->
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' />
	<link rel='stylesheet' href='/plugins/mtip/mtip.css' />
	<link rel='stylesheet' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css' />
	<script src='/scripts/jquery.min.js'></script>
	<script src='/plugins/masonry/jquery.masonry.min.js'></script>
	<script src='/plugins/jcarousellite/jcarousellite_1.0.1.min.js'></script>
	<script src='/plugins/mtip/mtip.js'></script>
	<script src='/plugins/fancybox/jquery.fancybox-1.3.2.pack.js'></script>
	<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'></script>
	<script src='/plugins/validate/jquery.validate.min.js'></script>
	<script src='http://www.google.com/jsapi?key=ABQIAAAAaPkBW3vge4odDUBtbC4e-xRutoCKHFl1g3ES_cmPf4BxqcVG3BR7pbnwzjWgqiKDxSEqSvzSUG2pww'></script>
	<script src='/scripts/main.js'></script>
	<!--[if lt IE 9]>
		<script src='/plugins/html5shiv/html5.js'></script>
		<link rel='stylesheet' href='/styles/global.css' />
		<link rel='stylesheet' href='/styles/ie.css' />
	<![endif]-->
</head>
<body>
<!--[if lt IE 9]>
<div class='ie-message'><span class='ie-font-34'>Boo!</span> It looks like you're using <span class='ie-color-red'>Internet Explorer</span>.<br />
Some things on here may not load or look right because <span class='ie-color-red'>Internet Explorer</span> <strong>refuses</strong> to implement new web standards<br />
 and therefore it is extremely buggy and outdated with old technology.<br />
<strong class='ie-font-34'>HELP MOVE THE WEB FORWARD</strong> by using <a href='http://www.google.com/chrome'>Google Chrome</a>, 
<a href='http://www.mozilla.org/en-US/firefox/new/'>Firefox</a> or <a href='http://www.opera.com/browser/'>Opera</a>.</div>
<![endif]-->
<div id='top'></div>
<div class='main-wrap'>
	<!-- Side content -->
	<div class='main-side-nav-wrap'>
		<nav class='main-side-nav'>
			<a class='nav-logo' href='/'><img src='/images/logo.png' alt='' /></a>
			<h1 class='site-title'>Miguel Mota</h1>
			<div class='site-description'>Web Developer</div>
			<ul class='main-side-nav-ul'>
				<li><a id='tumblog' href='http://miguelmota.tumblr.com'>tumblog</a></li>
				<li><a id='stream' href='/stream'>stream</a></li>
				<li><a id='about' href='/about'>about</a></li>
				<li><a id='portfolio' href='/portfolio'>portfolio</a></li>
				<li><a id='contact' href='/contact'>contact</a></li>
				<li><a id='blog' href='/blog'>blog</a></li>
			</ul>
			<form class='search-form' action='/search' method='get'>
	   			<input type='text' class='search-input' name='q' value='[search]' onblur="if(this.value=='') this.value='[search]';" onfocus="if(this.value=='[search]') this.value='';" />
	    		<input type='submit' class='search-button' value='Search' />
			</form>
			<div class='follow-wrap'>
				<a class='icon icon-twitter-24 icon-social' href='http://twitter.com/miguel_mota' rel='external'></a>
				<a class='icon icon-facebook-24 icon-social' href='http://www.facebook.com/miguel.mota2' rel='external'></a>
				<a class='icon icon-flickr-24 icon-social' href='http://www.flickr.com/photos/miguelmota' rel='external'></a>
				<a class='hide icon icon-dribbble-24 icon-social' href='http://dribbble.com/miguelmota' rel='external'></a>
				<a class='icon icon-tumblr-24 icon-social' href='http://miguelmota.tumblr.com' rel='external'></a>
				<a class='icon icon-subscribe-24 icon-social' href='http://feeds.feedburner.com/miguelmota' rel='external'></a>
				<a class='hide icon icon-random-24 icon-social' href='/random'></a>
				<span class='plus-one-button-wrap'><g:plusone class='plus-one-button' href='http://www.miguelmota.com' count='false' size='medium'></g:plusone></span>
			</div>
			<div id='tweet-wrap'>
				<a class='icon icon-twitter-bird-24 icon-social tweet-brid-icon mtip-tweet' href='http://twitter.com/miguel_mota' title='follow'></a>
				<div id='tweets'></div>
			</div>
			<div class='top-link-wrap'><a class='top-link icon icon-up-24' href='#top'></a></div>
		</nav>
		<div class='clear'></div>
	</div>
	<div class='main-content-wrap'>
		{{ content }}
		<div class='loader-container'><div class='page-loader'></div></div>
		<div class='clear'></div>
		<footer class='main-footer'>
			<div class='main-footer-content'><strong>&#169; <script>displayYear();</script></strong> <a href='https://plus.google.com/102174577273194387652?rel=author'>miguel mota+</a> / powered by <a href='http://jekyllrb.com' rel='external'>jekyll</a></div>
			<div class='clear'></div>
		</footer>
	</div>
</div>
<script>
	/* 
	 * Google Plus One
	 */
	(function() {
		  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		  po.src = 'https://apis.google.com/js/plusone.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();

	/* 
	 * Google Analytics
	 */
	var _gaq = _gaq || [];
 	_gaq.push(['_setAccount', 'UA-12642068-1']);
 	_gaq.push(['_setDomainName', '.miguelmota.com']);
	_gaq.push(['_trackPageview']);
 	(function() {
   		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 	})();
</script>
<noscript><div class='noscript'>please enable javascript</div></noscript>
</body>
</html>