<!doctype html>
<html>
<head>
	<meta name='description' content='Creative freelance web developer from the always sunny Southern California.' />
	<title>{{ page.title }} &#187; Miguel Mota</title>
	<script src='/scripts/jquery.min.js'></script>
	<script src='/plugins/cookie/jquery.cookie.js'></script>
	<script>
	$(document).ready(function(){
		$.cookie('car', 'bmw', {
				expires: 7,
				path: '/'
			}
		);
		
		$('#cookiename').html($.cookie('car'));
	});
	</script>
</head>
<body>
	{{ content }}
</body>
</html>