---
layout: default
---

<div id="post">
<h2>{{ page.date | date_to_string }}</h2>
<h1>{{ page.title }}</h1>
<p class="baseline">{{ page.baseline }}</p>

{{ content }}

{{ if site.related_posts }}
	<div id="posts">
		<h3>See also...</h3>

		{% for post in site.related_posts %}
			{% include post_summary.html %}
		{% endfor %}
	</div>

{{ endif }}

</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = '{{ site.theme.disqus_shortname }}';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
