---
layout: default
route: blog
---
{% include site_header.html route="blog-post" %}

<section class="post">
  <div class="row">
    <div class="column">

      {{ content }}

      {% include post_tags.html tags=page.tags %}

    </div>
  </div>

  {% if site.related_posts %}
    <div class="related-posts row">
      <div class="column">
        {% include post_pagination.html %}
      </div>
      <div class="column">

        <h3>See also...</h3>

        <dl class="posts-list">
          {% for post in site.related_posts offset: 0 limit: 5 %}
            {% include post_related.html %}
          {% endfor %}
        </dl>

      </div>
    </div>
  {% endif %}

  <div class="comments row">
    <div class="column">
      <div id="disqus_thread"></div>
    </div>
  </div>

</section>

<script>
    var disqus_shortname = '{{ site.disqus_shortname }}';
    var disqus_identifier = '{{ page.url }}';
    var disqus_url = 'http://www.miguelmota.com{{ page.url }}';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
