---
layout: default
route: bytes
---
{% include site_header.html route="blog-post" %}

<section class="post">
  <div class="row">
    <div class="column">

      {{ content }}

      {% include post_tags.html tags=page.tags %}

    </div>
  </div>

  {% if site.related_posts %}
    <div class="related-posts row">
      <div class="column">

        <h3>See also...</h3>

        <dl class="posts-list">
          {% for post in site.related_posts offset: 0 limit: 5 %}
            {% if post.category == "bytes" %}
              {% include post_related.html %}
            {% endif %}
          {% endfor %}
        </dl>

      </div>
    </div>
  {% endif %}

  <div class="comments row">
    <div class="column">
      <div id="disqus_thread"></div>
      <noscript><a href="http://www.enable-javascript.com/" title="Enable JavaScript" target="_blank">Enable JavaScript</a> to view or add comments.</noscript>
    </div>
  </div>

</section>

<script>
  var disqus_shortname = '{{ site.disqus_shortname }}';
  var disqus_identifier = '{{ page.url }}';
  var disqus_url = 'http://www.miguelmota.com{{ page.url }}';
</script>
