---
layout: compress
---
<!DOCTYPE html>
<html lang="en-US" manifest="http://cache.miguelmota.com/cache.appcache">
<head>
  <meta charset="UTF-8">
  <!--
                                        ___                           __
             __                        /\_ \                         /\ \__
    ___ ___ /\_\     __   __  __     __\//\ \         ___ ___     ___\ \ ,_\    __
  /' __` __`\/\ \  /'_ `\/\ \/\ \  /'__`\\ \ \      /' __` __`\  / __`\ \ \/  /'__`\
  /\ \/\ \/\ \ \ \/\ \L\ \ \ \_\ \/\  __/ \_\ \_    /\ \/\ \/\ \/\ \L\ \ \ \_/\ \L\.\_
  \ \_\ \_\ \_\ \_\ \____ \ \____/\ \____\/\____\   \ \_\ \_\ \_\ \____/\ \__\ \__/.\_\
   \/_/\/_/\/_/\/_/\/___L\ \/___/  \/____/\/____/    \/_/\/_/\/_/\/___/  \/__/\/__/\/_/
                     /\____/
                     \_/__/
  -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% endif %}">
  <meta name="keywords" content="miguel mota,web developer,html5 css3 javascript">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Moogs">
  <title>{% if page.title %}{{ page.title }} » {% endif %}{{ site.site_name }}</title>
  <link rel="canonical" href="http://www.miguelmota.com{{ page.url }}">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/miguelmota">
  <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/images/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/apple-touch-icon-144x144.png">
  <link rel="apple-touch-startup-image" media="(device-width: 320px)" href="/assets/images/apple-touch-startup-image-320x460.png">
  <link rel="apple-touch-startup-image" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" href="/assets/images/apple-touch-startup-image-640x920.png">
  <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="/assets/images/apple-touch-startup-image-640x1096.png">
  <link rel="apple-touch-startup-image" media="(device-width: 768px) and (orientation: portrait)" href="/assets/images/apple-touch-startup-image-768x1004.png">
  <link rel="apple-touch-startup-image" media="(device-width: 768px) and (orientation: landscape)" href="/assets/images/apple-touch-startup-image-748x1024.png">
  <link rel="apple-touch-startup-image" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="/assets/images/apple-touch-startup-image-1536x2008.png">
  <link rel="apple-touch-startup-image" media="(device-width: 1536px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" href="/assets/images/apple-touch-startup-image-2048x1496.png">
  <link id="stylesheet" rel="stylesheet" href="/assets/styles/main.css">
  <script>
    !function(){var a=document.getElementById("stylesheet"),b=["main.css","main-invert.css"],c=function(c){var d=a.getAttribute("href").split("/");d.splice(d.length-1,1)[0];var e=b.indexOf(c);return-1===e?!1:(d.push(c),d=d.join("/"),void(a.href=d))},d=function(){try{var a=localStorage.getItem("theme");a&&c(a)}catch(b){}};d()}();

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.google_analytics_uid }}']);
    _gaq.push(['_setDomainName', '.miguelmota.com']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body {% if page.route %}class="{{ page.route }}"{% endif %}>
    <div class="bg-upper"></div>
    <div class="bg-lower"></div>
    <div class="top"></div>
    <img class="hidden" src="/assets/images/miguel-mota-m-logo-500x500.png" alt="">

    <header class="header">
      <nav class="top-bar">
        <section class="top-bar-section">
            <ul class="main-nav">
              <li class="name"><a href="/" title="Home" data-ga-label="Navigation - Logo">Miguel Mota</a></li>
              <li {% if page.route %}{% if page.route == "about" %}class="active"{% endif %}{% endif %}><a href="/about" title="About" data-ga-label="Navigation - About"><i class="fa fa-bookmark-o"></i> About</a></li>
              <li {% if page.route %}{% if page.route == "blog" %}class="active"{% endif %}{% endif %}><a href="/blog" title="Thoughts" data-ga-label="Navigation - Blog"><i class="fa fa-b"></i> Thoughts</a></li>
              <li {% if page.route %}{% if page.route == "work" %}class="active"{% endif %}{% endif %}><a href="/work" title="Work" data-ga-label="Navigation - Work"><i class="fa fa-laptop"></i> Work</a></li>
              <li {% if page.route %}{% if page.route == "contact" %}class="active"{% endif %}{% endif %}><a href="/contact" title="Contact" data-ga-label="Navigation - Contact"><i class="fa fa-envelope-o"></i> Contact</a></li>
              <li><a class="theme-toggle" href title="Toggle Dark/Light Theme" data-ga-label="Navigation - About"><i class="fa fa-sun-o theme-toggle-icon" aria-label="Toggle Dark/Light Theme"></i></a></li>
            </ul>
        </section>
      </nav>
    </header>

    <main class="main" role="main">
      {{ content }}
    </main>

    <footer class="footer">
      <div class="row">
        <div class="column">
          <p>
            <span class="break"><span>© {{ site.time | date: "%Y" }} Moogs™.</span> <span>Made with <span class="fa fa-heart icon-heart"><i>love</i></span></span></span> <a class="hidden" href="https://plus.google.com/102174577273194387652" rel="author">Google+</a>

            <a href="https://twitter.com/_moogs" class="twitter-follow-button" data-show-count="true" data-size="large" data-ga-label="Footer - Follow Twitter">Follow @_moogs</a>

          </p>
        </div>
      </div>
    </footer>

    <a class="forkme" href="https://github.com/miguelmota/miguelmota.github.com" target="_blank" data-ga-label="Fork me on Github" title="Fork me on Github"></a>

    {% if page.route == "contact" %}
      <script src="//maps.google.com/maps/api/js?sensor=false"></script>
      <script src="//google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
    {% endif %}

    <script src="/assets/scripts/build/site.js"></script>
  </body>
</html>
