<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8' />
<!--
                                      ___      
           __                        /\_ \     
  ___ ___ /\_\     __   __  __     __\//\ \    
/' __` __`\/\ \  /'_ `\/\ \/\ \  /'__`\\ \ \   
/\ \/\ \/\ \ \ \/\ \L\ \ \ \_\ \/\  __/ \_\ \_ 
\ \_\ \_\ \_\ \_\ \____ \ \____/\ \____\/\____\
 \/_/\/_/\/_/\/_/\/___L\ \/___/  \/____/\/____/
                   /\____/                     
                   \_/__/                      
                  __               
                 /\ \__            
  ___ ___     ___\ \ ,_\    __     
/' __` __`\  / __`\ \ \/  /'__`\   
/\ \/\ \/\ \/\ \L\ \ \ \_/\ \L\.\_ 
\ \_\ \_\ \_\ \____/\ \__\ \__/.\_\
 \/_/\/_/\/_/\/___/  \/__/\/__/\/_/
                                   
-->
	<meta name='description' content='Creative freelance web developer from the always sunny Southern California.' />
	<meta name='keywords' content='miguel mota,creative,freelance,web developer,web design,blog' />
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0;' />
	<title>
	{% if page.title %}
	{{ page.title }} &#187; 
	{% endif %}
	Miguel Mota | Freelance Web Developer</title>
	<link rel='canonical' href='http://www.miguelmota.com/' />
	<link rel='author' href='/humans.txt' />
	<link rel='alternate' type='application/rss+xml' href='http://feeds.feedburner.com/miguelmota' />
	<link rel='shortcut icon' href='/favicon.ico' />
	<link rel='apple-touch-icon-precomposed' href='/images/apple-touch-icon.png' />
	<link rel='stylesheet' href='/styles/reset.css' />
	<link rel='stylesheet' href='/styles/pygment_friendly.css' />
	<link rel='stylesheet' href='/plugins/mtip/mtip.css' />
	<link rel='stylesheet' href='/plugins/fancybox/jquery.fancybox.css' />
	<link rel='stylesheet' href='/styles/global.css' />
	<link rel='stylesheet' href='/styles/mobile.css' media='all and (max-device-width: 640px)' />
	<script src='/scripts/jquery.min.js'></script>
	<script src='/plugins/mtip/mtip.js'></script>
	<script src='/plugins/validate/jquery.validate.min.js'></script>
	<script src='/plugins/fancybox/jquery.fancybox-1.3.2.pack.js'></script>
	<script src='http://www.google.com/jsapi?key=ABQIAAAAaPkBW3vge4odDUBtbC4e-xRutoCKHFl1g3ES_cmPf4BxqcVG3BR7pbnwzjWgqiKDxSEqSvzSUG2pww'></script>
	<script src='/scripts/main.js'></script>
	<script> 
		 google.load('search', '1', {language : 'en', style : google.loader.themes.MINIMALIST});
		 var _gaq = _gaq || [];
		 _gaq.push(["_setAccount", "UA-12642068-1"]);
		 function _trackQuery(control, searcher, query) {
		   var gaQueryParamName = "q";
		   var loc = document.location;
		   var url = [
		     loc.pathname,
		     loc.search,
		     loc.search ? '&' : '?',
		     gaQueryParamName == '' ? 'q' : encodeURIComponent(gaQueryParamName),
		     '=',
		     encodeURIComponent(query)
		   ].join('');
		   _gaq.push(["_trackPageview", url]);
		 }
		 google.setOnLoadCallback(function() {
		   var customSearchControl = new google.search.CustomSearchControl('013110027163283765539:a-en5rcxdcu');
		   customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
		   customSearchControl.setSearchStartingCallback(null, _trackQuery);
		   var options = new google.search.DrawOptions();
		   options.setSearchFormRoot('cse-search-form');    
		   customSearchControl.draw('cse', options);
		 }, true);
	</script>
	<!--[if lt IE 9]>
		<script src='http://html5shiv.googlecode.com/svn/trunk/html5.js'></script>
		<link href='/styles/ie.css' rel='stylesheet' />
	<![endif]-->
</head>
<body>
<div id='top'></div>
<div class='main-wrap'>
	<nav class='main-side-nav'>
		<div class='logo-wrap'><a class='nav-logo' href='/'></a></div>
		<ul class='main-nav'>
			<li><a id='stream' href='/stream'>stream</a></li>
			<li><a id='about' href='/about'>about</a></li>
			<li><a id='portfolio' href='/portfolio'>portfolio</a></li>
			<li><a id='contact' href='/contact'>contact</a></li>
			<li><a id='blog' href='/blog'>blog</a></li>
		</ul>
	</nav>
	<div class='content-container'>
		{{ content }}
		<div class='loader-container'><div class='page-loader'></div></div>
		<footer class='main-footer'>
			<p>&#169; <script>displayYear();</script> <a href='https://plus.google.com/102174577273194387652?rel=author' rel='author'>miguel mota+</a> / powered by <a href='http://jekyllrb.com'>jekyll</a> <a class='top-link' href='#top'>&#8593;</a></p>
		</footer>
	</div>
	<script>
		$("#<decorator:getProperty property='meta.page' />").addClass('selected');
  		var _gaq = _gaq || [];
  		_gaq.push(['_setAccount', 'UA-12642068-1']);
  		_gaq.push(['_setDomainName', '.miguelmota.com']);
 		_gaq.push(['_trackPageview']);
  		(function() {
    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();
	</script>
	<noscript><div class='noscript'>please enable javascript</div></noscript>
	<script src='http://s7.addthis.com/js/250/addthis_widget.js#username=miguelmota'></script>
</div>
</body>
</html>