---
layout: default
---
<h1 class='title'>Miguel<span class='mota'>Mota</span><span class='slash'>/</span><span class='sub'>Blog</span></h1>

<section class='content post'>
	{% include header.html %}
	<div class='posti'>
		<h1 class='post-title'><a href='{{ page.url }}'>{{ page.title }}</a></h1>
		<div class='post-info'>
			<p><a class='post-date' href='{{ page.url }}'>{{ page.date | date_to_string }}</a> 
			<a class='dsq-comment-count' href='{{ page.url }}#disqus_thread' data-disqus-identifier='{{ page.url }}'>comments</a></p>
	 	</div>
		{{ content }}
		<div class='share-container'>
			<g:plusone class='plus-one-button' href='http://www.miguelmota.com{{ page.url }}' size='medium'></g:plusone>
			<a class='twitter-share-button' href='http://twitter.com/share' data-text='{{ page.title }}' data-url='http://www.miguelmota.com{{ page.url }}' data-via='miguel_mota' data-count='horizontal'>Tweet</a>
			<a id='tumblr-share-button' class='tumblr-share-button' href='http://www.tumblr.com/share' title='{block:PostSummary}{PostSummary} &#187; {/block:PostSummary}'>Share on Tumblr</a>
									<script>
									
							
		   var tumblr_link_url = document.getElementById('post-link').getAttribute('href');
		    var tumblr_link_name = document.getElementById('post-link').innerText;
		    var tumblr_link_description = document.getElementById('post-content').innerText;
		
        var tumblr_button = document.getElementById('tumblr-share-button');
        tumblr_button.setAttribute("href", "http://www.tumblr.com/share/link?url=" + encodeURIComponent(tumblr_link_url) + "&name=" + encodeURIComponent(tumblr_link_name) + "&description=" + encodeURIComponent(tumblr_link_description));
        tumblr_button.setAttribute("title", tumblr_link_name);
        tumblr_button.setAttribute("style", "display:inline-block; text-indent:-9999px; overflow:hidden; width:81px; height:20px; background:url('http://platform.tumblr.com/v1/share_1.png') top left no-repeat transparent;");
	</script>
	<script src='http://platform.tumblr.com/v1/share.js'></script>
		</div>
		<div class='comment-container'>
			<div id='disqus_thread'></div>
			<script>
			    var disqus_shortname = 'miguelmota';
			    var disqus_identifier = '{{ page.url }}';
			    var disqus_url = 'http://www.miguelmota.com{{ page.url }}';
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<script>
			    var disqus_shortname = 'miguelmota';
			    (function () {
			        var s = document.createElement('script'); s.async = true;
			        s.type = 'text/javascript';
			        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
			        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
			    }());
			</script>
		</div>
	</div>
</section>