---
layout: default
---
<h1 class='title'>Miguel<span class='mota'>Mota</span><span class='slash'>/</span><span class='sub'>Blog</span></h1>

<section class='content post'>
	{% include header.html %}
	<div class='posti'>
		<h1 class='post-title'><a href='{{ page.url }}'>{{ page.title }}</a></h1>
		<div class='post-info'>
			<p><a class='post-date' href='{{ page.url }}'>{{ page.date | date_to_string }}</a> <a class='dsq-comment-count' href="{{ post.url }}#disqus_thread">comments</a></p>
	 	</div>
		{{ content }}
		<div class='share-container'>
		
			<a class='twitter-share-button' href='http://twitter.com/share' data-url='{{ page.url }}' data-count='horizontal'>Tweet</a>
		
			<g:plusone href='{{ page.url }}' size='medium'></g:plusone>
			<script type="text/javascript">
			(function() {
			  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			  po.src = 'https://apis.google.com/js/plusone.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			})();
			</script>
			
		</div>
		<div id='disqus_thread'></div>
	</div>
</section>