---
layout: default
---
<h1 class='title'>Miguel<span class='mota'>Mota</span><span class='slash'>/</span><span class='sub'>Blog</span></h1>

<section class='content post'>
	{% include header.html %}
	<div class='posti'>
		<h1 class='post-title'><a href='{{ page.url }}'>{{ page.title }}</a></h1>
		<div class='post-info'>
			<p><a class='post-date' href='{{ page.url }}'>{{ page.date | date_to_string }}</a> <a class='dsq-comment-count' href="{{ post.url }}#disqus_thread">comments</a></p>
	 	</div>
		{{ content }}
		<div class='share-container'>
		
			<a class='twitter-share-button' href='http://twitter.com/share' data-text='{{ page.title }}' data-url='http://www.miguelmota.com{{ page.url }}' data-via='miguel_mota' data-count='horizontal'>Tweet</a>
		
			<g:plusone class='plus-one-button' href='http://www.miguelmota.com{{ page.url }}' size='medium'></g:plusone>
			
		</div>
		<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'miguelmota'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    // var disqus_identifier = 'unique_dynamic_id_1234';
    // var disqus_url = 'http://example.com/permalink-to-page.html';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>
</section>