---
layout: default
style: portfolio
script: portfolio
---
<section class='content portfolio'>
	{{ content }}
	<div class='pagination project-pagination'>
		{% if page.previous.category == 'portfolio' %} 
		    {% if page.previous.url  %} 
				<a class='pagination-next pagination-btn' href='{{ page.previous.url }}'>{{ page.previous.title | truncatewords: 15 }} &#187;</a>
		    {% endif %}
		{% endif %}
		{% if page.next.category == 'portfolio' %} 
		    {% if page.next.url %}
			    <a class='pagination-previous pagination-btn' href='{{ page.next.url }}'>&#171; {{ page.next.title | truncatewords: 15 }}</a>
		    {% endif %}
		{% endif %}
	</div>
</section>