---
layout: default
title: Posts tagged
description: A blog on all things web.
route: blog
---
{% include site_header.html %}

  <div class="older-posts row">
    <div class="column">
      <h3>Thoughts tagged <em>{{ page.tag }}</em></h3>

      <dl class="posts-list">
        {% for post in site.categories.blog offset: site.theme.homepage_featured limit: site.theme.homepage_posts %}
          {% for tag in post.tags %}
            {% if tag == page.tag %}
              {% include post_summary.html %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </dl>
    </div>
  </div>
</section>

<script>
    var disqus_shortname = '{{ site.disqus_shortname }}';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>