---
layout: default
title: Posts tagged
description: A blog on all things web.
route: blog
---
<header id="content-header">
  <canvas id="canvas"></canvas>
  <div class="row">
    <div class="large-12 column">
      <h1>Thoughts <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.miguelmota.com{{ page.url }}" data-text="{{ page.title }}" data-size="large" data-related="_moogs">Tweet</a></h1>
    </div>
  </div>
  <div id="content-header-bottom">
    <div class="triangle"></div>
  </div>
</header>

  <div id="older-posts" class="row">
    <div class="large-12 column">
      <h3>Thoughts tagged <em>{{ page.tag }}</em></h3>

      <dl class="posts-list">
        {% for post in site.categories.blog offset: site.theme.homepage_featured limit: site.theme.homepage_posts %}
          {% for tag in post.tags %}
            {% if tag == page.tag %}
              {% include post_summary.html %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </dl>
    </div>
  </div>
</section>

<script>
    var disqus_shortname = '{{ site.disqus_shortname }}';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>