@charset 'utf-8';

/* ==============================================================================
	DISQUS - HOUDINI THEME
============================================================================== */
/*
#disqus_thread {
	margin: 20px 0;
}
.p_comment_form input[type=text],
.p_comment_form textarea {
	background-color: #222;
	border: 1px solid #999;
	color: #999;
}
.p_comment_form input[type=text]:focus,
.p_comment_form textarea:focus {
	border: 1px solid #007799;
}
.p_no_responses {
	display: none;
}
div#dsq-global-toolbar {
}
div#dsq-content h3 {
	display: none !important;
}
div#dsq-account-dropdown {
	display: none !important;
}
div.dsq-comment-body {
}
img.dsq-deferred-avatar {
}
div#dsq-subscribe {
	display: none !important;
}
select#dsq-sort-select {
	display: none !important;
}
div.dsq-trackback-url {
	display: none !important;
}
*/
/* ==============================================================================
	END DISQUS - HOUDINI THEME
============================================================================== */



/* ==============================================================================
	DISQUS - NARCISSUS THEME
============================================================================== */
div#disqus_thread {
	font-family: NeoSans, Klavika-Light, Helvetica, Arial, sans-serif !important;
}
div#disqus_thread a {
	border-left: 3px solid #292929 !important;
	color: #007299 !important;
	padding: 1px 3px 1px 3px !important;
	text-shadow: 0 1px 0 rgba(0,0,0,.5) !important;
	transition: color linear .1s !important;
	-moz-transition: color linear .1s !important;
	-o-transition: color linear .1s !important;
	-webkit-transition: color linear .1s !important;
}
div#disqus_thread a:hover {
 	background-color: #222 !important;
 	border-left: 3px solid #333 !important;
	color: #0083aa !important;
	text-shadow: 0 1px 0 rgba(0,0,0,.9) !important;
}
div#disqus_thread a:active {
	text-shadow: 0 -1px 0 rgba(0,0,0,.5)!important;
}
div#disqus_thread iframe {
	background: #222 !important;
	color: #999 !important;
}
div#dsq-comments-title {
	padding-bottom: 10px !important;
}
div.dsq-full-comment {
	position: relative !important;
}
div.dsq-comment-message,
div.dsq-comment-body,
div.dsq-comment-text {
	position: absolute !important;
	top: 2px !important;
	width: 580px !important;
	right: 0 !important;
}
div.dsq-comment-footer {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	width: 500px;
}
span.dsq-like {
	display: none !important;
}
div.dsq-comment-footer-left {
	bottom: 0 !important;
	position: absolute !important;
	right: 40px;
}
a.dsq-post-report {
	color: #555 !important;
	font-size: 9px !important;
}
span.dsq-user-like {
	display: none !important;
}
tr {
	border: 1px solid #252525 !important;
	background: #252525 !important;
	height: 24px !important;
}
tr img {
	background: none !important;
	border: none !important;
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	padding: 0 !important;
}
img.dsq-moderator-star {
	display: none !important;
}
td.dsq-header-avatar {
	border: none !important;
	height: 28px;
	padding: 0 !important;
	width: 28px;
}
a.dsq-avatar {
	border: none !important;
	height: 28px;
	padding: 0 !important;
	width: 28px;
}
div.dsq-comment-header {
	border: none !important;
	padding: 0 !important;
}
td.dsq-comment-header-meta {
	position: absolute !important;
	right: 0 !important;
	width: 580px !important;
}
a.dsq-comment-hide-thread {
	display: none !important;
}
div.dsq-post-area h3 {
	clear: both !important;
	padding: 20px 0 10px 0 !important;
}
div.dsq-comment-header-meta-wrapper {
	position: absolute !important;
	right: 0 !important;
	width: 580px !important;
}
div.dsq-comment-header-meta-wrapper a {
	font-size: 10px !important;
}
button.dsq-button-small {
	background: none !important;
	border: none !important;
	color: #007299 !important;
}
a.dsq-request-user-logout {
	display: none !important;
}
td.dsq-header-avatar {
	float: left !important;
	height: 48px !important;
	padding: 0 !important;
	width: 48px !important;
}
div.dsq-request-user-info {
	clear: none !important;
	float: left !important;
	width: 48px !important;
}
td.dsq-request-user-name,
td.dsq-request-user-stats {
	display: none !important;
}
img.dsq-request-user-avatar {
	border: none !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-o-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	padding: 0 !important;
}
div#dsq-form-area {
	clear: none !important;
	float: right !important;
	width: 580px !important;
}
div#dsq-global-toolbar {
	display: none !important;
}
div.dsq-options {
	display: none !important;
}
div.dsq-pagination {
	display: none !important;
}
div.dsq-textarea {
	background: #222 !important;
	border: 1px solid #555 !important;
	color: #555 !important;
}
div.dsq-textarea-wrapper,
div.dsq-textarea-wrapper iframe {
	background: #222 !important;
	border: none !important;
	color: #555 !important;
}
div#comment {
	color: #555 !important;
}
button.dsq-button {
	background: #222 !important;
	border: none !important;
	color: #007299 !important;
}
button.dsq-button:hover {
	background: #222 !important;
	color: #007299 !important;
}
button.dsq-button:active {
	text-shadow: none !important;
}
div.dsq-item-trackback {
	display: none !important;
}
/* ==============================================================================
	END DISQUS - NARCISSUS THEME
============================================================================== */