@charset 'utf-8';

/* ==============================================================================
	DISQUS - HOUDINI THEME
============================================================================== */
#disqus_thread {
	margin: 20px 0;
}
.p_comment_form input[type=text],
.p_comment_form textarea {
	background-color: #222;
	border: 1px solid #999;
	color: #999;
}
.p_comment_form input[type=text]:focus,
.p_comment_form textarea:focus {
	border: 1px solid #007799;
}
.p_no_responses {
	display: none;
}
div#dsq-global-toolbar {
}
div#dsq-content h3 {
	display: none !important;
}
div#dsq-account-dropdown {
	display: none !important;
}
div.dsq-comment-body {
}
img.dsq-deferred-avatar {
}
div#dsq-subscribe {
	display: none !important;
}
select#dsq-sort-select {
	display: none !important;
}
div.dsq-trackback-url {
	display: none !important;
}
/* ==============================================================================
	END DISQUS - HOUDINI THEME
============================================================================== */



/* ==============================================================================
	DISQUS - NARCISSUS THEME
============================================================================== */
div.dsq-textarea {
	background: #222;
	border: 1px solid #555;
}
button#dsq-post-button {
	background: #222;
	color: #007299;
}
/* ==============================================================================
	END DISQUS - NARCISSUS THEME
============================================================================== */