.fancybox {
	border: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
	padding: 0;
	position: relative;
}
#fancybox-wrap a {
	border: 0;
}
.fancybox-title {
	background-color: #000;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	clear: both;
	color: #555;
	margin-bottom: -10px;
	padding: 5px;
	text-align: left;
}
.fancybox-title-iframe,
.fancybox-title-inside {
	background-color: transparent;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.fancybox-title strong {
	display: block;
}
.fancybox-title span {
	position: absolute;
	right: 5px;
	top: 10px;
}
.fancybox-title-iframe span {
	position: absolute;
	right: 5px;
	top: 10px;
}
.fancybox-title-iframe .title-wrap {
	display: none;
}
.fancybox-bg {
	display: none;
}