@charset 'utf-8';

/* ------------------------------------------------
 * FONTS
 * --------------------------------------------- */
@font-face {
	font-family: NeoSans;
	src: url('../assets/fonts/neosans-webfont/neosans-webfont.eot');
	src: local('☺'),
	url('../assets/fonts/neosans-webfont/neosans-webfont.woff') format('woff'),
	url('../assets/fonts/neosans-webfont/neosans-webfont.ttf') format('truetype'),
	url('../assets/fonts/neosans-webfont/neosans-webfont.svg') format('svg');
}
@font-face {
	font-family: NeoSans;
	src: url('../assets/fonts/neosans-webfont/neosans-bold-webfont.eot');
	src: local('☺'),
	url('../assets/fonts/neosans-webfont/neosans-bold-webfont.woff') format('woff'),
	url('../assets/fonts/neosans-webfont/neosans-bold-webfont.ttf') format('truetype'),
	url('../assets/fonts/neosans-webfont/neosans-bold-webfont.svg') format('svg');
	font-weight: bold;
}
@font-face {
	font-family: NeoSans;
	src: url('../assets/fonts/neosans-italic-webfont.eot');
	src: local('☺'),
	url('../assets/fonts/neosans-webfont/neosans-italic-webfont.woff') format('woff'),
	url('../assets/fonts/neosans-webfont/neosans-italic-webfont.ttf') format('truetype'),
	url('../assets/fonts/neosans-webfont/neosans-italic-webfont.svg') format('svg');
	font-style: italic;
}
@font-face {
	font-family: Klavika;
	src: url('../assets/fonts/klavika-webfont/klavika-regular-webfont.eot');
	src: local('☺'),
	url('../assets/fonts/klavika-webfont/klavika-regular-webfont.woff') format('woff'),
	url('../assets/fonts/klavika-webfont/klavika-regular-webfont.ttf') format('truetype'),
	url('../assets/fonts/klavika-webfont/klavika-regular-webfont.svg') format('svg');
}
@font-face {
	font-family: Klavika;
	src: url('../assets/fonts/klavika-webfont/klavika-bold-webfont.eot');
	src: local('☺'),
	url('../assets/fonts/klavika-webfont/klavika-bold-webfont.woff') format('woff'),
	url('../assets/fonts/klavika-webfont/klavika-bold-webfont.ttf') format('truetype'),
	url('../assets/fonts/klavika-webfont/klavika-bold-webfont.svg') format('svg');
	font-weight: bold;
}
@font-face {
	font-family: Klavika;
	src: url('../assets/fonts/klavika-webfont/klavika-italic-webfont..eot');
	src: local('☺'),
	url('../assets/fonts/klavika-webfont/klavika-italic-webfont.woff') format('woff'),
	url('../assets/fonts/klavika-webfont/klavika-italic-webfont.ttf') format('truetype'),
	url('../assets/fonts/klavika-webfont/klavika-italic-webfont.svg') format('svg');
	font-style: italic;
}
@font-face {
	font-family: Klavika-Light;
	src: url('../assets/fonts/klavika-webfont/klavika-light-webfont.eot');
	src: local('☺'),
	url('../assets/fonts/klavika-webfont/klavika-light-webfont.woff') format('woff'),
	url('../assets/fonts/klavika-webfont/klavika-light-webfont.ttf') format('truetype'),
	url('../assets/fonts/klavika-webfont/klavika-light-webfont.svg') format('svg');
}