@charset 'utf-8';
@import url('fonts.css');
@import url('tumblr.css');

/* ==============================================================================
	GENERAL
============================================================================== */
html {
	overflow-y: scroll;
	overflow-y: -moz-scrollbars-vertical;
}
body {
	background-color: #252525;
	color: #999;
	font-family: NeoSans, Klavika-Light, Helvetica, Arial, sans-serif;
	font-size: 12px;
}
a {
	border-left: 3px solid #292929;
	color: #007299;
	padding: 1px 3px 1px 3px;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	transition: color linear .1s;
	-moz-transition: color linear .1s;
	-o-transition: color linear .1s;
	-webkit-transition: color linear .1s;
}
a:hover {
 	background-color: #222;
 	border-left-color: #333;
	color: #0098cc;
	text-shadow: 0 1px 0 rgba(0,0,0,.9);
}
a:active {
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}
.button {
	background: #004c66;
	border-left: none;
	color: #fff;
	font-size: 12px;
	padding: 5px 10px;
}
.button:hover {
	background: #007299;
	color: #fff;
}
.button:active {
	text-shadow: none;
	color: #fff;
}
.hide {
	display: none;
}
a.mobile-bar {
	display: block;
	position: relative;
	top: -70px;
	right: 5px;
	width: 650px;
	height: 20px;
	margin: 0 auto;
	padding: 5px 0 0 105px;
	font-size: 16px;
	background-color: #000;
}
a.mobile-bar-close {
	float: right;
	position: relative;
	top: -90px;
	left: -20px;
}
div.ie-bar {
	background-color: #202020;
	display: none;
	font-size: 9px;
	padding: 2px;
	position: relative;
	width: 100%;
}
a.ie-bar-close {
	position: absolute;
	right: 10px;
	top: 10px;
}
code {
	background-color: #202020;
}
div.highlight {
	background-color: #202020;
	margin: 10px 0;
	overflow-x: auto;
	padding: 5px;
	text-shadow: none !important;
	word-wrap: break-word;
}
div.highlight code {
	word-wrap: break-word;
}
div.image-container {
	background: #222 url('/images/ajax-loader-image.gif') no-repeat 50% 50%;
	box-shadow: 2px 2px 8px rgba(0,0,0,.7);
	-moz-box-shadow: 2px 2px 8px rgba(0,0,0,.7);
	-o-box-shadow: 2px 2px 8px rgba(0,0,0,.7);
	-webkit-box-shadow: 2px 2px 8px rgba(0,0,0,.7);
	height: auto;
	margin-bottom: 10px;
	min-height: 32px;
	overflow: hidden;
	position: relative;
	width: 650px;
}
div.image-container img {
	height: auto;
	width: 100%;
}
div.main-wrap {
	height: auto;
	margin: 70px auto 0 auto;
	width: 760px;
	word-wrap: break-word;
}
div.noscript {
	background-color: #a80f0f;
	color: #fff;
	padding: 10px;
	position: absolute;
	top: 0;
	width: 760px;
}
div#top {
	position: absolute;
	top: 0;
}
em {
	display: inline;
}
h1.title {
	float: right;
	font-family: Klavika, Helvetica, Arial, sans-serif;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: -2px;
	margin-bottom: 10px;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	text-transform: uppercase;
	width: 650px;
}
h1.title span.mota {
	font-weight: normal;
}
h1.title span.slash {
	font-family: klavika-Light, Helvetica, Arial, sans-serif;	
	font-weight: normal;
	position: relative;
	top: -2px;
}
h1.title span.sub {
	font-family: klavika-Light, Helvetica, Arial, sans-serif;	
	font-weight: normal;
	margin-left: -2px;
}
h1.title a {
	color: #999 !important;
}
h1.title a:hover {
	color: #007299 !important;
}
::selection {
	background-color: #000;
	background-color: rgba(0,0,0,.8);
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,.3);
}
::-moz-selection {
	background-color: #000;
	background-color: rgba(0,0,0,.8);
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,.3);
}
label {
	margin-right: 5px;
}
p {
	line-height: 125%;
	padding: 12px 0 4px 0;
}
p+p {
	padding: 4px 0;
}
strong {
	font-weight: bold;
}
input[type=text],
textarea {		
	background-color: #222;
	border: 0;

	color: #555;
	font-family: inherit;
	font-size: 12px;
	height: 20px;
	width: 225px;
	padding: 2px;
	transition: border-color .3s linear, color .1s linear;
	-moz-transition: border-color .3s linear, color .1s linear;
	-o-transition: border-color .3s linear, color .1s linear;
	-webkit-transition: border-color .1s linear, color .1s linear;
}
input[type=text]:focus,
textarea:focus {
	background-color: #222;
	border-color: #007299;
	border-left: 4px solid #007299;
	color: #999;
}
input[type=text]:blur,
textarea:blur {
	background-color: inherit;
	border-color: #555;
	border-left: 4px solid #555;
	color: #555;
}
textarea {
	overflow: auto;
	resize: none;
}
ul li {
	line-height: 125%;
}
/* ==============================================================================
	END GENERAL
============================================================================== */



/* ==============================================================================
	MAIN NAVIGATION
============================================================================== */
nav.main-side-nav {
	background-color: #252525;
	float: left;
	position: fixed;
	width: 75px;
	z-index: 1000;
}
a.nav-logo {
	background: url('/images/logo.png') no-repeat 0 0;
	border-left: none !important;
	display: block;
	height: 50px;
	margin: 0 auto;
	padding: 0 0 10px 0 !important;
	width: 48px;
}
a.nav-logo:hover {
	background-color: #252525 !important;
}
ul.main-nav a {
	border-left: 4px solid #292929;
	color: #999;
	display: block;
	font-size: 13px;
	padding: 2px 2px 2px 4px;
}
ul.main-nav a:hover,
ul.main-nav a:active {
	background-color: #292929;
	border-left: 4px solid #444;
	color: #fff;
}
ul.main-nav a.selected {
	background-color: #323232;
	border-left: 4px solid #999;
	color: #fff;
	font-weight: bold;
}
/* ==============================================================================
	END MAIN NAVIGATION
============================================================================== */



/* ==============================================================================
	CONTENT
============================================================================== */
section.content {
	float: right;
	height: auto;
	position: relative;	
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	width: 650px;
}
.content img {
	background: #222 url('/images/ajax-loader-image.gif') no-repeat 50% 50%;
	box-shadow: 2px 2px 8px rgba(0,0,0,.7);
	-moz-box-shadow: 2px 2px 8px rgba(0,0,0,.7);
	-o-box-shadow: 2px 2px 8px rgba(0,0,0,.7);
	-webkit-box-shadow: 2px 2px 8px rgba(0,0,0,.7);
	height: auto;
	width: 100%;
}
div.content-container {
	height: auto;
	float: right;
	position: relative;
	width: 650px;
}
/* ==============================================================================
	END CONTENT
============================================================================== */



/* ==============================================================================
	LOADERS
============================================================================== */
div.loader {
	background: url('/images/ajax-loader.gif') no-repeat 0 0;
	height: 16px;
	margin-right: 5px;
	width: 16px;
}
div.loader-container {
	clear: both;
	display: none;
	height: 15px;
	padding-top: 20px;
	width: 128px;
}
div.page-loader {
	background: url('/images/ajax-loader-page.gif') no-repeat 0 0;
	clear: both;
	float: left;
	height: 15px;
	width: 128px;
}
img.loader {	
	clear: both;
	display: block;
	height: 16px;
	width: 16px;
}
/* ==============================================================================
	END LOADERS
============================================================================== */



/* ==============================================================================
	STREAM
============================================================================== */
.stream-wrap {
	margin-bottom: 10px;
}
.stream-iframe-latitude {
	background: #252525 url('/images/ajax-loader.gif') no-repeat 0 0;
	border: 0 !important;
	clear: both;
	height: 16px;
	overflow: hidden;
	width: 100%;
}
.stream-logo {
	background-position: 0 0;
	background-repeat: no-repeat;
	border-left: none !important;
	display: block;
	height: 16px;
	margin-bottom: 5px;
	padding: 0 !important;
	width: auto;
}
.stream-logo:hover {
	background-color: #252525;
}
.stream-logo-blog,
.stream-logo-latitude {
	color: #999;
	display: block;
	font-size: 18px;
	margin-bottom: 5px;
}
.stream-logo-blog:hover,
.stream-logo-latitude:hover {
	color: #007799;
}
.stream-logo-tumblr {
	background: url('/images/tumblr-sprite.png');
	width: 75px;
}
.stream-logo-tumblr:hover,
.stream-logo-tumblr:active {
	background-position: 0 16px;
}
.stream-logo-facebook {
	background: url('/images/facebook-sprite.png');
	width: 73px;
}
.stream-logo-facebook:hover,
.stream-logo-facebook:active {
	background-position: 0 16px;
}
.stream-logo-twitter {
	background: url('/images/twitter-sprite.png');
	width: 78px;
}
.stream-logo-twitter:hover,
.stream-logo-twitter:active {
	background-position: 0 16px;
}
.stream-logo-delicious {
	background: url('/images/delicious-sprite.png');
	height: 15px;
	width: 83px;
}
.stream-logo-delicious:hover,
.stream-logo-delicious:active {
	background-position: 0 16px;
}
.stream-logo-lastfm {
	background: url('/images/lastfm-sprite.png');
	width: 62px;
}
.stream-logo-lastfm:hover,
.stream-logo-lastfm:active {
	background-position: 0 16px;
}
.stream-logo-wakoopa {
	background: url('/images/wakoopa-sprite.png');
	width: 75px;
	height: 18px;
}
.stream-logo-wakoopa:hover,
.stream-logo-wakoopa:active {
	background-position: 0 18px;
}
.stream-logo-flickr {
	background: url('/images/wakoopa-sprite.png');
	width: 75px;
	height: 18px;
}
.stream-logo-flickr:hover,
.stream-logo-flickr:active {
	background-position: 0 18px;
}
.stream-ul {
	clear: both;
	display: block;
}
.stream-ul-lastfm {
	clear: both;
	height: auto;
	width: 300px;
}
.stream-ul-wakoopa {
	clear: both;
	height: auto;
	width: 200px;
}
.stream-ul-chart li {
	font-size: 10px;
	margin: 2px;
	padding: 2px;
}
.stream-ul-chart li:nth-child(odd) {
	background-color: #202020;	
}
.stream-ul-chart a  {
	color: #999;
}
.stream-ul-chart a:hover,
.stream-ul-chart a:active  {
	text-decoration: underline;
}
.stream-ul-chart .status-date,
.stream-ul-chart .status-date {
	border-left: 2px solid #222;
	float: right;
	padding: 2px;
}
.stream-ul-flickr li a {
	display: inline;
	float: left;
	height: auto;
	margin-right: 5px;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	width: 80px;
}
.stream-ul-flickr a:hover,
.stream-ul-flickr a:hover {
	-webkit-transform: scale(1.3);
	z-index: 100;
}
.status-date {
	font-size: 9px;
}
/* ==============================================================================
	END STREAM
============================================================================== */



/* ==============================================================================
	ABOUT
============================================================================== */
a.google-plus-link {
	font-size: 10px;
}
/* ==============================================================================
	END ABOUT
============================================================================== */



/* ==============================================================================
	PORTFOLIO
============================================================================== */
.work-sort-wrap {
	position: absolute;
	right: 0;
	top: -25px;
}
.work-sort-wrap a.selected {
	background-color: #252525;
	border-left-color: #252525;
	color: #999;
	cursor: default; 
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}
div.project {
	margin-bottom: 25px;
}
.project .image-container {
	height: 200px;
	transition: box-shadow linear .2s;
	-moz-transition: -moz-box-shadow linear .2s;
	-o-transition: -o-box-shadow linear .2s;
	-webkit-transition: -webkit-box-shadow linear .2s;
}
.project .image-container img {
	height: auto;
	left: 0;
	position: absolute;
	width: 100%;
}
.overlay-popup {
	background: #000;
	bottom: -90px;
	box-sizing: border-box;
	height: 100px;
	opacity: .9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)" !important;
	filter: alpha(opacity=90) !important;
	padding: 10px;
	position: absolute;
	width: 100%;
}
.overlay-project-description {
	display: block;
	height: 100px;
	position: relative;
	width: 100%;
}
.project-name-wrap {
	display: block;
	float: left;
	padding-top: 25px;
	width: 210px;
}
.project-name {
	display: block;
	font-size: 20px;
	font-weight: bold;	
	padding-bottom: 5px;
}
.project-description {
	display: block;
	font-style: italic;	
}
.project-role {
	border-left: 1px solid #212121;
	border-right: 1px solid #212121;
	display: block;
	float: left;
	width: 240px;	
	height: 80px;
	vertical-align: middle;
}
.project-role-ul {
	list-style-type: square;
	padding: 25px 20px 0 20px;
}
.project-view {
	display: block;
	float: right;
	line-height: 75px;
	width: 130px;	
}
.project-view a:hover {
	background: #000;
}
.overlay {
	display: none !important;
	background-color: #000;
	bottom: 0;
	display: block;
	height: 100%;
	left: 0;
	opacity: .2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)" !important;
	filter: alpha(opacity=20) !important;
	position: absolute;
	width: 100%;
}
div.work-description {
	padding-bottom: 10px;
	position: relative;
}
.work-date {
	color: #777;
	float: right;
	font-size: 10px;
}
a.site-link {
	font-size: 10px;
}
/*
.miggs-thumb {
	height: auto;
	position: absolute;
	width: 130% !important;
}
.foodfail-thumb {
	height: auto;
	position: absolute;
	width: 150% !important;
}
.miguelmota-thumb {
	height: auto;
	position: absolute;
	width: 110% !important;
}
.mtip-thumb {
	height: auto;
	position: absolute;
	top: -60px;
	width: 120% !important;
}
.retrofunk-thumb {
	bottom: -100px;
	height: auto;
	position: absolute;
	width: 150% !important;
}
.mrgpropertiesinc-thumb {
	height: auto;
	position: absolute;
	top: -30px;
	width: 150% !important;
}
*/
.fancybox {
	background: #222 url('/images/ajax-loader-image.gif') no-repeat 50% 50%;
	border: 0;
	display: block;
	padding: 0;
	position: relative;
}
div#fancybox-wrap a {
	border: 0;
}
span.zoom-icon {
	background-color: #000;
	background-color: rgba(0,0,0,.8);
	bottom: 10px;
	color: #fff;
	display: none;
	font-size: 11px;
	padding: 4px;
	position: absolute;
	right: 10px;
}
div.fancybox-title {
	background-color: #000;
	color: #555;
	margin-bottom: -10px;
	padding: 5px;
	text-align: left;
}
div.fancybox-title strong {
	display: block;
	margin-right: 80px;
}
div.fancybox-title span {
	float: right;
}
div.work-image {
	height: auto;
	margin-bottom: 15px;
	width: 650px;
}
div.work-image img {
	height: auto;
	width: 100%;
}
/* ==============================================================================
	END PORTFOLIO
============================================================================== */



/* ==============================================================================
	CONTACT
============================================================================== */
div.contact-qrcode {
	background: #222 url('/images/qrcode.png') no-repeat 0 0;
	float: right;
	height: 88px;
	position: absolute;
	right: 0;
	top: -25px;
	width: 88px;
}
.phone-wrap {
	display: none;
}
.phone-icon {
	background: url('/images/pictos/313-999.png') no-repeat 0 0;
	display: inline-block;
	height: 16px;
	vertical-align: middle;
	width: 7px;
}
form.contact-form {
	float: left;
}
div.input {
	margin-bottom: 10px;
}
textarea.contact-message {
	height: 275px;
	max-height: 275px;
	max-width: 640px;
	width: 640px;
}
a.contact-submit {
	float: right;
	font-size: 14px;
	padding: 8px 16px;
}
input.error,
textarea.error {
	border-color: #870000;
}
label.error {
	background-color: inherit;
	color: #870000;
	margin-left: 5px;
}
label[for='message'].error {
	float: left;
	margin: 10px 0 0 0;
}
/* ==============================================================================
	END CONTACT
============================================================================== */



/* ==============================================================================
	BLOG
============================================================================== */
div.blog-info {
	clear: both;
	font-size: 10px;
	height: 30px;
	overflow: hidden;
	padding-bottom: 20px;
	width: 650px; 
}
div.blog-description {
	font-size: 10px;
	height: auto;
	float: left;
	width: 300px;
}
div.follow-container {
	background-color: #222;
	font-size: 12px;
	height: 22px;
	float: right;
	padding: 5px;
	position: relative;
	right: -70px;
	width: 340px;
}
.rss-icon {
	background: url('/images/rss.png') no-repeat 0 0;
	display: inline-block;
	height: 16px;
	vertical-align: middle;
	width: 16px;
}
a.subscribe-button { 
	bottom: 5px;
	border: 2px;
	color: #ed7e2a;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	right: 75px;
}
a.subscribe-button:hover {
	background-color: none;
	text-decoration: underline;
}
a.subscribe-button img { 
	height: 16px;
	vertical-align: middle;
	width: 16px;
}
h1.post-title {
	border-bottom: 1px solid #555;
	margin-bottom: 5px;
	padding-bottom: 1px;
}
h1.post-title a {
	border-left-width: 5px;
	display: block;
	font-family: Klavika, Helvetica, Arial, sans-serif;
	font-size: 26px;
	padding-left: 5px;
}
div.post {
	padding-bottom: 55px;
}
div.post-info {
	clear: both;
	font-size: 10px;
	padding-bottom: 20px;
}
a.post-date {
	float: left;
}
.comment-count-wrap {
	float: right;
}
.comment-bubble-icon {
	background: url('/images/pictos/235-00374a.png') no-repeat 0 0;
	display: inline-block;
	height: 14px;
	vertical-align: middle;
	width: 16px;
}
div.tags-wrap {
	font-size: 10px;
	padding-top: 30px;	
}
div.share-container {
	background-color: #222;
	clear: both;
	padding: 5px;
	width: 100%;
	margin: 15px 0 20px 0;
}
.tumblr-share-button {
	border-left: 0;
	float: right;
	padding: 0;
}
.navigation {
	height: 20px;
	padding-bottom: 20px;
	position: relative;
}
.previous-url {
	float: left;
}
.next-url {
	float: right;
}
a.archive-link {
	margin-top: 25px;
}
/* ==============================================================================
	END BLOG
============================================================================== */


/* ==============================================================================
	PAYPAL PAGE
============================================================================== */
.paypal-button-wrap {
	padding-top: 20px;
}
/* ==============================================================================
	END PAYPAL PAGE
============================================================================== */



/* ==============================================================================
	GOOGLE CUSTOM SEARCH ENGINE
============================================================================== */
div#cse-search-form {
	float: right;
	padding: 0;
	position: absolute;
	right: 0;
	top: -45px;
	width: 300px;
}
div#cse-search-form input[type=text] {
	background: #222 !important;
	border: 1px solid #555;
	border-left: 4px solid #555 !important;
	color: #555 !important;
	width: 250px !important;
}
div#cse-search-form input[type=text]:focus {
	border-color: #007299 !important;
	color: #999 !important;
}
div#cse {
	clear: both;
}
div#cse,
div.gsc-control-cse,
div.gsc-results,
div.gsc-resultsRoot {
	background-color: #252525 !important;
	border: 0 !important;
	padding: 0 !important;
}
div#cse a,
div#cse a b,
a.gs-title {
	color: #007299 !important;
	font-size: 14px !important;
	text-decoration: none !important;
}
div.gs-snippet {
	color: #999 !important;
	font-size: 12px !important;
}
input[type=submit].gsc-search-button,
td.gsc-search-button,
td.gcsc-branding-text,
td.gcsc-branding-img-noclear  {
	display: none;
}
div.gsc-result {
	border: 0 !important;
	padding: 0 !important;
}
div.gs-no-results-result div.gs-snippet {
	background-color: #252525 !important;
	border: 0 !important;
	color: #870000 !important;
}
div.gs-visibleUrl  {
	color: #555 !important;
	font-size: 10px;
	padding-bottom: 2px !important;
}
div.gsc-cursor-box {
	background-color: #252525 !important;
	border: 0 !important;
	padding: 0 !important;
}
div.gsc-cursor-page  {
	background-color: #252525 !important;
	color: #007299 !important;
}
div.gsc-cursor-current-page  {
	color: #555 important;
}
/* ==============================================================================
	END GOOGLE CUSTOM SEARCH ENGINE
============================================================================== */



/* ==============================================================================
	MAIN FOOTER
============================================================================== */
footer.main-footer {
	clear: both;
	height: 20px;
	padding: 25px 0 15px 0;
	position: relative;
	width: 100%;
}
footer.main-footer p {
	background-color: inherit;
	color: #333;
	font-size: 9px;
	width: 100%;
}
a.top-link {
	display: none;
	float: right;
}
/* ==============================================================================
	END MAIN FOOTER
============================================================================== */