@charset 'utf-8';
@import url('fonts.css');

/* ==============================================================================
	BASIC
============================================================================== */
body {
	background-color: #252525;
	color: #999;
	font-family: 'Ubuntu Condensed', Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-shadow: 0 -1px 0 rgba(0,0,0,.8);
}
.main-wrap {
	height: auto;
	margin: 70px 20px 0 20px;
	word-wrap: break-word;
	padding-left: 250px;
	position: relative;
}
#top {
	position: absolute;
	top: 0;
}
.clear {
	clear: both;
}
.hide {
	display: none !important;
}
a {
	color: #007299;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	transition: background-color linear .1s, color linear .1s;
	-moz-transition: background-color linear .1s, color linear .1s;
	-o-transition: background-color linear .1s, color linear .1s;
	-webkit-transition: background-color linear .1s, color linear .1s;
}
a:hover {
	color: #0098cc;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}
a:active {
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}
a.mobile-bar {
	display: block;
	position: relative;
	top: -70px;
	right: 5px;
	width: 650px;
	height: 20px;
	margin: 0 auto;
	padding: 5px 0 0 105px;
	font-size: 16px;
	background-color: #000;
}
a.mobile-bar-close {
	float: right;
	position: relative;
	top: -90px;
	left: -20px;
}
code {
	background-color: #202020;
}
.highlight {
	background-color: #202020;
	margin: 10px 0;
	overflow-x: auto;
	padding: 5px;
	text-shadow: none !important;
	word-wrap: break-word;
}
.highlight code {
	word-wrap: break-word;
}
em {
	display: inline;
}
img {
	background-color: #222;
	border: 0;
}
.title {
	font-family: Klavika, 'Ubuntu Condensed', Helvetica, Arial, sans-serif;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: -2px;
	margin-bottom: 10px;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	text-transform: uppercase;
	width: 650px;
}
.title .mota {
	font-weight: normal;
}
.title .slash {
	font-family: klavika-Light, 'Ubuntu Condensed', Helvetica, Arial, sans-serif;	
	font-weight: normal;
	position: relative;
	top: -2px;
}
.title .sub {
	font-family: klavika-Light, 'Ubuntu Condensed', Helvetica, Arial, sans-serif;	
	font-weight: normal;
	margin-left: -2px;
}
::selection {
	background-color: #000;
	background-color: rgba(0,0,0,.8);
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,.3);
}
::-moz-selection {
	background-color: #000;
	background-color: rgba(0,0,0,.8);
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,.3);
}
label {
	margin-right: 5px;
}
p {
	line-height: 125%;
	padding: 12px 0 4px 0;
}
p+p {
	padding: 4px 0;
}
strong {
	font-weight: bold;
}
ul li {
	line-height: 125%;
}
/* ==============================================================================
	END BASIC
============================================================================== */



/* ==============================================================================
	INPUT
============================================================================== */
input[type=text],
input[type=password],
textarea {		
	background-color: #202020;
	border: 0;
	border-left: 4px solid #292929;
	color: #555;
	font-family: inherit;
	font-size: 14px;
	height: 20px;
	width: 225px;
	padding: 4px 4px 4px 8px;
	transition: border-color .3s linear, color .1s linear;
	-moz-transition: border-color .3s linear, color .1s linear;
	-o-transition: border-color .3s linear, color .1s linear;
	-webkit-transition: border-color .1s linear, color .1s linear;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
	background-color: #202020;
	border-color: #007299;
	border-left: 4px solid #007299;
	color: #999;
}
textarea {
	overflow: auto;
	resize: none;
}
.input input, 
.input textarea {
	background-color: #202020;
	font-size: 16px;
	padding: 6px 6px 6px 12px;
}
.input {
	margin-bottom: 15px;
}
/* -----------------------------------------------------------------------------
	BUTTONS
------------------------------------------------------------------------------ */
.button {
	background: #004c66;
	border-left: none;
	color: #fff;
	font-size: 12px;
	padding: 5px 10px;
	text-shadow: none;
}
.button:hover {
	background: #007299;
	color: #fff;
	text-shadow: none;
}
.button:active {
	color: #fff;
	text-shadow: none;
}
/* -----------------------------------------------------------------------------
	INPUT ERROR
------------------------------------------------------------------------------ */
.error,
input.error {
	border-color: #870000;
}
label.error {
	margin: 0;
	padding: 0;
}
/* ==============================================================================
	END	INPUT
============================================================================== */



/* ==============================================================================
	LOADERS
============================================================================== */
div.loader {
	background: url('/images/ajax-loader.gif') no-repeat 0 0;
	height: 16px;
	margin: 0 auto;
	width: 16px;
}
div.loader-container {
	clear: both;
	display: none;
	height: 15px;
	padding-top: 20px;
	width: 128px;
}
div.page-loader {
	background: url('/images/ajax-loader-page.gif') no-repeat 0 0;
	clear: both;
	float: left;
	height: 15px;
	width: 128px;
}
img.loader {	
	clear: both;
	display: block;
	height: 16px;
	width: 16px;
}
/* ==============================================================================
	END LOADERS
============================================================================== */



/* ==============================================================================
	ICONS
============================================================================== */
.icon {
	border: 0;
	display: inline-block;
	height: 16px;
	opacity: .5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	padding: 0;
	transition: opacity linear .1s;
	-moz-transition: opacity linear .1s;
	-o-transition: opacity linear .1s;
	-webkit-transition: opacity linear .1s;
	vertical-align: middle;
	width: 16px;
}
.icon:hover,
.icon:active {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
.icon-no-hover:hover,
.icon-no-hover:active {
	opacity: .5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}
.icon-no-opacity {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
.icon-no-opacity:hover,
.icon-no-opacity:active {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
.icon-top {
	float: right;
	height: 24px;
	margin-bottom: 10px;
	width: 24px;
}
.icon-social {
	height: 24px;
	margin-right: 2px;
	width: 24px;
}
.icon-audio-24 {
	background: url('/images/icons/pictos/24/audio.png');
}
.icon-calendar-16 {
	background: url('/images/icons/pictos/16/calendar.png');
	width: 13px;
}
.icon-calendar-check-16 {
	background: url('/images/icons/pictos/16/calendar-check.png');
	width: 13px;
}
.icon-chat-16 {
	background: url('/images/icons/pictos/16/chat.png');
}
.icon-chat-24 {
	background: url('/images/icons/pictos/24/chat.png');
}
.icon-checkmark-16 {
	background: url('/images/icons/pictos/16/checkmark.png');
	height: 11px;
}
.icon-clock-16 {
	background: url('/images/icons/pictos/16/clock.png');
}
.icon-comments-16 {
	background: url('/images/icons/pictos/16/comments.png');
	height: 13px;
}
.icon-dribbble-24 {
	background: url('/images/icons/pictos/24/dribbble.png');
}
.icon-facebook-24 {
	background: url('/images/icons/pictos/24/facebook.png');
}
.icon-flickr-24 {
	background: url('/images/icons/pictos/24/flickr.png');
}
.icon-heart-16 {
	background: url('/images/icons/pictos/16/heart.png');
	height: 14px;
}
.icon-link-16 {
	background: url('/images/icons/pictos/16/link.png');
}
.icon-link-24 {
	background: url('/images/icons/pictos/24/link.png');
}
.icon-location-marker-16 {
	background: url('/images/icons/pictos/16/location-marker.png');
	width: 13px;
}
.icon-mail-16 {
	background: url('/images/icons/pictos/16/mail.png');
}
.icon-mail-24 {
	background: url('/images/icons/pictos/24/mail.png');
}
.icon-phone-16 {
	background: url('/images/icons/pictos/16/phone.png');
}
.icon-photo-16 {
	background: url('/images/icons/pictos/16/photo.png');
}
.icon-photo-24 {
	background: url('/images/icons/pictos/24/photo.png');
}
.icon-photoset-16 {
	background: url('/images/icons/pictos/16/photoset.png');
}
.icon-photoset-24 {
	background: url('/images/icons/pictos/24/photoset.png');
}
.icon-quote-16 {
	background: url('/images/icons/pictos/16/quote.png');
}
.icon-quote-24 {
	background: url('/images/icons/pictos/24/quote.png');
}
.icon-random-24 {
	background: url('/images/icons/pictos/24/random.png');
	height: 18px;
}
.icon-reblog-16 {
	background: url('/images/icons/pictos/16/reblog.png');
}
.icon-subscribe-24 {
	background: url('/images/icons/pictos/24/rss.png');
}
.icon-tags-16 {
	background: url('/images/icons/pictos/16/tags.png');
	width: 12px;
}
.icon-text-16 {
	background: url('/images/icons/pictos/16/text.png');
}
.icon-text-24 {
	background: url('/images/icons/pictos/24/text.png');
}
.icon-tumblr-24 {
	background: url('/images/icons/pictos/24/tumblr.png');
}
.icon-twitter-24 {
	background: url('/images/icons/pictos/24/twitter.png');
}
.icon-twitter-bird-16 {
	background: url('/images/icons/pictos/16/twitter-bird.png');
}
.icon-twitter-bird-24 {
	background: url('/images/icons/pictos/24/twitter-bird.png');
	height: 13px;
}
.icon-video-16 {
	background: url('/images/icons/pictos/16/video.png');
}
.icon-video-24 {
	background: url('/images/icons/pictos/24/video.png');
}
.icon-up-24 {
	background: url('/images/icons/pictos/24/up-2.png');
	height: 24px;
	width: 24px;
}
.icon-zoom-16 {
	background: url('/images/icons/pictos/16/zoom.png');
}
.icon-zoom-24 {
	background: url('/images/icons/pictos/24/zoom.png');
	height: 24px;
	width: 24px;
}
/* ==============================================================================
	END ICONS
============================================================================== */



/* ==============================================================================
	ZOOM OVERLAY
============================================================================== */
.zoom-wrap {
	background-color: #000;
	opacity: .5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	display: none;
	left: 0;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}
.icon-zoom-24 {
	left: 50%;
	margin: -12px 0 0 -12px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: absolute;
	top: 50%;
}
/* ==============================================================================
	END ZOOM OVERLAY
============================================================================== */



/* ==============================================================================
	FANCYBOX
============================================================================== */
.fancybox {
	border: 0;
	display: block;
	padding: 0;
	position: relative;
}
#fancybox-wrap a {
	border: 0;
}
.fancybox-title {
	background-color: #000;
	color: #555;
	margin-bottom: -10px;
	padding: 5px;
	text-align: left;
}
.fancybox-title strong {
	display: block;
	margin-right: 80px;
}
.fancybox-title span {
	float: right;
	padding-top: 5px;
}
.fancybox-bg {
	display: none;
}
/* ==============================================================================
	END FANCYBOX
============================================================================== */


/* ==============================================================================
	MAIN SIDE NAVIGATION
============================================================================== */
.main-side-nav-wrap {
	left: 0;
	position: absolute;
	width: 200px;
}
.main-side-nav {
	position: fixed;	
	width: 200px;
}
.nav-logo {
	border: 0;
	display: block;
	height: 64px;
	padding: 0 0 15px 0;
	width: 64px;
}
.site-title {
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 5px;
	text-shadow: 0 -1px 0 #000;
	text-transform: uppercase;
}
.site-description {
	color: #555;
	padding-bottom: 15px;
}
.main-side-nav-ul {
	padding-bottom: 15px;
}
.main-side-nav-ul a {
	background-color: #292929;
	border-left: 4px solid #444;
	color: #999;
	display: block;
	font-size: 13px;
	margin: 1px 0;
	padding: 6px 6px 6px 12px;
	position: relative;
	text-transform: uppercase;
	width: 100%;
}
.main-side-nav-ul a:hover,
.main-side-nav-ul a:active {
	background-color: #222;
	border-left: 4px solid #999;
	color: #fff;
}
.main-side-nav-ul a.selected {
	background-color: #323232;
	border-left: 6px solid #007299;
	color: #fff;
	font-weight: bold;
}
.follow-wrap {
	clear: both;
	padding-bottom: 15px;
	width: 100%;
}
.plus-one-button-wrap {
	position: absolute;
	right: 0;
}
.top-link-wrap {
	clear: both;
	padding: 10px 0 15px 0;
	position: relative;
	width: 100%;
}
.top-link {
	display: none;
	float: right;
}
/* ==============================================================================
	END MAIN SIDE NAVIGATION
============================================================================== */



/* ==============================================================================
	LATEST TWEET
============================================================================== */
#tweet-wrap {
	display: none;
	padding-bottom: 15px;
	position: relative;
}
.tweet-bird-icon {
	float: left;
}
#tweets {
	float: right;
	position: relative;
	width: 165px;
}
.tweet-content {
	background-color: #222;
	float: left;
	min-height: 20px;
	padding: 10px;
	width: 145px;
}
.tweet-content:after {
	border-color: transparent #222;
	border-style: solid;
	border-width: 8px 15px 8px 0;
	bottom: auto;
	content: "";
	display: block; 	
	left: -10px; /* value = - border-left-width - border-right-width */
	top: 3px;
	position: absolute;
	width: 0;
	z-index: -100;
}
.tweet-content a {
	font-weight: normal;
}
.tweet-date {
	font-size: 12px;
}
/* ==============================================================================
	END LATEST TWEET
============================================================================== */



/* ==============================================================================
	MAIN CONTENT
============================================================================== */
.main-content-wrap {
	height: auto;
	position: relative;
}
.content-item {
	background-color: #222;
	margin: 5px;
	padding: 20px;
	width: 700px;
}
/* ==============================================================================
	END MAIN CONTENT
============================================================================== */



/* ==============================================================================
	STREAM PAGE
============================================================================== */
.stream-wrap {
	width: 350px
}
/*
.stream-latitude {
	width: 250px;
}
.stream-twitter {
	width: 500px;
}
.stream-lastfm {
	width: 500px;
}
.stream-wakoopa {
	width: 250px;
}
*/
.stream-flickr {
	width: 535px;
}
.stream-latitude .icon-location-marker-16 {
	float: left;
	margin-right: 3px;
}
.stream-iframe-latitude {
	background: #222 url('/images/ajax-loader.gif') no-repeat 0 0 !important;
	border: 0 !important;
	float: left;
	height: 16px;
	overflow: hidden;
	width: 80%;
}
/* -----------------------------------------------------------------------------
	STREAM LOGO
------------------------------------------------------------------------------ */
.stream-logo {
	background-position: 0 0;
	background-repeat: no-repeat;
	border: 0;
	display: block;
	height: 16px;
	margin-bottom: 5px;
	padding: 0;
	width: auto;
}
.stream-logo:hover {
	background-color: #222;
}
.stream-logo-latitude {
	font-weight: normal;
}
.stream-logo-blog {
	font-weight: bold;
}
.stream-logo-blog,
.stream-logo-latitude {
	color: #999;
	display: block;
	font-size: 18px;
	margin-bottom: 5px;
}
.stream-logo-blog:hover,
.stream-logo-latitude:hover {
	color: #007799;
}
.stream-logo-tumblr {
	background: url('/images/sprites/tumblr-sprite.png');
	height: 16px;
	width: 75px;
}
.stream-logo-tumblr:hover,
.stream-logo-tumblr:active {
	background-position: 0 15px;
}
.stream-logo-facebook {
	background: url('/images/sprites/facebook-sprite.png');
	width: 73px;
}
.stream-logo-facebook:hover,
.stream-logo-facebook:active {
	background-position: 0 16px;
}
.stream-logo-twitter {
	background: url('/images/sprites/twitter-sprite.png');
	width: 78px;
}
.stream-logo-twitter:hover,
.stream-logo-twitter:active {
	background-position: 0 16px;
}
.stream-logo-delicious {
	background: url('/images/sprites/delicious-sprite.png');
	height: 15px;
	width: 83px;
}
.stream-logo-delicious:hover,
.stream-logo-delicious:active {
	background-position: 0 16px;
}
.stream-logo-lastfm {
	background: url('/images/sprites/lastfm-sprite.png');
	width: 62px;
}
.stream-logo-lastfm:hover,
.stream-logo-lastfm:active {
	background-position: 0 16px;
}
.stream-logo-wakoopa {
	background: url('/images/sprites/wakoopa-sprite.png');
	width: 75px;
	height: 18px;
}
.stream-logo-wakoopa:hover,
.stream-logo-wakoopa:active {
	background-position: 0 18px;
}
.stream-logo-flickr {
	background: url('/images/sprites/flickr-sprite.png');
	width: 51px;
	height: 16px;
}
.stream-logo-flickr:hover,
.stream-logo-flickr:active {
	background-position: 0 16px;
}
/* -----------------------------------------------------------------------------
	STREAM UNORDERED LIST
------------------------------------------------------------------------------ */
.stream-ul {
	clear: both;
	display: block;
}
.stream-ul-lastfm {
	clear: both;
	height: auto;
}
.stream-ul-wakoopa {
	clear: both;
	height: auto;
}
.stream-ul-chart {
	width: 100%;
}
.stream-ul-chart li {
	margin-bottom: 2px;
	padding: 3px;
}
.stream-ul-chart li:nth-child(odd) {
	background-color: #202020;	
}
.stream-ul-chart .status-date,
.stream-ul-chart .status-date {
	border-left: 2px solid #222;
	float: right;
}
/* -----------------------------------------------------------------------------
	STREAM CAROUSEL
------------------------------------------------------------------------------ */
.stream-thumb {
	background: none;
	border: 0;
	height: 16px;
	min-height: 8px;
	width: 16px;
}
.stream-carousel-wrap {		
	position: relative;
}
.stream-carousel {
	background-color: #222;
	float: left;
	margin: 0 5px;
	padding: 20px 0;
}
.stream-carousel-nav {	
	background-color: #202020;
	display: inline-block;
	border-left: 0;
	float: left;
	margin-top: 10px;
	min-height: 120px;
	padding: 0 14px;
	position: relative;
	text-align: center;
	text-shadow: none;
}
.stream-carousel-nav:hover,
.stream-carousel-nav:active {	
	background-color: #007299;
	color: #fff;
	text-shadow: none;
}
.stream-carousel-nav-inner {
	left: 5%;
	margin-top: -6px;
	position: absolute;
	right: 5%;
	top: 50%;
}
/* -----------------------------------------------------------------------------
	STREAM FLICKR PHOTOS
------------------------------------------------------------------------------ */
.stream-ul-flickr,
.stream-ul-flickr li {
	overflow: visible !important;
}
.stream-ul-flickr li a {
	background-color: #222;
	display: inline-block;
	float: left;
	min-height: 120px;
	height: auto;
	margin-right: 1px;
	position: relative;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	width: 150px;
}
.stream-ul-flickr .zoom-wrap {
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}
.stream-ul-flickr .icon-zoom-flickr {
	background: url('/images/icons/pictos/24/zoom-black.png');
	opacity: .7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}
.stream-ul-flickr img {
	background: #222 url('http://static.tumblr.com/r8galzl/wmilu4kzw/ajax-loader-image.gif') no-repeat 50% 50%;
	box-shadow: 2px 2px 8px rgba(0,0,0,.7);
	-moz-box-shadow: 2px 2px 8px rgba(0,0,0,.7);
	-o-box-shadow: 2px 2px 8px rgba(0,0,0,.7);
	-webkit-box-shadow: 2px 2px 8px rgba(0,0,0,.7);
	min-height: 32px;
	height: auto;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	width: 100%;
}
.stream-ul-flickr img:hover,
.stream-ul-flickr img:active {
	-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	z-index: 100;
}
/* -----------------------------------------------------------------------------
	STREAM DATE
------------------------------------------------------------------------------ */
.status-date {
	font-size: 12px;
}
/* ==============================================================================
	END STREAM PAGE
============================================================================== */



/* ==============================================================================
	ABOUT PAGE
============================================================================== */
a.google-plus-link {
	font-size: 10px;
}
/* ==============================================================================
	END ABOUT PAGE
============================================================================== */



/* ==============================================================================
	PORTFOLIO PAGE
============================================================================== */
/* -----------------------------------------------------------------------------
	PROJECT SORT
------------------------------------------------------------------------------ */
.project-sort-wrap {
	margin-top: -40px;
	padding: 10px;
	text-align: right;
	width: 650px;
}
.project-sort-wrap a.selected {
	background-color: #252525;
	border-left-color: #252525;
	color: #999;
	cursor: default; 
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}
/* -----------------------------------------------------------------------------
	PROJECT ITEMS
------------------------------------------------------------------------------ */
.project {
	height: 200px;
	width: 610px;
}
.project .image-container {
	transition: box-shadow linear .2s;
	-moz-transition: -moz-box-shadow linear .2s;
	-o-transition: -o-box-shadow linear .2s;
	-webkit-transition: -webkit-box-shadow linear .2s;
	overflow: hidden;
	behavior: url('/PIE/PIE.htc');
}
.project .image-container {
	height: auto;
	position: absolute;
	width: 610px;
}
.overlay-popup {
	background: #000;
	bottom: -100px;
	box-sizing: border-box;
	height: 100px;
	opacity: .9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)" !important;
	filter: alpha(opacity=90) !important;
	padding: 10px;
	position: absolute;
	width: 100%;
}
.overlay-project-description {
	display: block;
	height: 100px;
	position: relative;
	width: 100%;
}
.project-name-wrap {
	display: block;
	float: left;
	padding-top: 25px;
	width: 210px;
}
.project-name {
	display: block;
	font-size: 20px;
	font-weight: bold;	
	padding-bottom: 5px;
}
.project-description {
	display: block;
	font-style: italic;	
}
.project-role {
	border-left: 1px solid #212121;
	border-right: 1px solid #212121;
	display: block;
	float: left;
	width: 240px;	
	height: 80px;
	vertical-align: middle;
}
.project-role-ul {
	list-style-type: square;
	padding: 25px 20px 0 20px;
}
.project-view {
	display: block;
	float: right;
	line-height: 130%;
	margin-top: 30px;
	width: 130px;	
}
.project-view a:hover {
	background: #000;
}
.overlay {
	display: none !important;
	background-color: #000;
	bottom: 0;
	display: block;
	height: 100%;
	left: 0;
	opacity: .2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)" !important;
	filter: alpha(opacity=20) !important;
	position: absolute;
	width: 100%;
}
/* -----------------------------------------------------------------------------
	PROJECT DETAILS
------------------------------------------------------------------------------ */
.project-description .icon-link-16 {
	background: url('/images/icons/pictos/16/link-2.png');
}
.project-description-footer {
	border-top: 1px solid #333;
	margin-top: 10px;
	padding-top: 10px;
}
.site-link {}
.project-date {
	float: right;
}
/* -----------------------------------------------------------------------------
	PROJECT IMAGES
------------------------------------------------------------------------------ */
.project-image {
	float: left;
	height: auto;
	width: 350px;
}
.project-image img {
	background: #202020 url('http://static.tumblr.com/r8galzl/wmilu4kzw/ajax-loader-image.gif') no-repeat 50% 50%;
	height: auto;
	width: 100%;
}
/* ==============================================================================
	END PORTFOLIO
============================================================================== */



/* ==============================================================================
	CONTACT PAGE
============================================================================== */
.contact-item {
	position: relative;
}
.contact-qrcode {
	height: 88px;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 88px;
}
.contact-info-wrap {
	line-height: 150%;
	position: absolute;
	right: 150px;
	top: 45px;
}
.contact-info-wrap a {
	color: #999;
}
.contact-info-wrap a:hover {
	color: #fff;
}
.contact-form {
	float: left;
	width: 100%;
}
.contact-form-message {
	height: 300px;
	width: 97%;
}
.contact-form-submit {
	float: right;
	font-size: 20px;
	padding: 10px 20px;
}
.thank-you-name {
	font-size: 20px;
}
/* ==============================================================================
	END CONTACT
============================================================================== */



/* ==============================================================================
	BLOG
============================================================================== */
.blog-post-item {
	width: 500px;
}
.blog-post-single {
	max-width: 1000px;
	width: 99%;
}
/* -----------------------------------------------------------------------------
	BLOG POST TITLE
------------------------------------------------------------------------------ */
.blog-post-single h1 a {
	display: block;
	font-size: 32px;
}
.blog-post-item h1 a {
	display: block;
	font-size: 24px;
}
h6 {
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0 0 0;
}
/* -----------------------------------------------------------------------------
	BLOG POST THUMB
------------------------------------------------------------------------------ */
.blog-post-thumb {
	height: auto;
	margin: 15px 0;
	width: 100%;
}
.blog-post-single .blog-post-thumb {
	display: none;
}
/* -----------------------------------------------------------------------------
	BLOG POST TEXT
------------------------------------------------------------------------------ */
.blog-post-item .post-text {
	max-height: 408px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.view-post-wrap {
	padding: 10px 0;
	text-align: right;
}
.post-text {
	padding-bottom: 10px;
}
.post-text img,
.photo {
	background: #222 url('http://static.tumblr.com/r8galzl/wmilu4kzw/ajax-loader-image.gif') no-repeat 50% 50%;
	box-shadow: 2px 2px 8px rgba(0,0,0,.7);
	-moz-box-shadow: 2px 2px 8px rgba(0,0,0,.7);
	-o-box-shadow: 2px 2px 8px rgba(0,0,0,.7);
	-webkit-box-shadow: 2px 2px 8px rgba(0,0,0,.7);
	min-height: 32px;
	height: auto;
	width: 100%;
}
/* -----------------------------------------------------------------------------
	BLOG POST TAGS
------------------------------------------------------------------------------ */
.post-tags {
	color: #777;
	font-size: 10px;
}
.post-tags a {
	font-weight: normal;
}
.post-tags .icon-tags-16 {
	margin-right: 2px;
}
/* -----------------------------------------------------------------------------
	BLOG POST FOOTER
------------------------------------------------------------------------------ */
.post-footer {
	border-top: 1px solid #333;
	font-size: 12px;
	margin: 10px 0;
	padding: 5px 0;
}
.dsq-comment-count-wrap {
	float: right;
	padding-right: 5px;
}
.dsq-comment-wrap {
	padding: 10px 5px 5px;
	width: 100%;
}
/* -----------------------------------------------------------------------------
	BLOG POST SHARE
------------------------------------------------------------------------------ */
.share-wrap {
	position: relative;
}
.addthis_toolbox {
	display: inline;
	left: 200px;
	position: absolute;
	text-shadow: 0;	
	top: 0;
}
input.short-url {
	background: #202020;
	border: 1px solid #202020;
	border-left-width: 1px;
	float: right;
	font-size: 10px;
	margin: 0;
	padding: 4px;
	position: absolute;
	right: 0;
	top: 0;
	width: 160px;
}
input.short-url:focus {
	border: 1px solid #007299;
	border-left-width: 1px;
}
.tumblr-share-button {
	background: url('/images/buttons/tumblr-share-1.png') top left no-repeat transparent;
	display: none;
	float: right;
	height: 20px;
	margin: 0 10px 0 0;
	text-indent: -9999px;
	overflow: hidden;
	padding: 0;
	width: 81px; 
}
/* ==============================================================================
	END BLOG
============================================================================== */



/* ==============================================================================
	PAGINATION
============================================================================== */
.pagination {
	clear: both;
	font-size: 18px;
	padding: 25px 5px 5px 5px;
	position: relative;
	text-align: center;
	width: 100%;
}
.pagination-jump {
	display: inline-block;
}
.pagination-jump span {
	padding: 10px;
}
.pagination-jump a {
	padding: 10px;
}
.pagination-next {
	position: absolute;
	right: 0;
}
.pagination-previous {
	left: 0;
	position: absolute;
}
/* ==============================================================================
	END PAGINATION
============================================================================== */



/* ==============================================================================
	PAYPAL PAGE
============================================================================== */
.paypal-button-wrap {
	padding-top: 20px;
}
/* ==============================================================================
	END PAYPAL PAGE
============================================================================== */



/* ==============================================================================
	GOOGLE CUSTOM SEARCH ENGINE
============================================================================== */
.cse-search-form-wrap {
	float: right;
	margin-top: -45px;
	padding: 0;
	text-align: right;
	width: 650px;
}
#cse-search-form {
	float: right;
	padding: 0;
	width: 300px;
}
#cse-search-form input[type=text] {
	background: #222 !important;
	border: 0;
	border-left: 4px solid #292929 !important;
	color: #555 !important;
	width: 250px !important;
}
#cse-search-form input[type=text]:focus {
	border-color: #007299 !important;
	color: #999 !important;
}
.cse-wrap {
	background-color: #222;
	clear: both;
	float: left;
	padding: 20px;
	width: 500px;
	z-index: 100;
}
#cse {
	background-color: #222 !important;
	border: 0 !important;
	clear: both;
	z-index: 100;
}
.gsc-control-cse,
.gsc-results,
.gsc-resultsRoot {
	background-color: #222 !important;
	border: 0 !important;
	padding: 0 !important;
}
#cse a,
#cse a b,
.gs-title {
	color: #007299 !important;
	font-size: 14px !important;
	text-decoration: none !important;
}
.gs-snippet {
	color: #999 !important;
	font-size: 12px !important;
}
.gsc-search-button,
.gcsc-branding-text,
.gcsc-branding-img-noclear  {
	display: none;
}
.gsc-result {
	border: 0 !important;
	padding: 0 !important;
}
.gs-no-results-result div.gs-snippet {
	background-color: #222 !important;
	border: 0 !important;
	color: #870000 !important;
}
.gs-visibleUrl  {
	color: #555 !important;
	font-size: 10px;
	padding-bottom: 2px !important;
}
.gsc-cursor-box {
	background-color: #222 !important;
	border: 0 !important;
	padding: 0 !important;
}
.gsc-cursor-page  {
	background-color: #222 !important;
	color: #007299 !important;
}
.gsc-cursor-current-page  {
	color: #555 important;
}
/* ==============================================================================
	END GOOGLE CUSTOM SEARCH ENGINE
============================================================================== */



/* ==============================================================================
	MAIN FOOTER
============================================================================== */
.main-footer {
	clear: both;
	font-size: 12px;
	padding: 25px 10px;
	position: relative;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	width: 100%;
}
.main-footer-content {
	float: left;
	width: 500px;
}
.twitter-follow-button {
	float: right;
	max-width: 180px !important;
}
/* ==============================================================================
	END MAIN FOOTER
============================================================================== */



/* ==============================================================================
	NO SCRIPT
============================================================================== */
.noscript {
	background-color: #a80f0f;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	padding: 20px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
}
/* ==============================================================================
	END NO SCRIPT
============================================================================== */



/* ==============================================================================
	INTERNET EXPLORER MESSAGE
============================================================================== */
.ie-message {
	background-color: #000;
	clear: both;
	color: #fff; 
	font-size: 24px;
	text-align: center;
	padding: 20px;
	width: 100%;
}
.ie-font-34 {
	font-size: 34px;
}
.ie-color-red {
	color: #8e4848;
}
/* ==============================================================================
	INTERNET EXPLORER MESSAGE
============================================================================== */