@charset 'utf-8';
* {
	opacity: none;	
}
div.stream.latitude {
	display: none !important;	
}
span.overlay {
	display: none !important;
}
div.image-container {
	border: 1px solid #999;
}
div.image-container:hover {
	border-color: #007299;
}