@charset 'utf-8';

/* ------------------------------------------------
 * IE STYLES
 * --------------------------------------------- */

/*
	STATUS DATE
*/
.status-date {
	display: none !important;
}

/*
	STATUS LINK
*/
.stream-ul li a {
	background-color: #111 !important;	
}
.stream-ul li a:hover {
	background-color: #000 !important;
}
