@charset 'utf-8';

.main-wrap {
	margin: 10px auto 0 auto !important;
	padding: 0 !important;
	width: 100% !important;
}
.main-side-nav {
	float: none !important;
	margin-bottom: 10px !important;
	position: relative !important;
	width: 100% !important;
}
.main-nav a {
	border-left: 4px solid #292929;
	color: #999;
	font-size: 16px !important;
	padding: 8px 8px 8px 12px !important;
}
a.nav-logo {
	display: inline-block !important;
	margin: 0 5px 0 12px !important;
	vertical-align: middle !important;
}
h1.title {
	display: inline !important;
	float: none !important;
	font-size: 32px !important;
	width: 100% !important;
}
.slash,
.sub {
	display: none !important;
}
.content {
	float: none !important;
	width: 100% !important;
}
.content-container {
	float: none !important;
	padding: 5px !important;
	width: 100% !important;
}
.image-container {
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-o-box-shadow: none !important;
	-webkit-box-shadow:  none !important;
	width: 100% !important;
}
.work-image {
	width: 100% !important;
}
.work-sort-wrap {
	position: relative !important;
	top: 0 !important;
}
.contact-qrcode {
	display: none !important;
}
.contact-form {
	float: none !important;
}
.contact-message {
	max-width: 100% !important;
	width: 100% !important;
}
#cse-search-form {
	float: none !important;
	position: relative !important;
	right: 0 !important;
	top: 0 !important;
}
.blog-info {
	height: auto !important;
	width: 100% !important; 
}
.blog-description {
	float: none !important;
}
div.follow-container {
	float: none !important;
	position: relative;
	right: 0 !important;
	width: 340px;
}
