@charset 'utf-8';

.main-wrap {
	margin: 10px auto 0 auto !important;
	width: 100% !important;
}
.main-side-nav {
	float: none !important;
	margin-bottom: 10px !important;
	position: relative !important;
	width: 100% !important;
}
.nav-logo {
	display: none !important;
}
.main-nav a {
	border-left: 4px solid #292929;
	color: #999;
	font-size: 16px !important;
	padding: 8px 8px 8px 12px !important;
}
.content {
	float: none !important;
	width: 100% !important;
}
.content-container {
	float: none !important;
	width: 100% !important;
}
img {
	width: 100% !important;
}